﻿@using System.Globalization;
@{
    ViewBag.Title = "Invoice_PDF";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string invoiveprint = ViewBag.InvoicePrint;
    var printval = invoiveprint.Split('|');
}

@{

    Layout = null;

    string message = "";
    CultureInfo hindi = new CultureInfo("hi-IN");

    string font_family = "'Arial', Times, serif;";
    string font_family2 = "font-family:Bold, 'Helvetica';";
    string font_size = "font-size:8pt;";
    var ryalheader1 = Server.MapPath("~/Content/img/Ryal1.png");
    var ryalheader2 = Server.MapPath("~/Content/img/Ryal2.png");
    var ryalheader3 = Server.MapPath("~/Content/img/Ryal3.png");

    string htmlString = "";

    htmlString += "<div style=\"" + font_family + font_size + "font-size:10px;left:6mm;top:4mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:left;border:none;\"><img style=\"width:191mm;height:20mm;border:none;\" src='" + ryalheader1 + "'/></div>";

    htmlString += "<div style=\"" + font_family + font_size + "font-size:10px;left:60mm;top:95mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:left;border:none;\"><img style=\"width:80mm;height:60mm;border:none;text-align:center\" src='" + ryalheader2 + "'/></div>";

    htmlString += "<div style=\"" + font_family + font_size + "font-size:10px;left:6mm;top:275mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:left;border:none;\"><img style=\"width:191mm;height:10mm;border:none;\" src='" + ryalheader3 + "'/></div>";


    if (printval[38].ToUpper() == "YES")
    {
        if (printval[47] == "billofsupply")
        {
            htmlString += "<div style=\"" + font_family + font_size + "font-size:14px;left:8mm;top:30mm;width:190mm;height:6mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:center;\"><b>BILL OF SUPPLY<b></div>";

            htmlString += "<div style=\"" + font_family + font_size + "font-size:10px;left:8mm;top:30mm;width:190mm;height:6mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:right;\">ORIGINAL FOR RECEIPIENT</div>";
        }
        else if (printval[47] == "sezinvoice")
        {
            htmlString += "<div style=\"" + font_family + font_size + "font-size:14px;left:8mm;top:30mm;width:190mm;height:6mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:center;\"><b>TAX INVOICE (SEZ)<b></div>";

            htmlString += "<div style=\"" + font_family + font_size + "font-size:10px;left:8mm;top:30mm;width:190mm;height:6mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:right;\">ORIGINAL FOR RECEIPIENT</div>";
        }
        else
        {
            htmlString += "<div style=\"" + font_family + font_size + "font-size:14px;left:8mm;top:30mm;width:190mm;height:6mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:center;\"><b>TAX INVOICE<b></div>";

            htmlString += "<div style=\"" + font_family + font_size + "font-size:10px;left:8mm;top:30mm;width:190mm;height:6mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:right;\">ORIGINAL FOR RECEIPIENT</div>";
        }

    }
    else
    {
        if (printval[47] == "sezinvoice")
        {
            htmlString += "<div style=\"" + font_family + font_size + "font-size:14px;left:8mm;top:30mm;width:190mm;height:6mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:center;\"><b>PROFORMA INVOICE (SEZ)<b></div>";

            htmlString += "<div style=\"" + font_family + font_size + "font-size:10px;left:8mm;top:30mm;width:190mm;height:6mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:right;\">ORIGINAL FOR RECEIPIENT</div>";
        }
        else
        {
            htmlString += "<div style=\"" + font_family + font_size + "font-size:14px;left:8mm;top:30mm;width:190mm;height:6mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:center;\"><b>PROFORMA INVOICE</b></div>";
            htmlString += "<div style=\"" + font_family + font_size + "font-size:10px;left:8mm;top:33mm;width:185mm;height:6mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:right;\">DRAFT</div>";
        }
    }

    //*******upper section end
    //**********Main border start

    htmlString += "<div style=\"" + font_family + font_size + "font-size:18px;left:12mm;top:20mm;width:180mm;height:6mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:center;\"></div>";


    htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:42mm;width:188mm;height:235mm;position:absolute;padding-top:2mm;padding-left:3mm;border:1px solid;\"></div>";
    //**********Main border end

    //First Section border start
    //First Section border start left
    var addr = printval[1].Replace("\n", "<br>");
    var addr1 = addr.Replace("<br>", "@").Split('@');
    var newaddr = "";
    if (addr1.Count() > 3)
    {
        for (int i = 0; i < 4; i++)
        {
            newaddr += addr1[i] + "<br>";
        }
    }
    else
    {
        newaddr = addr;
    }
    htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:42mm;width:102mm;height:60mm;position:absolute;padding-top:2mm;padding-left:2mm;\"><b>" + printval[0].ToUpper() + "</b><br>" + newaddr.ToUpper() + "</div>";

    //POS
    htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:60mm;width:102mm;height:22mm;position:absolute;padding-top:2mm;padding-left:2mm;\">POS <br>GSTIN<br>Shipper Ref.<br>BOE No.<br>Description of Goods</div>";
    htmlString += "<div style=\"" + font_family2 + font_size + "left:46mm;top:60mm;width:90mm;height:22mm;position:absolute;padding-top:2mm;padding-left:2mm;\">: " + printval[2].ToUpper() + " <br>: " + printval[3].ToUpper() + " <br>: " + printval[20].ToUpper() + " <br>: " + printval[35].ToUpper() + " <br>: " + printval[6].ToUpper() + "</div>";


    //First Section border start right

    var countrycount = printval[10].Length;
    var countryname = printval[10];
    if (countrycount > 23)
    {
        countryname = countryname.Substring(0, 23);
    }

    htmlString += "<div style=\"" + font_family2 + font_size + "left:113mm;top:42mm;width:94.5mm;height:62mm;position:absolute;padding-top:2mm;padding-left:5mm;;line-height:150%;\"><b>Invoice No. / Date <br>MAWB No. / Date<br>HAWB No. / Date <br>Currency <br>Job No. <br>Destination <br>Packages <br>Gross/ Ch.Wt. <br>Shipper </b></div>";
    htmlString += "<div style=\"" + font_family2 + font_size + "left:140mm;top:42mm;width:4mm;height:62mm;position:absolute;padding-top:2mm;padding-left:5mm;;line-height:150%;\"><b>: <br>:  <br>: <br>: <br>: <br>: <br>: <br>: <br>: </b><br></div>";
    htmlString += "<div style=\"" + font_family2 + font_size + "left:142mm;top:42mm;width:55mm;height:62mm;position:absolute;padding-top:2mm;padding-left:5mm;;line-height:150%;\">" + printval[8].ToUpper() + " / " + printval[9].ToUpper() + "  <br> <br> <br>" + printval[14].ToUpper() + " <br>" /*+ printval[15].ToUpper() + " / " */+ printval[16].ToUpper() + " <br>" + countryname.ToUpper() + " <br>" + printval[18].ToUpper() + " <br>" + printval[19].ToUpper() + " <br>" + printval[48].ToUpper() + "</div>";
    //First Section border End

    //Details Section border start


    htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:72mm;width:189mm;height:7mm;position:absolute;padding-top:3mm;padding-left:2mm;border-bottom:1px solid;\"></div>";

    var cgst = Convert.ToDecimal(printval[24].Split(',')[0]);

    if (printval[2].Substring(0, 2) == printval[44].Substring(0, 2))
    {
        //////*******************************************************************START CGST and SGST *********************************************************************
        htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:80mm;width:189mm;height:113mm;position:absolute;padding-top:2mm;padding-left:2mm;border-bottom:1px solid;\"></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:80mm;width:189mm;height:12mm;position:absolute;padding-top:2mm;padding-left:2mm;border-bottom:1px solid;\"></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:82mm;width:6mm;height:111mm;position:absolute;padding-top:2mm;padding-left:2mm;border-right:1px solid;\"><b>SL.</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:13mm;top:82mm;width:89mm;height:111mm;position:absolute;padding-top:2mm;padding-left:2mm;border-right:1px solid;text-align:center;\"><b>Particulars</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:104mm;top:82mm;width:12mm;height:111mm;position:absolute;padding-top:2mm;padding-left:0mm;border-right:1px solid;text-align:center\"><b>SAC<br>HSN</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:115mm;top:82mm;width:24mm;height:111mm;position:absolute;padding-top:2mm;padding-left:0mm;border-right:1px solid;text-align:center\"><b>Amount</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:139mm;top:82mm;width:31mm;height:112mm;position:absolute;padding-top:1mm;padding-left:0mm;border-right:1px solid;text-align:center;\"><b>CGST</b></div>";

        htmlString += "<div style=\"" + font_family2 + font_size + "left:140.5mm;top:88mm;width:13mm;height:11mm;position:absolute;padding-top:1mm;padding-left:0mm;\"><b>Rate(%)</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:154.5mm;top:88mm;width:17mm;height:11mm;position:absolute;padding-top:1mm;padding-left:1mm;\"><b>Amount</b></div>";



        htmlString += "<div style=\"" + font_family2 + font_size + "left:173mm;top:82mm;width:27mm;height:11mm;position:absolute;padding-top:1mm;padding-left:0mm;text-align:center;\"><b>SGST</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:170.5mm;top:88mm;width:13mm;height:11mm;position:absolute;padding-top:1mm;padding-left:1mm;\"><b>Rate(%)</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:186mm;top:88mm;width:17mm;height:11mm;position:absolute;padding-top:1mm;padding-left:1mm;\"><b>Amount</b></div>";

        htmlString += "<div style=\"" + font_family2 + font_size + "left:139mm;top:82mm;width:60mm;height:4mm;position:absolute;padding-top:2mm;padding-left:2mm;border-bottom:1px solid;\"></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:134mm;top:88mm;width:17mm;height:98mm;position:absolute;padding-top:2mm;padding-left:2mm;border-right:1px solid;\"></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:165mm;top:88mm;width:17mm;height:98mm;position:absolute;padding-top:2mm;padding-left:2mm;border-right:1px solid;\"></div>";
        //Details Section border End
        //Details Section data field
        var hei = 94.0;
        decimal? totalamount = 0;
        decimal? sgstamt = 0;
        var rowcount = Convert.ToInt32(printval[21]);
        for (int i = 0; i < rowcount; i++)
        {

            totalamount += Convert.ToDecimal(printval[27].ToUpper().Split(',')[i]);
            var currency = printval[14].ToUpper();
            htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:" + hei + "mm;width:6mm;height:10mm;position:absolute;padding-top:2mm;padding-left:2mm;\">" + (i + 1) + "</div>";
            htmlString += "<div style=\"" + font_family2 + font_size + "left:18mm;top:" + (hei + (0.4)) + "mm;width:85mm;height:10mm;position:absolute;padding-top:2mm;padding-left:2mm;text-align:left;line-height:100%;letter-spacing: 1px;\">" + printval[22].ToUpper().Split(',')[i] + "</div>";
            htmlString += "<div style=\"" + font_family2 + font_size + "left:105mm;top:" + hei + "mm;width:15mm;height:10mm;position:absolute;padding-top:2mm;padding-left:0mm;text-align:left;\">" + printval[23].ToUpper().Split(',')[i] + "</div>";
            if (currency.Split('/')[0] == "INR ")
            {
                var totamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(printval[27].ToUpper().Split(',')[i]), 2)).Replace("₹", "");
                htmlString += "<div style=\"" + font_family2 + font_size + "left:114mm;top:" + hei + "mm;width:24mm;height:10mm;position:absolute;padding-top:2mm;padding-right:3mm;text-align:right;\">" + totamtinr + "</div>";
                htmlString += "<div style=\"" + font_family2 + font_size + "left:145mm;top:" + (hei + 1) + "mm;width:13mm;height:11mm;position:absolute;padding-top:1mm;padding-left:0mm;\"> " + printval[39].ToUpper().Split(',')[i] + "</div>";
                var cgstamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(printval[24].ToUpper().Split(',')[i]), 2)).Replace("₹", "");
                var sgstamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(printval[25].ToUpper().Split(',')[i]), 2)).Replace("₹", "");
                htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:" + (hei + 1) + "mm;width:17mm;height:11mm;position:absolute;padding-top:1mm;padding-right:2mm;text-align:right;\">" + cgstamtinr + "</div>";

                sgstamt += Convert.ToDecimal(printval[24].ToUpper().Split(',')[i]);

                htmlString += "<div style=\"" + font_family2 + font_size + "left:175mm;top:" + (hei + 1) + "mm;width:13mm;height:11mm;position:absolute;padding-top:1mm;padding-left:0mm;\"> " + printval[40].ToUpper().Split(',')[i] + "</div>";
                htmlString += "<div style=\"" + font_family2 + font_size + "left:184mm;top:" + (hei + 1) + "mm;width:17mm;height:11mm;position:absolute;padding-top:1mm;padding-right:2mm;text-align:right;\">" + sgstamtinr + "</div>";
            }
            else
            {
                htmlString += "<div style=\"" + font_family2 + font_size + "left:114mm;top:" + hei + "mm;width:24mm;height:10mm;position:absolute;padding-top:2mm;padding-right:3mm;text-align:right;\">" + printval[27].ToUpper().Split(',')[i] + "</div>";
                htmlString += "<div style=\"" + font_family2 + font_size + "left:145mm;top:" + (hei + 1) + "mm;width:13mm;height:11mm;position:absolute;padding-top:1mm;padding-left:0mm;\">--</div>";
                htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:" + (hei + 1) + "mm;width:17mm;height:11mm;position:absolute;padding-top:1mm;padding-right:2mm;text-align:right;\">--</div>";

                htmlString += "<div style=\"" + font_family2 + font_size + "left:175mm;top:" + (hei + 1) + "mm;width:13mm;height:11mm;position:absolute;padding-top:1mm;padding-left:0mm;\">--</div>";
                htmlString += "<div style=\"" + font_family2 + font_size + "left:184mm;top:" + (hei + 1) + "mm;width:17mm;height:11mm;position:absolute;padding-top:1mm;padding-right:2mm;text-align:right;\">--</div>";
            }

            if ((printval[22].ToUpper().Split(',')[i]).Length > 40)
            {
                hei += 7.4;
            }
            else
            {
                hei += 4.5;
            }
        }


        hei += 6;
        htmlString += "<div style=\"" + font_family2 + font_size + "left:20mm;top:" + hei + "mm;width:80mm;height:10mm;position:absolute;padding-top:2mm;padding-left:2mm;text-align:left;line-height:100%;\">" + printval[36].ToUpper().Replace("\n", "<br>") + "</div>";
        ////Details Section data End
        ///

        //TOTAL AMOUNT SECTION BORDER
        htmlString += "<div style=\"" + font_family2 + font_size + "left:117mm;top:182mm;width:82mm;height:4mm;position:absolute;padding-top:2mm;padding-left:2mm;border-bottom:1px solid;\"></div>";

        var totalrowamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(totalamount), 2)).Replace("₹", "");
        var totalrowigstamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(sgstamt), 2)).Replace("₹", "");
        htmlString += "<div style=\"" + font_family2 + font_size + "left:114mm;top:187mm;width:24mm;height:4mm;position:absolute;padding-top:2mm;padding-right:2mm;text-align:right;\">" + totalrowamtinr + "</div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:139mm;top:187mm;width:30mm;height:4mm;position:absolute;padding-top:2mm;padding-right:2mm;text-align:right;\">" + totalrowigstamtinr + "</div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:170mm;top:187mm;width:30mm;height:4mm;position:absolute;padding-top:2mm;padding-right:2mm;text-align:right;\">" + totalrowigstamtinr + "</div>";

    }
    //////*******************************************************************END CGST and SGST *********************************************************************
    else
    {
        ////*******************************************************************START IGST *********************************************************************
        htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:80mm;width:190mm;height:113mm;position:absolute;padding-top:2mm;padding-left:2mm;border-bottom:1px solid;\"></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:80mm;width:190mm;height:12mm;position:absolute;padding-top:2mm;padding-left:2mm;border-bottom:1px solid;\"></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:82mm;width:6mm;height:111mm;position:absolute;padding-top:2mm;padding-left:2mm;border-right:1px solid;\"><b>SL.</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:12mm;top:82mm;width:116mm;height:111mm;position:absolute;padding-top:2mm;padding-left:2mm;border-right:1px solid;text-align:center;\"><b>Particulars</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:130mm;top:82mm;width:13mm;height:111mm;position:absolute;padding-top:2mm;padding-left:0mm;border-right:1px solid;text-align:center;\"><b>SAC<br>HSN</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:140mm;top:82mm;width:20mm;height:111mm;position:absolute;padding-top:2mm;padding-left:3.5mm;border-right:1px solid;text-align:center;\"><b>Amount</b></div>";

        htmlString += "<div style=\"" + font_family2 + font_size + "left:164mm;top:82mm;width:38mm;height:11mm;position:absolute;padding-top:1mm;padding-left:0mm;text-align:center;\"><b>IGST</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:164.5mm;top:88mm;width:13mm;height:11mm;position:absolute;padding-top:1mm;padding-left:0mm;text-align:center;\"><b>Rate(%)</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:181mm;top:88mm;width:17mm;height:11mm;position:absolute;padding-top:1mm;padding-left:0mm;text-align:center;\"><b>Amount</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:164mm;top:82mm;width:35mm;height:4mm;position:absolute;padding-top:2mm;padding-left:2mm;border-bottom:1px solid;\"></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:161mm;top:88mm;width:15mm;height:98mm;position:absolute;padding-top:2mm;padding-left:2mm;border-right:1px solid;\"></div>";


        //Details Section border End
        //Details Section data field
        var hei = 94.0;
        decimal? totalamount = 0;
        decimal? sgstamt = 0;
        var rowcount = Convert.ToInt32(printval[21]);
        for (int i = 0; i < rowcount; i++)
        {

            var currency = printval[14].ToUpper();
            htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:" + hei + "mm;width:6mm;height:10mm;position:absolute;padding-top:2mm;padding-left:2mm;\">" + (i + 1) + "</div>";
            htmlString += "<div style=\"" + font_family2 + font_size + "left:18mm;top:" + (hei + (0.4)) + "mm;width:118mm;height:10mm;position:absolute;padding-top:2mm;padding-left:2mm;text-align:left;line-height:100%;\">" + printval[22].ToUpper().Split(',')[i] + "</div>";
            htmlString += "<div style=\"" + font_family2 + font_size + "left:131.5mm;top:" + hei + "mm;width:13mm;height:10mm;position:absolute;padding-top:2mm;padding-left:0mm;\">" + printval[23].ToUpper().Split(',')[i] + "</div>";
            totalamount += Convert.ToDecimal(printval[27].ToUpper().Split(',')[i]);
            if (currency.Split('/')[0] == "INR ")
            {
                var totalamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(printval[27].ToUpper().Split(',')[i]), 2)).Replace("₹", "");
                htmlString += "<div style=\"" + font_family2 + font_size + "left:138mm;top:" + hei + "mm;width:24mm;height:10mm;position:absolute;padding-top:2mm;padding-right:2mm;text-align:right;\">" + totalamtinr + "</div>";

                htmlString += "<div style=\"" + font_family2 + font_size + "left:165mm;top:" + (hei + 1) + "mm;width:12mm;height:11mm;position:absolute;padding-top:1mm;padding-right:2mm;text-align:right;\">" + printval[41].ToUpper().Split(',')[i] + "</div>";


                sgstamt += Convert.ToDecimal(printval[26].ToUpper().Split(',')[i]);
                var igstamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(printval[26].ToUpper().Split(',')[i]), 2)).Replace("₹", "");

                htmlString += "<div style=\"" + font_family2 + font_size + "left:182mm;top:" + (hei + 1) + "mm;width:17mm;height:11mm;position:absolute;padding-top:1mm;padding-right:2mm;text-align:right;\">" + igstamtinr + "</div>";
            }
            else
            {
                htmlString += "<div style=\"" + font_family2 + font_size + "left:138mm;top:" + hei + "mm;width:24mm;height:10mm;position:absolute;padding-top:2mm;padding-right:2mm;text-align:right;\">" + printval[27].ToUpper().Split(',')[i] + "</div>";
                htmlString += "<div style=\"" + font_family2 + font_size + "left:165mm;top:" + (hei + 1) + "mm;width:12mm;height:11mm;position:absolute;padding-top:1mm;padding-right:2mm;\">--</div>";
                htmlString += "<div style=\"" + font_family2 + font_size + "left:177mm;top:" + (hei + 1) + "mm;width:17mm;height:11mm;position:absolute;padding-top:1mm;padding-right:2mm;text-align:right;\">--</div>";
            }
            if ((printval[22].ToUpper().Split(',')[i]).Length > 40)
            {
                hei += 7.4;
            }
            else
            {
                hei += 4.5;
            }
        }

        hei += 6;
        htmlString += "<div style=\"" + font_family2 + font_size + "left:20mm;top:" + hei + "mm;width:110mm;height:10mm;position:absolute;padding-top:2mm;padding-left:0mm;text-align:left;line-height:100%;\">" + printval[36].ToUpper().Replace("\n", "<br>") + "</div>";
        //Details Section data End


        //TOTAL AMOUNT SECTION BORDER
        htmlString += "<div style=\"" + font_family2 + font_size + "left:143mm;top:182mm;width:56.5mm;height:4mm;position:absolute;padding-top:2mm;padding-left:2mm;border-bottom:1px solid;\"></div>";

        var totalrowamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(totalamount), 2)).Replace("₹", "");
        var totalrowigstamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(sgstamt), 2)).Replace("₹", "");
        htmlString += "<div style=\"" + font_family2 + font_size + "left:138mm;top:187mm;width:24mm;height:4mm;position:absolute;padding-top:2mm;padding-right:2mm;text-align:right;\">" + totalrowamtinr + "</div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:170mm;top:187mm;width:30mm;height:4mm;position:absolute;padding-top:2mm;padding-right:2mm;text-align:right;\">" + totalrowigstamtinr + "</div>";
    }
    ////*******************************************************************END IGST *********************************************************************




    htmlString += "<div style=\"" + font_family2 + font_size + "font-size:9pt;left:10mm;top:193mm;width:189mm;height:24mm;position:absolute;padding-top:3mm;padding-left:2mm;border-bottom:1px solid;\"><b>Our GSTIN <br>State Code<br>PAN<br>CIN</b></div>";
    htmlString += "<div style=\"" + font_family2 + font_size + "font-size:8pt;left:30mm;top:193mm;width:120mm;height:24mm;position:absolute;padding-top:3mm;padding-left:2mm;border-bottom:1px solid;\">: " + printval[43].ToUpper() + " <br>: " + printval[44].ToUpper() + "<br>: AAACR6636A<br>: U63090MH1997PTC107821</div>";
    font_size = "font-size:10pt;";
    //Total Amount Field
    if (cgst > 0)
    {
        var netamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(printval[28].ToUpper()), 2)).Replace("₹", "");
        var cgstamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(printval[29].ToUpper()), 2)).Replace("₹", "");
        var sgstamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(printval[30].ToUpper()), 2)).Replace("₹", "");
        htmlString += "<div style=\"" + font_family2 + font_size + "left:141mm;top:195mm;width:54mm;height:24mm;position:absolute;padding-top:1mm;padding-left:2mm;border-left:1px solid;\"><b>Net Amount<br>CGST<br>SGST<br>Round-off</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:141mm;top:195mm;width:59mm;height:24mm;position:absolute;padding-top:1mm;padding-right:2mm;border-left:1px solid;text-align:right;\">" + netamtinr + "<br> " + cgstamtinr + "<br> " + sgstamtinr + "<br> " + printval[32].ToUpper() + "</div>";


        htmlString += "<div style=\"" + font_family2 + font_size + "left:141mm;top:215mm;width:59mm;height:6mm;position:absolute;padding-top:0mm;padding-left:2mm;border-top:1px solid;\"><b>Invoice Amount</b></div>";
        // htmlString += "<div style=\"" + font_family2 + font_size + "left:141mm;top:215mm;width:59mm;height:6mm;position:absolute;padding-top:0mm;padding-right:2mm;border-top:1px solid;text-align:right;\"> <b>" + printval[33].ToUpper() + "</b></div>";

        if (printval[14].ToUpper().Split('/')[0] == "EUR ")//euro
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:141mm;top:215mm;width:59mm;height:6mm;position:absolute;padding-top:0mm;padding-right:2mm;border-top:1px solid;text-align:right;\"> <b> € " + printval[33].ToUpper() + "</b></div>";
        }
        else if (printval[14].ToUpper().Split('/')[0] == "GBP ")//pound
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:141mm;top:215mm;width:59mm;height:6mm;position:absolute;padding-top:0mm;padding-right:2mm;border-top:1px solid;text-align:right;\"> <b> £ " + printval[33].ToUpper() + "</b></div>";
        }
        else if (printval[14].ToUpper().Split('/')[0] == "USD ")//dollor
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:141mm;top:215mm;width:59mm;height:6mm;position:absolute;padding-top:0mm;padding-right:2mm;border-top:1px solid;text-align:right;\"> <b> $ " + printval[33].ToUpper() + "</b></div>";
        }
        else if (printval[14].ToUpper().Split('/')[0] == "AUD ")//dollor
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:141mm;top:215mm;width:59mm;height:6mm;position:absolute;padding-top:0mm;padding-right:2mm;border-top:1px solid;text-align:right;\"> <b> $ " + printval[33].ToUpper() + "</b></div>";
        }
        else if (printval[14].ToUpper().Split('/')[0] == "ZAR ")//ZAR
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:141mm;top:215mm;width:59mm;height:6mm;position:absolute;padding-top:0mm;padding-right:1mm;border-top:1px solid;text-align:right;\"> <b> R " + printval[33].ToUpper() + "</b></div>";
        }
        else if (printval[14].ToUpper().Split('/')[0] == "CHF ")//CHF
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:141mm;top:215mm;width:59mm;height:6mm;position:absolute;padding-top:0mm;padding-right:1mm;border-top:1px solid;text-align:right;\"> <b> Fr. " + printval[33].ToUpper() + "</b></div>";
        }
        else//inr
        {
            var totalamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(printval[33].ToUpper()), 2)).Replace("₹", "");
            htmlString += "<div style=\"" + font_family2 + font_size + "left:141mm;top:215mm;width:59mm;height:6mm;position:absolute;padding-top:0mm;padding-right:2mm;border-top:1px solid;text-align:right;\"> <b> ₹ " + totalamtinr + "</b></div>";
        }
    }
    else
    {
        var netamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(printval[28].ToUpper()), 2)).Replace("₹", "");
        var igstamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(printval[31].ToUpper()), 2)).Replace("₹", "");
        htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:195mm;width:41mm;height:24mm;position:absolute;padding-top:1mm;padding-left:2mm;border-left:1px solid;\"><b>Net Amount<br>IGST<br>Round-off</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:195mm;width:48mm;height:24mm;position:absolute;padding-top:1mm;padding-right:1mm;border-left:1px solid;text-align:right;\"> " + netamtinr + "<br> " + igstamtinr + "<br> " + printval[32].ToUpper() + "</div>";

        htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:215mm;width:47mm;height:6mm;position:absolute;padding-top:0mm;padding-left:2mm;border-top:1px solid;\"><b>Invoice Amount</b></div>";
        //htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:215mm;width:48mm;height:6mm;position:absolute;padding-top:0mm;padding-right:1mm;border-top:1px solid;text-align:right;\"> <b>" + printval[33].ToUpper() + "</b></div>";
        if (printval[14].ToUpper().Split('/')[0] == "EUR ")//euro
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:215mm;width:48mm;height:6mm;position:absolute;padding-top:0mm;padding-right:1mm;border-top:1px solid;text-align:right;\"> <b> € " + printval[33].ToUpper() + "</b></div>";
        }
        else if (printval[14].ToUpper().Split('/')[0] == "GBP ")//pound
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:215mm;width:48mm;height:6mm;position:absolute;padding-top:0mm;padding-right:1mm;border-top:1px solid;text-align:right;\"> <b> £ " + printval[33].ToUpper() + "</b></div>";
        }
        else if (printval[14].ToUpper().Split('/')[0] == "USD ")//dollor
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:215mm;width:48mm;height:6mm;position:absolute;padding-top:0mm;padding-right:1mm;border-top:1px solid;text-align:right;\"> <b> $ " + printval[33].ToUpper() + "</b></div>";
        }
        else if (printval[14].ToUpper().Split('/')[0] == "AUD ")//dollor
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:215mm;width:48mm;height:6mm;position:absolute;padding-top:0mm;padding-right:1mm;border-top:1px solid;text-align:right;\"> <b> $ " + printval[33].ToUpper() + "</b></div>";
        }
        else if (printval[14].ToUpper().Split('/')[0] == "ZAR ")//ZAR
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:215mm;width:48mm;height:6mm;position:absolute;padding-top:0mm;padding-right:1mm;border-top:1px solid;text-align:right;\"> <b> R " + printval[33].ToUpper() + "</b></div>";
        }
        else if (printval[14].ToUpper().Split('/')[0] == "CHF ")//CHF
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:215mm;width:48mm;height:6mm;position:absolute;padding-top:0mm;padding-right:1mm;border-top:1px solid;text-align:right;\"> <b> Fr. " + printval[33].ToUpper() + "</b></div>";
        }
        else//inr
        {
            var totalamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(printval[33].ToUpper()), 2)).Replace("₹", "");
            htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:215mm;width:48mm;height:6mm;position:absolute;padding-top:0mm;padding-right:1mm;border-top:1px solid;text-align:right;\"> <b> ₹ " + totalamtinr + "</b></div>";
        }
    }

    font_size = "font-size:8pt;";
    //Total Amount Field  End

    //Total Amount in Word Start
    htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:219mm;width:189mm;height:4.5mm;position:absolute;padding-top:1.5mm;padding-left:2mm;border-bottom:1px solid;letter-spacing: 0.5px;\"><b>" + printval[34].ToUpper() + "</b></div>";
    //Total Amount in Word End

    //IRN NO
    htmlString += "<div style=\"" + font_family2 + font_size + "font-size:9pt;left:10mm;top:224mm;width:189mm;height:5mm;position:absolute;padding-top:2mm;padding-left:2mm;border-bottom:1px solid;\"><b>IRN No.</b> : " + printval[45] + " </div>";

    //QR Code
    var qrcode = "https://s3.ap-south-1.amazonaws.com/ryalfiles/Qr_Code/" + printval[46];
    var htmlString1 = "";

    //srcimg = "https://s3.ap-south-1.amazonaws.com/ryalfiles/locker/aef/94202111523948.jpg";

    htmlString1 = "<div style=\"" + font_family + font_size + "font-size:10px;left:103mm;top:230mm;width:35mm;height:35mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:right;\"><img style=\"width:35mm;height:35mm\" src= '" + qrcode + "' /></div>";




    //Footer Section Start
    //htmlString += "<div style=\"" + font_family2 + font_size + "font-size:10px;left:10mm;top:229mm;width:194.5mm;height:7mm;position:absolute;padding-top:2mm;padding-left:2mm;line-height:125%;\"><b>E. & O.E.</b><br>ALL SUPPORTING RECEIPTS ARE ATTACHED.<br>MSME EMN (PART II) NO :- 27222200609<br><br><b>NEFT DETAILS:<br>Beneficiary Name: RYAL LOGISTICS PVT LTD.<br>Bank & Branch : HDFC BANK LTD, Shahar Road, Andheri(MUMBAI)<br>Account No: 06688020000014 | IFSC Code: HDFC0000668</b><br><br>Terms & Conditions :<br>1. Subject to MUMBAI Jurisdiction<br>2. Credit period 15 days. Delay payment interest @24% p.a.<br>3. Descrepancy if any to be communicated within 7 days.<br>4. All Cheques / DD should be drawn in favour Of Ryal Logistics Pvt.Ltd.</div>";

    htmlString += "<div style=\"" + font_family2 + font_size + "font-size:10px;left:10mm;top:229mm;width:194.5mm;height:7mm;position:absolute;padding-top:2mm;padding-left:2mm;line-height:125%;\"><b>E. & O.E.</b><br>ALL SUPPORTING RECEIPTS ARE ATTACHED.<br>MSME EMN (PART II) NO :- 27222200609<br></div>";
    var currency1 = printval[14].ToUpper();
    if (currency1.Split('/')[0] == "INR ")
    {
        htmlString += "<div style=\"" + font_family2 + font_size + "font-size:10px;left:10mm;top:229mm;width:194.5mm;height:7mm;position:absolute;padding-top:2mm;padding-left:2mm;line-height:125%;\"><b>E. & O.E.</b><br>ALL SUPPORTING RECEIPTS ARE ATTACHED.<br>MSME EMN (PART II) NO :- 27222200609<br><br><b>NEFT DETAILS:<br>Beneficiary Name: RYAL LOGISTICS PVT LTD.<br>Bank & Branch : HDFC BANK LTD, Shahar Road, Andheri(MUMBAI)<br>Account No: 06688020000014 | IFSC Code: HDFC0000668</b></div>";
    }
    htmlString += "<div style=\"" + font_family2 + font_size + "font-size:10px;left:10mm;top:258mm;width:194.5mm;height:7mm;position:absolute;padding-top:2mm;padding-left:2mm;line-height:125%;\">Terms & Conditions :<br>1. Subject to MUMBAI Jurisdiction<br>2. Credit period 15 days. Delay payment interest @24% p.a.<br>3. Descrepancy if any to be communicated within 7 days.<br>4. All Cheques / DD should be drawn in favour Of Ryal Logistics Pvt.Ltd.</div>";

    htmlString += "<div style=\"" + font_family2 + font_size + "font-size:10px;left:10mm;top:229mm;width:188.5mm;height:7mm;position:absolute;padding-top:2mm;padding-right:2mm;text-align:right;\"><b>For RYAL LOGISTICS PRIVATE LIMITED</b> <br><br><br><br><br><br><br><b>AUTHORISED SIGNATORY</b></div>";

    if (printval[38].ToUpper() == "YES")
    {
        htmlString += "<div style=\"" + font_family2 + font_size + "font-size:13px;left:10mm;top:229mm;width:188mm;height:7mm;position:absolute;padding-top:2mm;padding-right:2mm;text-align:right;\"><br><br><br><b>" + printval[37].ToUpper() + "</b></div>";
    }
    else
    {
        htmlString += "<div style=\"" + font_family2 + font_size + "font-size:13px;left:10mm;top:229mm;width:183mm;height:7mm;position:absolute;padding-top:2mm;padding-right:2mm;text-align:right;\"><br><br><br><b>" + printval[37].ToUpper() + "</b></div>";
    }
    //Footer Section End

    htmlString = htmlString + htmlString1;


    <div id="printdiv" style="display:none;">
        @Html.TextBox("allval", @htmlString);
    </div>
    <div>
        <h1>Please wait while your pdf is generating...</h1>
        @Html.Hidden("hidmasterjobno", @printval[8])
    </div>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>



        $(function () {
            var url = window.location.origin + "/Invoices/GeneratePdfFile/";

            //var _htmlString = $("html body").find("#printdiv").html();
            var _htmlString = $('#allval').val();
            //var _formatted_job_no = $(_htmlString).find(".master_job_no").val();
            var _formatted_job_no = $('#hidmasterjobno').val();
            _formatted_job_no = "INV-NO-" + _formatted_job_no //_formatted_job_no.replace('/', '-');

            $.ajax({
                url: url,
                data: { htmlString: _htmlString, formatted_job_no: _formatted_job_no },
                cache: false,
                type: "POST",
                success: function (data) {
                    window.location.href = data;
                },
                error: function (reponse) {
                }
            });
        })
    </script>
}
}




