﻿@using System.Globalization;
@{
    ViewBag.Title = "SICAN";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string printcan = ViewBag.CanPrint;
    var printval = printcan.Split('|');
}
@{

    CultureInfo hindi = new CultureInfo("hi-IN");

    string font_family = "'Arial', Times, serif;";
    string font_family2 = "font-family:Bold, 'Helvetica';";
    string font_size = "font-size:8pt;";
    var ryalheader1 = Server.MapPath("~/Content/img/Ryal1.png");
    var ryalheader2 = Server.MapPath("~/Content/img/Ryal2.png");
    var ryalheader3 = Server.MapPath("~/Content/img/Ryal3.png");

    string htmlString = "";

    htmlString += "<div style=\"" + font_family + font_size + "font-size:10px;left:6mm;top:4mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:left;border:none;\"><img style=\"width:191mm;height:20mm;border:none;\" src='" + ryalheader1 + "'/></div>";

    htmlString += "<div style=\"" + font_family + font_size + "font-size:10px;left:60mm;top:95mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:left;border:none;\"><img style=\"width:80mm;height:60mm;border:none;text-align:center\" src='" + ryalheader2 + "'/></div>";

    htmlString += "<div style=\"" + font_family + font_size + "font-size:10px;left:6mm;top:275mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:left;border:none;\"><img style=\"width:191mm;height:10mm;border:none;\" src='" + ryalheader3 + "'/></div>";

    if (printval[34].ToUpper() == "YES")
    {
        if (printval[45] == "billofsupply")
        {

            htmlString += "<div style=\"" + font_family + font_size + "font-size:14px;left:8mm;top:30mm;width:190mm;height:6mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:center;\"><b>BILL OF SUPPLY</b></div>";

            htmlString += "<div style=\"" + font_family + font_size + "font-size:10px;left:8mm;top:33mm;width:190mm;height:6mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:right;\">ORIGINAL FOR RECEIPIENT</div>";
        }
        else if (printval[45] == "sezinvoice")
        {

            htmlString += "<div style=\"" + font_family + font_size + "font-size:14px;left:8mm;top:30mm;width:190mm;height:6mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:center;\"><b>BILL OF SUPPLY (SEZ)</b></div>";

            htmlString += "<div style=\"" + font_family + font_size + "font-size:10px;left:8mm;top:33mm;width:190mm;height:6mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:right;\">ORIGINAL FOR RECEIPIENT</div>";
        }
        else
        {
            htmlString += "<div style=\"" + font_family + font_size + "font-size:14px;left:8mm;top:30mm;width:190mm;height:6mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:center;\"><b>TAX INVOICE</b></div>";

            htmlString += "<div style=\"" + font_family + font_size + "font-size:10px;left:8mm;top:33mm;width:190mm;height:6mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:right;\">ORIGINAL FOR RECEIPIENT</div>";
        }
    }
    else
    {
        if (printval[45] == "sezinvoice")
        {

            htmlString += "<div style=\"" + font_family + font_size + "font-size:14px;left:8mm;top:30mm;width:190mm;height:6mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:center;\"><b>PROFORMA INVOICE (SEZ)</b></div>";

            htmlString += "<div style=\"" + font_family + font_size + "font-size:10px;left:8mm;top:33mm;width:190mm;height:6mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:right;\">DRAFT</div>";
        }
        else
        {
            htmlString += "<div style=\"" + font_family + font_size + "font-size:14px;left:8mm;top:30mm;width:190mm;height:6mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:center;\"><b>PROFORMA INVOICE</b></div>";
            htmlString += "<div style=\"" + font_family + font_size + "font-size:10px;left:8mm;top:33mm;width:185mm;height:6mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:right;\">DRAFT</div>";
        }
    }

    //*******upper section end
    //**********Main border start

    htmlString += "<div style=\"" + font_family + font_size + "font-size:18px;left:12mm;top:20mm;width:180mm;height:6mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:center;\"></div>";


    htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:42mm;width:188mm;height:235mm;position:absolute;padding-top:2mm;padding-left:3mm;border:1px solid;\"></div>";
    //**********Main border end

    //First Section border start
    //First Section border start left

    //Bill To
    var addr = printval[1].Replace("\n", "<br>");
    var addr1 = addr.Replace("<br>", "@").Split('@');
    var newaddr = "";
    if (addr1.Count() > 3)
    {
        for (int i = 0; i < 4; i++)
        {
            newaddr += addr1[i] + "<br>";
        }
    }
    else
    {
        newaddr = addr;
    }

    htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:42mm;width:103.5mm;height:24.5mm;position:absolute;padding-top:2mm;padding-left:2mm;border:1px solid;\"><b>Bill To<br>" + printval[0].ToUpper() + "</b><br>" + newaddr.ToUpper() + "</div>";


    //Notify Party
    var notifiy = printval[2].Replace("<br>", "");
    if (notifiy.Length > 53)
    {
        notifiy = notifiy.Substring(0, 53);
    }
    //Description
    var description = printval[16].Replace("<br>", "");
    if (description.Length > 53)
    {
        description = description.Substring(0, 53);
    }
    htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:68mm;width:103.5mm;height:12mm;position:absolute;padding-top:2mm;padding-left:2mm;border:1px solid;border-top:none;\"><b>notify<br>Shipper<br>Description </b></div>";
    htmlString += "<div style=\"" + font_family2 + font_size + "left:32mm;top:68mm;width:80mm;height:10mm;position:absolute;padding-top:2mm;padding-left:2mm;\"><b>: </b>" + notifiy + "<br> <b>: </b>" + printval[3] + "<br> <b>: </b>" + description + " </div>";



    //POS
    htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:81mm;width:103.5mm;height:9mm;position:absolute;padding-top:2mm;padding-left:2mm;border:1px solid;border-top:none;\"><b>POS <br>GSTIN</b></div>";
    htmlString += "<div style=\"" + font_family2 + font_size + "left:32mm;top:81mm;width:80mm;height:22mm;position:absolute;padding-top:2mm;padding-left:2mm;\"><b>:</b> " + printval[43].ToUpper() + " <br><b>:</b> " + printval[44].ToUpper() + "</div>";


    //Invoice No Section
    htmlString += "<div style=\"" + font_family2 + font_size + "left:113mm;top:42mm;width:94.5mm;height:62mm;position:absolute;padding-top:2mm;padding-left:5mm;;line-height:150%;\"><b>Invoice No. / Date <br>MAWB No. / Date <br>HAWB No. / Date <br>Package / Gross Wt.<br>Vessel / Voy<br>I.G.M. No. / Date<br>Item / S-Item No.<br>Origin<br>Destination<br>Currency / Rate<br>Job No.</b><br></div>";
    htmlString += "<div style=\"" + font_family2 + font_size + "left:145mm;top:42mm;width:4mm;height:62mm;position:absolute;padding-top:2mm;padding-left:5mm;;line-height:150%;\"><b>: <br>:  <br>: <br>: <br>: <br>: <br>: <br>:<br>:<br>:<br>:</b> <br></div>";
    htmlString += "<div style=\"" + font_family2 + font_size + "left:150mm;top:42mm;width:55mm;height:62mm;position:absolute;padding-top:2mm;padding-left:5mm;;line-height:150%;\"><b>" + printval[4].ToUpper() + " / " + printval[5].ToUpper() + "</b><br>" + printval[6].ToUpper() + "<br>" + printval[7].ToUpper() + "<br>" + printval[8].ToUpper() + "<br>" + printval[9].ToUpper() + "<br>" + printval[11].ToUpper() + " <br>" + printval[12].ToUpper() + "<br>" + printval[13].ToUpper() + " <br>" + printval[14].ToUpper() + "<br>" + printval[10].ToUpper() + "<br>" + printval[15].ToUpper() + "<br></div>";

    //First Section border End

    //Details Section border start


    htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:82mm;width:189mm;height:7mm;position:absolute;padding-top:3mm;padding-left:2mm;border-bottom:1px solid;\"></div>";

    var cgst = Convert.ToDecimal(printval[24].Split(',')[0]);
    if (printval[44] == "")
    {
        printval[44] = "test";
    }

    if (printval[39].Substring(0, 2) == printval[44].Substring(0, 2))
    {
        //////*******************************************************************START CGST and SGST *********************************************************************
        htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:90mm;width:189mm;height:103mm;position:absolute;padding-top:2mm;padding-left:2mm;border-bottom:1px solid;\"></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:90mm;width:189mm;height:12mm;position:absolute;padding-top:2mm;padding-left:2mm;border-bottom:1px solid;\"></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:92mm;width:6mm;height:101mm;position:absolute;padding-top:2mm;padding-left:2mm;border-right:1px solid;\"><b>SL.</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:13mm;top:92mm;width:89mm;height:101mm;position:absolute;padding-top:2mm;padding-left:2mm;border-right:1px solid;text-align:center;\"><b>Particulars</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:104mm;top:92mm;width:12mm;height:101mm;position:absolute;padding-top:2mm;padding-left:0mm;border-right:1px solid;text-align:center\"><b>SAC<br>HSN</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:115mm;top:92mm;width:24mm;height:101mm;position:absolute;padding-top:2mm;padding-left:0mm;border-right:1px solid;text-align:center\"><b>Amount</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:139mm;top:92mm;width:31mm;height:102mm;position:absolute;padding-top:1mm;padding-left:0mm;border-right:1px solid;text-align:center;\"><b>CGST</b></div>";

        htmlString += "<div style=\"" + font_family2 + font_size + "left:140.5mm;top:98mm;width:13mm;height:11mm;position:absolute;padding-top:1mm;padding-left:0mm;\"><b>Rate(%)</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:154.5mm;top:98mm;width:17mm;height:11mm;position:absolute;padding-top:1mm;padding-left:1mm;\"><b>Amount</b></div>";



        htmlString += "<div style=\"" + font_family2 + font_size + "left:173mm;top:92mm;width:27mm;height:11mm;position:absolute;padding-top:1mm;padding-left:0mm;text-align:center;\"><b>SGST</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:170.5mm;top:98mm;width:13mm;height:11mm;position:absolute;padding-top:1mm;padding-left:1mm;\"><b>Rate(%)</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:186mm;top:98mm;width:17mm;height:11mm;position:absolute;padding-top:1mm;padding-left:1mm;\"><b>Amount</b></div>";

        htmlString += "<div style=\"" + font_family2 + font_size + "left:139mm;top:92mm;width:60mm;height:4mm;position:absolute;padding-top:2mm;padding-left:2mm;border-bottom:1px solid;\"></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:134mm;top:98mm;width:17mm;height:88mm;position:absolute;padding-top:2mm;padding-left:2mm;border-right:1px solid;\"></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:165mm;top:98mm;width:17mm;height:88mm;position:absolute;padding-top:2mm;padding-left:2mm;border-right:1px solid;\"></div>";
        //Details Section border End
        //Details Section data field
        var hei = 104.0;
        decimal? totalamount = 0;
        decimal? sgstamt = 0;
        var rowcount = Convert.ToInt32(printval[17]);
        for (int i = 0; i < rowcount; i++)
        {

            htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:" + hei + "mm;width:6mm;height:10mm;position:absolute;padding-top:2mm;padding-left:2mm;\">" + (i + 1) + "</div>";
            htmlString += "<div style=\"" + font_family2 + font_size + "left:18mm;top:" + (hei + (0.4)) + "mm;width:85mm;height:10mm;position:absolute;padding-top:2mm;padding-left:2mm;text-align:left;line-height:100%;letter-spacing: 1px;\">" + printval[18].ToUpper().Split(',')[i] + "</div>";
            htmlString += "<div style=\"" + font_family2 + font_size + "left:105mm;top:" + hei + "mm;width:15mm;height:10mm;position:absolute;padding-top:2mm;padding-left:0mm;text-align:left;\">" + printval[19].ToUpper().Split(',')[i] + "</div>";
            htmlString += "<div style=\"" + font_family2 + font_size + "left:114mm;top:" + hei + "mm;width:24mm;height:10mm;position:absolute;padding-top:2mm;padding-right:3mm;text-align:right;\">" + printval[22].ToUpper().Split(',')[i] + "</div>";
            totalamount += Convert.ToDecimal(printval[22].ToUpper().Split(',')[i]);
            var currency = printval[14].ToUpper();
            //if (currency.Split('/')[0] == "INR ")
            //{
            htmlString += "<div style=\"" + font_family2 + font_size + "left:145mm;top:" + (hei + 1) + "mm;width:13mm;height:11mm;position:absolute;padding-top:1mm;padding-left:0mm;\"> " + printval[31].ToUpper().Split(',')[i] + "</div>";
            htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:" + (hei + 1) + "mm;width:17mm;height:11mm;position:absolute;padding-top:1mm;padding-right:2mm;text-align:right;\">" + printval[20].ToUpper().Split(',')[i] + "</div>";

            sgstamt += Convert.ToDecimal(printval[21].ToUpper().Split(',')[i]);

            htmlString += "<div style=\"" + font_family2 + font_size + "left:175mm;top:" + (hei + 1) + "mm;width:13mm;height:11mm;position:absolute;padding-top:1mm;padding-left:0mm;\"> " + printval[32].ToUpper().Split(',')[i] + "</div>";
            htmlString += "<div style=\"" + font_family2 + font_size + "left:184mm;top:" + (hei + 1) + "mm;width:17mm;height:11mm;position:absolute;padding-top:1mm;padding-right:2mm;text-align:right;\">" + printval[21].ToUpper().Split(',')[i] + "</div>";
            //        }
            //else
            //{
            //            htmlString += "<div style=\"" + font_family2 + font_size + "left:145mm;top:" + (hei + 1) + "mm;width:13mm;height:11mm;position:absolute;padding-top:1mm;padding-left:0mm;\">--</div>";
            //            htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:" + (hei + 1) + "mm;width:17mm;height:11mm;position:absolute;padding-top:1mm;padding-right:2mm;text-align:right;\">--</div>";

            //            htmlString += "<div style=\"" + font_family2 + font_size + "left:175mm;top:" + (hei + 1) + "mm;width:13mm;height:11mm;position:absolute;padding-top:1mm;padding-left:0mm;\">--</div>";
            //            htmlString += "<div style=\"" + font_family2 + font_size + "left:184mm;top:" + (hei + 1) + "mm;width:17mm;height:11mm;position:absolute;padding-top:1mm;padding-right:2mm;text-align:right;\">--</div>";
            //        }

            if ((printval[22].ToUpper().Split(',')[i]).Length > 40)
            {
                hei += 7.4;
            }
            else
            {
                hei += 4.5;
            }
        }

        hei += 6;
        //htmlString += "<div style=\"" + font_family2 + font_size + "left:20mm;top:" + hei + "mm;width:90mm;height:10mm;position:absolute;padding-top:2mm;padding-left:2mm;text-align:left;line-height:100%;\">" + printval[36].ToUpper() + "</div>";
        ////Details Section data End
        ///


        //TOTAL AMOUNT SECTION BORDER
        htmlString += "<div style=\"" + font_family2 + font_size + "left:117mm;top:182mm;width:82mm;height:4mm;position:absolute;padding-top:2mm;padding-left:2mm;border-bottom:1px solid;\"></div>";

        var totalrowamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(totalamount), 2)).Replace("₹", "");
        var totalrowigstamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(sgstamt), 2)).Replace("₹", "");
        htmlString += "<div style=\"" + font_family2 + font_size + "left:114mm;top:187mm;width:24mm;height:4mm;position:absolute;padding-top:2mm;padding-right:2mm;text-align:right;\">" + totalrowamtinr + "</div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:139mm;top:187mm;width:30mm;height:4mm;position:absolute;padding-top:2mm;padding-right:2mm;text-align:right;\">" + totalrowigstamtinr + "</div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:170mm;top:187mm;width:30mm;height:4mm;position:absolute;padding-top:2mm;padding-right:2mm;text-align:right;\">" + totalrowigstamtinr + "</div>";
    }
    //////*******************************************************************END CGST and SGST *********************************************************************
    else
    {
        ////*******************************************************************START IGST *********************************************************************
        htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:90mm;width:190mm;height:103mm;position:absolute;padding-top:2mm;padding-left:2mm;border-bottom:1px solid;\"></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:90mm;width:190mm;height:12mm;position:absolute;padding-top:2mm;padding-left:2mm;border-bottom:1px solid;\"></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:92mm;width:6mm;height:101mm;position:absolute;padding-top:2mm;padding-left:2mm;border-right:1px solid;\"><b>SL.</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:12mm;top:92mm;width:116mm;height:101mm;position:absolute;padding-top:2mm;padding-left:2mm;border-right:1px solid;text-align:center;\"><b>Particulars</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:130mm;top:92mm;width:13mm;height:101mm;position:absolute;padding-top:2mm;padding-left:0mm;border-right:1px solid;text-align:center;\"><b>SAC<br>HSN</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:140mm;top:92mm;width:20mm;height:101mm;position:absolute;padding-top:2mm;padding-left:3.5mm;border-right:1px solid;text-align:center;\"><b>Amount</b></div>";

        htmlString += "<div style=\"" + font_family2 + font_size + "left:164mm;top:92mm;width:38mm;height:11mm;position:absolute;padding-top:1mm;padding-left:0mm;text-align:center;\"><b>IGST</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:164.5mm;top:98mm;width:13mm;height:11mm;position:absolute;padding-top:1mm;padding-left:0mm;text-align:center;\"><b>Rate(%)</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:181mm;top:98mm;width:17mm;height:11mm;position:absolute;padding-top:1mm;padding-left:0mm;text-align:center;\"><b>Amount</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:164mm;top:92mm;width:35mm;height:4mm;position:absolute;padding-top:2mm;padding-left:2mm;border-bottom:1px solid;\"></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:161mm;top:98mm;width:15mm;height:88mm;position:absolute;padding-top:2mm;padding-left:2mm;border-right:1px solid;\"></div>";

        //Details Section border End
        //Details Section data field
        var hei = 104.0;
        decimal? totalamount = 0;
        decimal? sgstamt = 0;
        var rowcount = Convert.ToInt32(printval[17]);
        for (int i = 0; i < rowcount; i++)
        {

            htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:" + hei + "mm;width:6mm;height:10mm;position:absolute;padding-top:2mm;padding-left:2mm;\">" + (i + 1) + "</div>";
            htmlString += "<div style=\"" + font_family2 + font_size + "left:18mm;top:" + (hei + (0.4)) + "mm;width:118mm;height:10mm;position:absolute;padding-top:2mm;padding-left:2mm;text-align:left;line-height:100%;letter-spacing: 1px;\">" + printval[18].ToUpper().Split(',')[i] + "</div>";
            htmlString += "<div style=\"" + font_family2 + font_size + "left:131.5mm;top:" + hei + "mm;width:13mm;height:10mm;position:absolute;padding-top:2mm;padding-left:0mm;\">" + printval[19].ToUpper().Split(',')[i] + "</div>";
            htmlString += "<div style=\"" + font_family2 + font_size + "left:138mm;top:" + hei + "mm;width:24mm;height:10mm;position:absolute;padding-top:2mm;padding-right:2mm;text-align:right;\">" + printval[22].ToUpper().Split(',')[i] + "</div>";
            totalamount += Convert.ToDecimal(printval[22].ToUpper().Split(',')[i]);
            var currency = printval[10].ToUpper();
            //if (currency.Split('/')[0] == "INR ")
            //{
            htmlString += "<div style=\"" + font_family2 + font_size + "left:165mm;top:" + (hei + 1) + "mm;width:12mm;height:11mm;position:absolute;padding-top:1mm;padding-right:2mm;text-align:right;\">" + printval[37].ToUpper().Split(',')[i] + "</div>";

            sgstamt += Convert.ToDecimal(printval[35].ToUpper().Split(',')[i]);

            htmlString += "<div style=\"" + font_family2 + font_size + "left:182mm;top:" + (hei + 1) + "mm;width:17mm;height:11mm;position:absolute;padding-top:1mm;padding-right:2mm;text-align:right;\">" + printval[35].ToUpper().Split(',')[i] + "</div>";
            //}
            //else
            //{
            //    htmlString += "<div style=\"" + font_family2 + font_size + "left:165mm;top:" + (hei + 1) + "mm;width:12mm;height:11mm;position:absolute;padding-top:1mm;padding-right:2mm;\">--</div>";
            //    htmlString += "<div style=\"" + font_family2 + font_size + "left:177mm;top:" + (hei + 1) + "mm;width:17mm;height:11mm;position:absolute;padding-top:1mm;padding-right:2mm;text-align:right;\">--</div>";
            //}
            if ((printval[18].ToUpper().Split(',')[i]).Length > 40)
            {
                hei += 7.4;
            }
            else
            {
                hei += 4.5;
            }
        }


        hei += 6;
        //htmlString += "<div style=\"" + font_family2 + font_size + "left:20mm;top:" + hei + "mm;width:110mm;height:10mm;position:absolute;padding-top:2mm;padding-left:0mm;text-align:left;line-height:100%;\">" + printval[36].ToUpper() + "</div>";
        //Details Section data End

        //TOTAL AMOUNT SECTION BORDER
        htmlString += "<div style=\"" + font_family2 + font_size + "left:143mm;top:182mm;width:56.5mm;height:4mm;position:absolute;padding-top:2mm;padding-left:2mm;border-bottom:1px solid;\"></div>";

        var totalrowamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(totalamount), 2)).Replace("₹", "");
        var totalrowigstamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(sgstamt), 2)).Replace("₹", "");
        htmlString += "<div style=\"" + font_family2 + font_size + "left:138mm;top:187mm;width:24mm;height:4mm;position:absolute;padding-top:2mm;padding-right:2mm;text-align:right;\">" + totalrowamtinr + "</div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:170mm;top:187mm;width:30mm;height:4mm;position:absolute;padding-top:2mm;padding-right:2mm;text-align:right;\">" + totalrowigstamtinr + "</div>";
    }
    ////*******************************************************************END IGST *********************************************************************



    //OUR GSTIN
    htmlString += "<div style=\"" + font_family2 + font_size + "font-size:9pt;left:10mm;top:193mm;width:189mm;height:24mm;position:absolute;padding-top:3mm;padding-left:2mm;border-bottom:1px solid;\"><b>Our GSTIN <br>State Code<br>PAN<br>CIN</b></div>";
    htmlString += "<div style=\"" + font_family2 + font_size + "font-size:8pt;left:30mm;top:193mm;width:120mm;height:24mm;position:absolute;padding-top:3mm;padding-left:2mm;border-bottom:1px solid;\">: " + printval[39].ToUpper() + " <br>: " + printval[40].ToUpper() + "<br>: AAACR6636A<br>: U63090MH1997PTC107821</div>";

    var currency1 = printval[10].ToUpper();
    font_size = "font-size:10pt;";

    //Total Amount Field
    if (cgst > 0)
    {
        var netamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(printval[23].ToUpper()), 2)).Replace("₹", "");
        var cgstamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(printval[24].ToUpper()), 2)).Replace("₹", "");
        var sgstamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(printval[25].ToUpper()), 2)).Replace("₹", "");
        htmlString += "<div style=\"" + font_family2 + font_size + "left:139mm;top:195mm;width:54mm;height:24mm;position:absolute;padding-top:1mm;padding-left:2mm;border-left:1px solid;\"><b>Net Amount<br>CGST<br>SGST<br>Round-off</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:139mm;top:195mm;width:61mm;height:24mm;position:absolute;padding-top:1mm;padding-right:2mm;border-left:1px solid;text-align:right;\">" + netamtinr + "<br> " + cgstamtinr + "<br> " + sgstamtinr + "<br> " + printval[26].ToUpper() + "</div>";

        htmlString += "<div style=\"" + font_family2 + font_size + "left:139mm;top:215mm;width:59mm;height:6mm;position:absolute;padding-top:0mm;padding-left:2mm;border-top:1px solid;\"><b>Invoice Amount</b></div>";
        //htmlString += "<div style=\"" + font_family2 + font_size + "left:139mm;top:215mm;width:61mm;height:6mm;position:absolute;padding-top:0mm;padding-right:2mm;border-top:1px solid;text-align:right;\"> <b>" + printval[27].ToUpper() + "</b></div>";
        if (currency1.Split('/')[0] == "EUR ")//euro
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:139mm;top:215mm;width:59mm;height:6mm;position:absolute;padding-top:0mm;padding-right:2mm;border-top:1px solid;text-align:right;\"> <b> € " + printval[27].ToUpper() + "</b></div>";
        }
        else if (currency1.Split('/')[0] == "GBP ")//pound
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:139mm;top:215mm;width:59mm;height:6mm;position:absolute;padding-top:0mm;padding-right:2mm;border-top:1px solid;text-align:right;\"> <b> £ " + printval[27].ToUpper() + "</b></div>";
        }
        else if (currency1.Split('/')[0] == "USD ")//dollor
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:139mm;top:215mm;width:59mm;height:6mm;position:absolute;padding-top:0mm;padding-right:2mm;border-top:1px solid;text-align:right;\"> <b> $ " + printval[27].ToUpper() + "</b></div>";
        }
        else if (currency1.Split('/')[0] == "AUD ")//dollor
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:139mm;top:215mm;width:59mm;height:6mm;position:absolute;padding-top:0mm;padding-right:2mm;border-top:1px solid;text-align:right;\"> <b> $ " + printval[27].ToUpper() + "</b></div>";
        }
        else if (printval[14].ToUpper().Split('/')[0] == "ZAR ")//ZAR
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:139mm;top:215mm;width:59mm;height:6mm;position:absolute;padding-top:0mm;padding-right:1mm;border-top:1px solid;text-align:right;\"> <b> R " + printval[27].ToUpper() + "</b></div>";
        }
        else if (printval[14].ToUpper().Split('/')[0] == "CHF ")//CHF
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:139mm;top:215mm;width:59mm;height:6mm;position:absolute;padding-top:0mm;padding-right:1mm;border-top:1px solid;text-align:right;\"> <b> Fr. " + printval[27].ToUpper() + "</b></div>";
        }
        else//inr
        {
            var totalamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(printval[27].ToUpper()), 2)).Replace("₹", "");
            htmlString += "<div style=\"" + font_family2 + font_size + "left:139mm;top:215mm;width:59mm;height:6mm;position:absolute;padding-top:0mm;padding-right:2mm;border-top:1px solid;text-align:right;\"> <b> ₹ " + totalamtinr + "</b></div>";
        }
    }
    else
    {
        var netamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(printval[23].ToUpper()), 2)).Replace("₹", "");
        var igstamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(printval[26].ToUpper()), 2)).Replace("₹", "");
        htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:195mm;width:41mm;height:24mm;position:absolute;padding-top:1mm;padding-left:2mm;border-left:1px solid;\"><b>Net Amount<br>IGST<br>Round-off</b></div>";
        htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:195mm;width:48mm;height:24mm;position:absolute;padding-top:1mm;padding-right:1mm;border-left:1px solid;text-align:right;\"> " + netamtinr + "<br> " + igstamtinr + "<br> " + printval[26].ToUpper() + "</div>";

        htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:215mm;width:47mm;height:6mm;position:absolute;padding-top:0mm;padding-left:2mm;border-top:1px solid;\"><b>Invoice Amount</b></div>";
        //htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:215mm;width:48mm;height:6mm;position:absolute;padding-top:0mm;padding-right:1mm;border-top:1px solid;text-align:right;\"> <b>" + printval[27].ToUpper() + "</b></div>";
        if (currency1.Split('/')[0] == "EUR ")//euro
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:215mm;width:48mm;height:6mm;position:absolute;padding-top:0mm;padding-right:1mm;border-top:1px solid;text-align:right;\"> <b> € " + printval[27].ToUpper() + "</b></div>";
        }
        else if (currency1.Split('/')[0] == "GBP ")//pound
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:215mm;width:48mm;height:6mm;position:absolute;padding-top:0mm;padding-right:1mm;border-top:1px solid;text-align:right;\"> <b> £ " + printval[27].ToUpper() + "</b></div>";
        }
        else if (currency1.Split('/')[0] == "USD ")//dollor
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:215mm;width:48mm;height:6mm;position:absolute;padding-top:0mm;padding-right:1mm;border-top:1px solid;text-align:right;\"> <b> $ " + printval[27].ToUpper() + "</b></div>";
        }
        else if (currency1.Split('/')[0] == "AUD ")//dollor
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:215mm;width:48mm;height:6mm;position:absolute;padding-top:0mm;padding-right:1mm;border-top:1px solid;text-align:right;\"> <b> $ " + printval[27].ToUpper() + "</b></div>";
        }
        else if (printval[14].ToUpper().Split('/')[0] == "ZAR ")//ZAR
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:215mm;width:48mm;height:6mm;position:absolute;padding-top:0mm;padding-right:1mm;border-top:1px solid;text-align:right;\"> <b> R " + printval[27].ToUpper() + "</b></div>";
        }
        else if (printval[14].ToUpper().Split('/')[0] == "CHF ")//CHF
        {
            htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:215mm;width:48mm;height:6mm;position:absolute;padding-top:0mm;padding-right:1mm;border-top:1px solid;text-align:right;\"> <b> Fr. " + printval[27].ToUpper() + "</b></div>";
        }
        else//inr
        {
            var totalamtinr = string.Format(hindi, "{0:c2}", Math.Round(Convert.ToDecimal(printval[27].ToUpper()), 2)).Replace("₹", "");
            htmlString += "<div style=\"" + font_family2 + font_size + "left:152mm;top:215mm;width:48mm;height:6mm;position:absolute;padding-top:0mm;padding-right:1mm;border-top:1px solid;text-align:right;\"> <b> ₹ " + totalamtinr + "</b></div>";
        }
    }
    //Total Amount Field  End
    font_size = "font-size:8pt;";

    //Total Amount in Word Start
    htmlString += "<div style=\"" + font_family2 + font_size + "left:10mm;top:219mm;width:189mm;height:4.5mm;position:absolute;padding-top:1.5mm;padding-left:2mm;border-bottom:1px solid;letter-spacing: 0.5px;\"><b>" + printval[28].ToUpper() + "</b></div>";
    //Total Amount in Word End

    //IRN NO
    htmlString += "<div style=\"" + font_family2 + font_size + "font-size:9pt;left:10mm;top:224mm;width:189mm;height:5mm;position:absolute;padding-top:2mm;padding-left:2mm;border-bottom:1px solid;\"><b>IRN No.</b> : " + printval[41] + " </div>";

    //QR Code
    var qrcode = "https://s3.ap-south-1.amazonaws.com/ryalfiles/Qr_Code/" + printval[42];
    var htmlString1 = "";

    //srcimg = "https://s3.ap-south-1.amazonaws.com/ryalfiles/locker/aef/94202111523948.jpg";

    htmlString1 = "<div style=\"" + font_family + font_size + "font-size:10px;left:103mm;top:230mm;width:35mm;height:35mm;position:absolute;padding-left:4mm;padding-top:5mm;text-align:right;\"><img style=\"width:35mm;height:35mm\" src= '" + qrcode + "' /></div>";


    //Footer Section Start
    //htmlString += "<div style=\"" + font_family2 + font_size + "font-size:10px;left:10mm;top:229mm;width:194.5mm;height:7mm;position:absolute;padding-top:2mm;padding-left:2mm;line-height:125%;\"><b>E. & O.E.</b><br>ALL SUPPORTING RECEIPTS ARE ATTACHED.<br>MSME EMN (PART II) NO :- 27222200609<br><br><b>NEFT DETAILS:<br>Beneficiary Name: RYAL LOGISTICS PVT LTD.<br>Bank & Branch : HDFC BANK LTD, Shahar Road, Andheri(MUMBAI)<br>Account No: 06688020000014 | IFSC Code: HDFC0000668</b><br><br>Terms & Conditions :<br>1. Subject to MUMBAI Jurisdiction<br>2. Credit period 15 days. Delay payment interest @24% p.a.<br>3. Descrepancy if any to be communicated within 7 days.<br>4. All Cheques / DD should be drawn in favour Of Ryal Logistics Pvt.Ltd.</div>";
    htmlString += "<div style=\"" + font_family2 + font_size + "font-size:10px;left:10mm;top:229mm;width:194.5mm;height:7mm;position:absolute;padding-top:2mm;padding-left:2mm;line-height:125%;\"><b>E. & O.E.</b><br>ALL SUPPORTING RECEIPTS ARE ATTACHED.<br>MSME EMN (PART II) NO :- 27222200609</div>";

    if (currency1.Split('/')[0] == "INR ")
    {
        htmlString += "<div style=\"" + font_family2 + font_size + "font-size:10px;left:10mm;top:242mm;width:194.5mm;height:7mm;position:absolute;padding-top:2mm;padding-left:2mm;line-height:125%;\"><b>NEFT DETAILS:<br>Beneficiary Name: RYAL LOGISTICS PVT LTD.<br>Bank & Branch : HDFC BANK LTD, Shahar Road, Andheri(MUMBAI)<br>Account No: 06688020000014 | IFSC Code: HDFC0000668</b></div>";
    }
    htmlString += "<div style=\"" + font_family2 + font_size + "font-size:10px;left:10mm;top:255mm;width:194.5mm;height:7mm;position:absolute;padding-top:2mm;padding-left:2mm;line-height:125%;\">Terms & Conditions :<br>1. Subject to MUMBAI Jurisdiction<br>2. Credit period 15 days. Delay payment interest @24% p.a.<br>3. Descrepancy if any to be communicated within 7 days.<br>4. All Cheques / DD should be drawn in favour Of Ryal Logistics Pvt.Ltd.</div>";

    htmlString += "<div style=\"" + font_family2 + font_size + "font-size:10px;left:10mm;top:229mm;width:188.5mm;height:7mm;position:absolute;padding-top:2mm;padding-right:2mm;text-align:right;\"><b>For RYAL LOGISTICS PRIVATE LIMITED</b> <br><br><br><br><br><br><br><b>AUTHORISED SIGNATORY</b></div>";

    if (printval[34].ToUpper() == "YES")
    {
        htmlString += "<div style=\"" + font_family2 + font_size + "font-size:13px;left:10mm;top:229mm;width:188mm;height:7mm;position:absolute;padding-top:2mm;padding-right:2mm;text-align:right;\"><br><br><br><b>" + printval[33].ToUpper() + "</b></div>";
    }
    else
    {
        htmlString += "<div style=\"" + font_family2 + font_size + "font-size:13px;left:10mm;top:229mm;width:183mm;height:7mm;position:absolute;padding-top:2mm;padding-right:2mm;text-align:right;\"><br><br><br><b>" + printval[33].ToUpper() + "</b></div>";
    }

    //Footer Section End


    htmlString += htmlString1;






    <div id="printdiv" style="display:none;">
        @Html.TextBox("allval", @htmlString);
    </div>
    <div>
        <h1>Please wait while your pdf is generating...</h1>
        @Html.Hidden("aisubjob", printval[4])
    </div>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(function () {
            var url = window.location.origin + "/Invoices/GeneratePdfFile/";

            //var _htmlString = $("html body").find("#printdiv").html();
            var _htmlString = $('#allval').val();
            //var _formatted_job_no = $(_htmlString).find(".master_job_no").val();
            var _formatted_job_no = $('#aisubjob').val();
            //_formatted_job_no = "MASTER-JOB-" + _formatted_job_no //_formatted_job_no.replace('/', '-');
            _formatted_job_no = "INV-NO-" + _formatted_job_no //_formatted_job_no.replace('/', '-');

            $.ajax({
                url: url,
                data: { htmlString: _htmlString, formatted_job_no: _formatted_job_no },
                cache: false,
                type: "POST",
                success: function (data) {
                    window.location.href = data;
                },
                error: function (reponse) {
                }
            });
        })
    </script>
}
