﻿@{
    var unit_name = Session["unit_name"];
    List<SelectListItem> business_name = new List<SelectListItem>();
    business_name.Add(new SelectListItem
    {
        Text = "ALL",
        Value = "0"
    });
    foreach (var item in ((System.Web.Mvc.MultiSelectList)unit_name).Items)
    {
        business_name.Add(new SelectListItem
        {
            Text = ((System.Web.Mvc.SelectListItem)item).Text.ToUpper(),
            Value = ((System.Web.Mvc.SelectListItem)item).Value.ToUpper()
        });
    }
}


<div class="container-fluid">
    <div class="row" id="ddl_dept">
        <div class="col">
            <div class="fgroup in">
                <label class="in"> Company</label>
                @Html.DropDownList("dept_Company", business_name, new { })
                <i class="las la-angle-down dropdown-ico"></i>
            </div>
        </div>
        <div class="col" style="display:none;">
            <div class="fgroup in">
                <label class="in">Jobs</label>
                @Html.DropDownList("party_job", new List<SelectListItem> {
               new SelectListItem{Text="ALL",Value="ALL" },
               new SelectListItem{Text="COMPLETED",Value="COMPLETED" },
               new SelectListItem{Text="PENDING",Value="PENDING" }
                }, new { })
                <i class="las la-angle-down dropdown-ico"></i>
            </div>
        </div>
        <div class="col" style="display:none;">
            <div class="fgroup in">
                <label class="in">Enquiries</label>
                @Html.DropDownList("party_enquiry", new List<SelectListItem> {
               new SelectListItem{Text="ALL",Value="ALL" },
               new SelectListItem{Text="CONFIRMED",Value="CONFIRMED" },
               new SelectListItem{Text="PENDING",Value="PENDING" }
                }, new { })
                <i class="las la-angle-down dropdown-ico"></i>
            </div>
        </div>
        <div class="col" style="display:none;">
            <div class="fgroup in">
                <label class="in">From</label>
                @Html.TextBox("party_fromdate", null, new { })
            </div>
        </div>
        <div class="col" style="display:none;">
            <div class="fgroup in">
                <label class="in">To</label>
                @Html.TextBox("party_todate", null, new { })
            </div>
        </div>
    </div>
    @Html.Action("Crm_Dashboard", "CustomerPortal")
</div>
<input type="hidden" id="alertMessage" value="@ViewBag.alertMessage" />

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script>

    $(document).ready(function () {
        $("#dept_Company").val("@Session["docno"].ToString()");
        $("#party_job").val("@Session["party_job"].ToString()");
        $("#party_enquiry").val("@Session["party_enquiry"].ToString()");
    })
    $('#dept_Company,#party_job,#party_enquiry').change(function () {
        var CompanyName = $("#dept_Company option:selected").val();
        var party_job = $("#party_job option:selected").val();
        var party_enquiry = $("#party_enquiry option:selected").val();
        var url = "/CustomerPortal/DdlChanged/";
        $.ajax({
            url: url,
            data: { compno: CompanyName, jobstatus: party_job, enquirystatus: party_enquiry},
            cache: false,
            type: "POST",
            success: function (data) {
                window.location.href ="/Home/Index/"
            },
            error: function (reponse) {
            }
        });
    });
    

    $("#party_fromdate").datepicker({
        format: "DD/MM/YYYY",
        maxDate:new Date(),
    })
    $("#party_todate").datepicker({
        format: "DD/MM/YYYY",
        maxDate: new Date(),
    })
    //$("#party_fromdate,#party_todate").click(function () {
    //    $(this).parent().find(".bootstrap-datetimepicker-widget").css('bottom', 'auto');
    //});
</script>
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
