﻿@using Ryal_CRM.Models;
@using AESEncryptDecrypt;

@model Ryal_CRM.ViewModel.EnquiryVm

@{
    ViewBag.Title = "Enquiry Master";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> parameterList = new List<SelectListItem>();
    parameterList.Add(new SelectListItem { Text = "ENQUIRY NO", Value = "ENQUIRY NO" });
    parameterList.Add(new SelectListItem { Text = "POL", Value = "POL" });
    parameterList.Add(new SelectListItem { Text = "POD", Value = "POD" });

    List<SelectListItem> statusList = new List<SelectListItem>();
    statusList.Add(new SelectListItem { Text = "NEW", Value = "NEW" });
    statusList.Add(new SelectListItem { Text = "UPDATED", Value = "UPDATED" });
    statusList.Add(new SelectListItem { Text = "FOLLOW UP", Value = "FOLLOW UP" });
    statusList.Add(new SelectListItem { Text = "NEGOTIATING", Value = "NEGOTIATING" });
    statusList.Add(new SelectListItem { Text = "CLOSED", Value = "CLOSED" });
    statusList.Add(new SelectListItem { Text = "CANCELLED", Value = "CANCELLED" });


    List<SelectListItem> FinalStatus = new List<SelectListItem>();
    FinalStatus.Add(new SelectListItem { Text = "PENDING", Value = "PENDING" });
    FinalStatus.Add(new SelectListItem { Text = "FINALISED", Value = "FINALISED" });
    FinalStatus.Add(new SelectListItem { Text = "SENT TO CUSTOMER", Value = "SENT TO CUSTOMER" });
    FinalStatus.Add(new SelectListItem { Text = "CONFIRMED", Value = "CONFIRMED" });
    FinalStatus.Add(new SelectListItem { Text = "LOST", Value = "LOST" });
}

@{
    int counter = 1;
    AESEncrypt_Decrypt Encrypt_Decrypt = new AESEncrypt_Decrypt();
}
@*@Html.Partial("_Layout")*@

<style>
    .search-tbl {
        font-size: 12px;
        text-transform: uppercase;
    }

        .search-tbl tr td input {
            font-size: 12px;
            text-transform: uppercase;
        }

    .panel.tabel-header {
        overflow: visible;
    }

    ul.multiselect-container.dropdown-menu li label {
        position: unset !important;
        color: #000;
        min-width: 303px !important;
    }

    @@media screen and (min-width: 1024px) and (max-width: 1400px) {
        .expense-tabel .row:first-child .col-md-12 {
            height: 81vh;
        }
    }

    body {
        overflow: hidden;
    }

    .fgroup label {
        font-weight: 400;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.2/baguetteBox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
<section class="expense-cntr parallax address-book-master">
    <div class="">
        <div class="expense-info">
            <div class="panel tabel-header">
                <section id="breadcrumb">
                    <div class="container-fluid cl">
                        <ul class="breadcrumblist">
                            <li><a href="#">Dashboard</a></li>
                            <li><span class="dot"></span></li>
                            <li class="page-name">Enquiry</li>
                        </ul>
                    </div>
                </section>
                @using (Html.BeginForm("Index", "Enquiry", FormMethod.Get, null))
                {
                    <div class="panel-header big-header search-header">
                        <div class="row filter-panel mar-tb-5">
                            <div class="col  search-box">
                                <div class="fgroup">
                                    <label>Select Parameter</label>
                                    @Html.DropDownList("Select_Parameter", parameterList, "")
                                </div>
                            </div>
                            <div class="col search-box">
                                <div class="fgroup">
                                    <label>Search value</label>
                                    @Html.TextBox("Search_Value", @ViewBag.Search_Value as string, new { placeholder = "" })
                                </div>
                            </div>
                            <div class="col date wid-auto">
                                <div class="fgroup wid-120">
                                    <label>From Date</label>
                                    @Html.TextBox("Search_From_Dt", @ViewBag.SearchFromDt as string, new { placeholder = "" })
                                    <i class="las la-calendar"></i>
                                </div>
                            </div>
                            <div class="col date wid-auto">
                                <div class="fgroup wid-120">
                                    <label>To Date</label>
                                    @Html.TextBox("Search_To_Dt", null, new { placeholder = "", @Value = ViewBag.SearchToDt })
                                    <i class="las la-calendar"></i>
                                </div>
                            </div>
                            <div class="col">
                                <div class="fgroup">
                                    <label>Enquiry Status</label>
                                    @Html.DropDownList("Enquiry_Status", new List<SelectListItem> {
                                    new SelectListItem { Text = "ALL", Value="ALL" },
                                    new SelectListItem { Text = "PENDING", Value="PENDING" },
                                    new SelectListItem { Text = "FINALISED", Value="FINALISED" },
                                    new SelectListItem { Text = "SENT TO CUSTOMER", Value="QUOTED" },
                                    new SelectListItem { Text = "CONFIRMED", Value="CONFIRMED" },
                                    new SelectListItem { Text = "LOST", Value="LOST" },
                                    }, new { @style = "" })
                                    <i class="las la-angle-down dropdown-ico"></i>
                                </div>
                            </div>
                            <div class="col">
                                <div class="fgroup">
                                    <label>Department</label>
                                    @Html.DropDownList("Dept", new List<SelectListItem> {
                                   new SelectListItem{Text="ALL",Value="ALL"},
                                   new SelectListItem{Text="AIR EXPORT",Value="AE"},
                                   new SelectListItem{Text="AIR IMPORT",Value="AI"},
                                   new SelectListItem{Text="SEA EXPORT",Value="SE"},
                                   new SelectListItem{Text="SEA IMPORT",Value="SI"},
                               }, new { @style = "" })
                                    <i class="las la-angle-down dropdown-ico"></i>
                                </div>
                            </div>
                            <div class="col" style="width: 33%;">
                                <input type="submit" class="search gobtn" value="Search" btn_cat="search" />
                                <button type="button" id="btn_reset" btn_cat="search" class="Resetbtn fas fa-redo-alt" style="margin-top:0px;"></button>
                            </div>
                        </div>
                    </div>
                }
                <div class="clear"></div>
            </div>
            <div class="address-book-tabel commonbt70">
                <div class="expense-tabel">
                    @if (!Model.EnquiryList.Any())
                    {
                        <p style="margin-top: -10px;text-align: center;">No records available to display.</p>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-12" style="overflow: auto; width:100%">
                                @Html.AntiForgeryToken()

                                <table id="add_book_table" class="table table-hover table-bordered ">
                                    <thead>
                                        <tr>
                                            <th style="width:30px;">SR</th>
                                            <th>Enquiry No</th>
                                            <th>Date</th>
                                            <th>Dept</th>
                                            <th>P.O.L</th>
                                            <th>P.O.D</th>
                                            <th class="text-center">cur</th>
                                            <th class="text-center">C. Type</th>
                                            <th class="text-right">Pkg</th>
                                            <th class="text-right">GR. WT</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (tbl_enquiry_management item in Model.EnquiryList)
                                        {
                                            if (item.Enquiry_final_status == "SENT TO CUSTOMER")
                                            {
                                                item.Enquiry_final_status = "QUOTED";
                                            }
                                            AESEncrypt_Decrypt encryptDecrypt = new AESEncrypt_Decrypt();
                                            var incryptedid = encryptDecrypt.EncryptString(item.Enquiry_ID.ToString());
                                            <tr>
                                                <td>@Convert.ToInt32(counter)</td>
                                                <td>
                                                    @{
                                                        if (!string.IsNullOrEmpty(item.Enquiry_Number))
                                                        {
                                                            @item.Enquiry_Number
                                                        }
                                                        else
                                                        {
                                                            <p class="fas fa-ban not-available"></p>
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @{
                                                        if (item.Enquiry_Date != null)
                                                        {
                                                            <text>@string.Format("{0:dd/MM/yyyy}", item.Enquiry_Date)</text>
                                                        }
                                                        else
                                                        {
                                                            <p class="fas fa-ban not-available"></p>
                                                        }
                                                    }
                                                </td>
                                                <td style="display:flex;">
                                                    @{
                                                        var dept = item.tbl_enquiry_activity_list.ToList();
                                                        var deptcnt = 0;
                                                        foreach (var dept1 in dept)
                                                        {
                                                            if (deptcnt > 0)
                                                            {
                                                                <p> / </p>
                                                            }
                                                            <p title="@dept1.tbl_activity_master.activity_name.ToUpper()">@dept1.tbl_activity_master.activity_code</p>
                                                            deptcnt++;
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @{
                                                        if (!string.IsNullOrEmpty(item.Enquiry_Port_Loading_Name))
                                                        {
                                                            <p>@item.Enquiry_Port_Loading_Name</p>
                                                        }
                                                        else
                                                        {
                                                            <p class="fas fa-ban not-available"></p>
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @{
                                                        if (!string.IsNullOrEmpty(item.Enquiry_Port_Discharge_Name))
                                                        {
                                                            <p>@item.Enquiry_Port_Discharge_Name</p>
                                                        }
                                                        else
                                                        {
                                                            <p class="fas fa-ban not-available"></p>
                                                        }
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @{
                                                        if (!string.IsNullOrEmpty(item.Enquiry_Currency))
                                                        {
                                                            <text>@item.Enquiry_Currency</text>
                                                        }
                                                        else
                                                        {
                                                            <p class="fas fa-ban not-available"></p>
                                                        }
                                                    }
                                                </td>
                                                <td class="text-center" style="text-align:center !important">
                                                    @{
                                                        var commoditylist = item.Enquiry_Commodity_Type;
                                                        if (!string.IsNullOrEmpty(commoditylist))
                                                        {
                                                            switch (commoditylist)
                                                            {
                                                                case "GENERAL":
                                                                    <p class="lab la-gofore iconset" style="color: #008000;margin: 12px;"></p>
                                                                    break;
                                                                case "HAZARDOUS":
                                                                    <p class="las la-skull-crossbones iconset" style="color: #fd397a;margin: 12px;"></p>
                                                                    break;
                                                                case "TEMP 2-8":
                                                                    <p class="las la-thermometer-full iconset" style="color: #065af3;margin: 12px;"></p>
                                                                    break;
                                                                case "TEMP 15-25":
                                                                    <p class="las la-thermometer-full iconset" style="color: #065af3;margin: 12px;"></p>
                                                                    break;
                                                                case "Perishable":
                                                                    <p class="las la-utensils iconset" style="color: #5867dd;margin: 12px;"></p>
                                                                    break;
                                                                case "Valuable":
                                                                    <p class="las la-hands iconset" style="color: #17a2b8;margin: 12px;"></p>
                                                                    break;
                                                                case "Explosives":
                                                                    <p class="las la-bomb iconset" style="color: #dc3545;margin: 12px;"></p>
                                                                    break;
                                                                case "Machinery":
                                                                    <p class="las la-cogs iconset" style="color: #ffb822;"></p>
                                                                    break;
                                                                default:
                                                                    <p class="lab la-gofore iconset" style="color: #008000;margin: 12px;"></p>
                                                                    break;
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <p class="fas fa-ban not-available"></p>
                                                        }
                                                    }
                                                </td>
                                                <td class="text-right">
                                                    @{
                                                        if (item.Enquiry_Total_Package != null)
                                                        {
                                                            <text>@item.Enquiry_Total_Package</text>
                                                        }
                                                        else
                                                        {
                                                            <p class="fas fa-ban not-available"></p>
                                                        }
                                                    }
                                                </td>
                                                <td class="text-right">
                                                    @{
                                                        if (item.Enquiry_Gross_Weight != null)
                                                        {
                                                            <text>@item.Enquiry_Gross_Weight</text>
                                                        }
                                                        else
                                                        {
                                                            <p class="fas fa-ban not-available"></p>
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @{
                                                        if (!string.IsNullOrEmpty(item.Enquiry_final_status))
                                                        {
                                                            <p title="@item.Enquiry_final_status">@item.Enquiry_final_status</p>
                                                        }
                                                        else
                                                        {
                                                            <p title="PENDING">PENDING</p>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                            counter++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row fr btn-head-group">
                            <div class="col-md-12 sub-btn fr">
                                <button type="button" class="searchbtn cyan"><i class="las la-search"></i><span>Search</span></button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<input type="hidden" id="alertMessage" value="@ViewBag.alertMessage" />
<!--Show Message-->
@{
    if (!string.IsNullOrWhiteSpace(ViewBag.alertMessage))
    {
        <script>
            $(function () {
                alert($('#alertMessage').val())
            })
        </script>
    }
}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

<script>
    $("#btn_reset").on('click', function () {
        $("#Select_Parameter").val("");
        $("#Search_Value").val("");
        $("#Search_From_Dt").val("");
        $("#Search_To_Dt").val("");
        $("#Enquiry_Status").val("");
        $("#Dept").val("");
        $('input[value="Search"]').trigger("click");
    });
    $(function () {
        //// Search
        //$('#Search_From_Dt').datepicker(
        //    {
        //        format: 'DD/MM/YYYY',
        //    });
        //// Search
        //$('#Search_To_Dt').datepicker(
        //    {
        //        format: 'DD/MM/YYYY',
        //    });
    });

    $('#Search_From_Dt').datetimepicker(
        {
            format: 'DD/MM/YYYY',
            maxDate: new Date(),
        });
    $('#Search_To_Dt').datetimepicker(
        {
            format: 'DD/MM/YYYY',
            maxDate: new Date(),
        });
</script>