﻿body {
    background-color:#d0cbcb31;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.container-fluid {
    margin-left: 40px;
    margin-right: 40px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #555;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.form-group label {
    margin-top: 12px;
}

.field-validation-error {
    color: red;
}

/*.input-validation-error {
    border: 2px solid red;
}*/

.btn-link {
    text-decoration: none !important;
}


.table-hover > tbody > tr:hover {
    background-color: #eeeeee;
}

.table tbody tr:nth-child(even):hover {
    background: #d0cbcb3b;
}
.table tbody tr:nth-child(odd):hover {
    background: #d0cbcb3b;
}

.table tbody tr:nth-child(even) {
    background: #e0dfdf08;
}

.table tbody tr:nth-child(odd) {
    background: #fff;
}

.asterisk{
    color:red;
}

.table thead tr th{
    background:#127BA3;
    color:#fff;
    vertical-align:inherit !important;
}

/*.btn-link{
    color:#fff;
}
.btn-link:hover{
    color:#fff;
}*/

label{
    margin-bottom :0;
}

.clear{
    clear:both;
}

.table thead a{
    color:#fff !important;
    text-decoration:none !important;
}

.pagination{
    margin: 0 0;
}

/*vijay added css*/
#country_id {
    text-transform: uppercase !important;
}

#state_id {
    text-transform: uppercase !important;
}

#city_id {
    text-transform: uppercase !important;
}

#ryal_branch_state_no{
    text-transform: uppercase !important;
}

#ryal_branch_city_no{
    text-transform: uppercase !important;
}

#select_all_chk {
    position: relative;
    top: 1.5px;
    left: 4px;
}

#select_all_lbl {
    font-weight: bold !important;
    text-decoration: underline;
}

#select_all_lbl:hover {
    font-weight: bold !important;
    text-decoration: underline;
    /*color:#f1e3e3;*/
}

.field-validation-error{    
    color: red;
}

/*.input-validation-error{
    border: 1px solid red !important;
}*/

#btn_reset{
    margin-left:3px;
}

legend{
    font-weight:500;
}