﻿@model Ryal_CRM.Models.tbl_address_book
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string AddOrEdit = Model.add_contact_no == 0 ? "Add" : "Edit";

    List<SelectListItem> listItems = new List<SelectListItem>();

    listItems.Add(new SelectListItem
    {
        Text = "MALE",
        Value = "True"
    });

    listItems.Add(new SelectListItem
    {
        Text = "FEMALE",
        Value = "False"
    });

    List<SelectListItem> listItemsPrefix = new List<SelectListItem>();

    listItemsPrefix.Add(new SelectListItem
    {
        Text = "MR",
        Value = "Mr."
    });

    listItemsPrefix.Add(new SelectListItem
    {
        Text = "MISS",
        Value = "Miss."
    });

    listItemsPrefix.Add(new SelectListItem
    {
        Text = "MRS",
        Value = "Mrs."
    });
}
<link href="~/Content/styles/style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>


@*@Html.Partial("_Layout")*@
<style>
    .field-validation-error {
        top: 35px;
        margin: 0;
        right: 0;
    }

    .modal .close {
        color: #000;
        opacity: 1;
        font-weight: 100;
        font-size: 18px;
        width: 20px;
        height: 20px;
        text-align: center;
        background: #fff;
        border-radius: 50%;
        margin-top: 6px;
        margin-right: 5px;
        text-shadow: 0 0 0 #fff;
    }

    .First_Namerow {
        margin-bottom: 20px;
    }

    .col-sm-2 p {
        font-weight: 900;
        font-size: 14px;
    }

    .commborder {
        border: none;
        top: -8px;
        padding: 0px;
        margin: 0px;
    }

    input.commborder {
        border: none;
        top: -8px;
        padding: 0px;
        margin: 0px;
    }

    .listItemsPrefix {
        border: none;
    }
    #profilephoto {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
    .edit-profile-pic-btn {
        position: absolute;
        bottom: 7px;
        right: 12px;
        background: green;
        width: 40px;
        height: 40px;
        font-size: 18px;
        color: #fff;
        border-radius: 50%;
        cursor: pointer;
    }
    .profile-img {
        width: 200px;
        border-radius: 0% !important;
        overflow: hidden;
        margin: 0px auto 0;
        position: relative;
    }
    .reset-pass.text-center {
        margin-top: 20px;
    }
    .profile-edit i {
        font-size: 20px;
        
        vertical-align: middle;
        margin-right: 2px;
    }
    .reset-pass button {
        position: relative;
    }
    .profile-back {
        width: 80px;
        text-align: center;
        color: #fd7e14;
        border: 1px solid #fd7e14;
        background: #fff;
        line-height: 22px;
        padding: 3px 0;
        border-radius: 10px;
        display: inline-block;
        text-decoration: none;
    }

    .profile-edit {
        width: 80px;
        text-align: center;
        color: #0abb87;
        border: 1px solid #0abb87;
        background: #fff;
        line-height: 22px;
        padding: 3px 0;
        border-radius: 10px;
    }

    .profile-save {
        width: 80px;
        text-align: center;
        color: #0abb87;
        border: 1px solid #0abb87;
        background: #fff;
        line-height: 22px;
        padding: 3px 0;
        border-radius: 10px;
    }

    /*.reset-pass span:hover {
        color: #f44336;
        background: #fff;
    }*/

    .profile-edit:hover {
        color: #fff;
        border: 1px solid #fff;
        background: #0abb87;
    }

    .profile-save:hover {
        color: #fff;
        border: 1px solid #fff;
        background: #0abb87;
    }
    #change-password:hover {
        color: #f44336;
        background: #fff;
        border: 1px solid #f44336;
    }
    #change-password {
         margin-top: 10px; 
        color: #fff;
        font-weight: 500;
        padding: 6px 15px;
        background: #f44336;
        display: inline-block;
        color: #fff;
        border-radius: 10px;
        border: 1px solid #f44336;
        text-decoration: none;
        cursor: pointer;
    }

    .profile-edit:hover {
        color: #fff;
        border: 1px solid #fff;
        background: #0abb87;
    }
    .profile-back:hover {
        color: #fff;
        border: 1px solid #fff;
        background: #fd7e14;
        text-decoration: none;
    }
    .edit-profile-pic-btn:hover {
        background: #fff;
        border: 1px solid #28a745;
    }
        .edit-profile-pic-btn:hover i {
            color: green;
        }
    .full-width {
        width: 60%;
    }
</style>

@*<section id="breadcrumb">
        <div class="container-fluid cl">
            <ul class="breadcrumblist">
                <li class="page-name">@AddOrEdit @ViewBag.Title</li>
            </ul>
        </div>
    </section>*@

@using (Html.BeginForm("Save", "CustomerDetails", FormMethod.Post))
{

    <section class="profile-details">
        <div class="container-fluid">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.add_contact_no)
            @Html.Hidden("updated_on", DateTime.Now)
            @Html.Hidden("updated_by", Session["crm_user_no"].ToString())
            <div class="row eqlh">
                <div class="col-md-3 eqlh">
                    <div class="profile-details-left">

                        <div class="profile-img">

                            @{
                                if (!string.IsNullOrEmpty(Model.add_refrence_id))
                                {
                                    var src = "https://s3.ap-south-1.amazonaws.com/ryalfiles/User/" + Model.add_refrence_id;
                                    Session["src"] = "https://s3.ap-south-1.amazonaws.com/ryalfiles/User/" + Model.add_refrence_id;
                                    <img id="profilephoto" src="@src" />
                                }
                                else
                                {
                                    <img id="profilephoto" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" />
                                }
                            }


                            <div class="edit-profile-pic-btn" style="display:none">
                                <input type='file' />
                                <span id='val'></span>
                                <span class="edit-profile-pic"><i class="fas fa-camera "></i></span>
                            </div>
                        </div>

                        @*<div class="profile-mailid">

            <div class="reset-pass text-center">
                <button type="submit" id="BtnSave" class="green newsave" style="border: none;background:none;display:none;margin-bottom: 0px;"><span style="background: green;border: none;color: white;margin-bottom: 0px;">SAVE</span></button>
                <button type="button" id="BtnEdit"  ><i class="las la-edit edit profile-edit"></i><span>EDIT</span></button>
                <a href="/CustomerPortal/Dashboard" class="pink" id="backid" style="margin-bottom: 0px;"><span style="border: none;background: #e83e8c;color: white;margin-bottom: 0px;">Back</span></a><br />
                <span id="change-password" style="color: white;background:red;margin:18px;">Change Password</span>
            </div>

        </div>*@

                        <div class="profile-mailid">
                            <div class="reset-pass text-center">
                                <button type="submit" id="BtnSave" class="green newsave  profile-save " style="display:none;margin-bottom: 0px;"><i class="las la-save"></i><span style="margin-bottom: 0px;">SAVE</span></button>
                                <button type="button" id="BtnEdit" class="profile-edit"><i class="las la-edit edit"></i><span>EDIT</span></button>
                                <a href="/CustomerPortal/Dashboard" class="profile-back"><i class="las la-angle-double-left"></i><span>Back</span></a><br>
                                <span id="change-password">Change Password</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 eqlh">
                    <div class="profile-details-right">
                        <div id="editprofile" style="display:none;">
                            <h4>Edit Profile</h4>
                            <div class="form-design marT20">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="fgroup dropdown-box">
                                            @Html.Label("TITLE*")
                                            @Html.DropDownListFor(model => model.add_contact_prefix, listItemsPrefix, "", new { @class = "" })
                                            @Html.ValidationMessageFor(model => model.add_contact_prefix)
                                            <i class="las la-angle-down dropdown-ico"></i>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="fgroup">
                                            @Html.Label("First Name*")
                                            @Html.TextBoxFor(model => model.add_contact_fname, new { @class = "", maxlength = "60" })
                                            @Html.ValidationMessageFor(model => model.add_contact_fname)
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="fgroup">
                                            @Html.Label("Middle Name")
                                            @Html.TextBoxFor(model => model.add_contact_mname, new { @class = "", maxlength = "60" })
                                            @Html.ValidationMessageFor(model => model.add_contact_mname)
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="fgroup">
                                            @Html.Label("Last Name*")
                                            @Html.TextBoxFor(model => model.add_contact_lname, new { @class = "", maxlength = "60" })
                                            @Html.ValidationMessageFor(model => model.add_contact_lname)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="fgroup dropdown-box">
                                            @Html.Label("Gender")
                                            @Html.DropDownListFor(model => model.add_contact_gender, listItems, "", new { @class = "" })
                                            @Html.ValidationMessageFor(model => model.add_contact_gender)
                                            <i class="las la-angle-down dropdown-ico"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 date">
                                        <div class="fgroup">
                                            <label>SELECT DOB</label>
                                            @{
                                                var dob = "";
                                                if (Model.add_contact_no > 0)
                                                {
                                                    dob = string.Format("{0:dd/MM/yyyy}", Model.add_contact_dob);
                                                }
                                            }
                                            @Html.TextBoxFor(model => model.add_contact_dob, new { @class = "", maxlength = "60", @autocomplete = "off", @Value = dob })
                                            <i class="las la-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="fgroup">
                                            @Html.Label("Email type")
                                            @Html.DropDownListFor(m => m.add_contact_EmailType, new List<SelectListItem>{
                                                           new SelectListItem { Text="OFFICIAL", Value= "OFFICIAL" },
                                                           new SelectListItem { Text="PERSONAL", Value= "PERSONAL" },
                                                           new SelectListItem { Text="PRIMARY", Value= "PRIMARY" },
                                                           new SelectListItem { Text="SECONDARY", Value= "SECONDARY" }
                                                       }, "", new { @style = "" })
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="fgroup">
                                            @Html.Label("Email")
                                            @Html.TextBoxFor(model => model.add_contact_Email, new { @class = "", maxlength = "50" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 class="marT20">Edit Phone</h4>
                            <div class="form-design">
                                <div class="row">
                                    <div class="form-design full-width">
                                        <table id="main_add_phone_table" class="table table-bordered table-hover phone-no-table">
                                            <thead>
                                                <tr>
                                                    <th>SR</th>
                                                    <th>Label</th>
                                                    <th>Type</th>
                                                    <th>Country code</th>
                                                    <th>Area Code</th>
                                                    <th>Number</th>
                                                    <th>Ext</th>
                                                    <th class="text-center">Remove</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int sno = 1;
                                                }
                                                @{
                                                    if (Model.tbl_add_phone != null)
                                                    {
                                                        if (Model.tbl_add_phone.Count() > 0)
                                                        {
                                                            foreach (var item in Model.tbl_add_phone)
                                                            {
                                                                <tr>
                                                                    <td class='text-left'>@sno</td>
                                                                    <td class='text-left'>@item.add_phone_label</td>
                                                                    <td class='text-left'>
                                                                        @{
                                                                            if (item.add_phone_type == "1")
                                                                            {
                                                                                <text>Mobile</text>
                                                                            }
                                                                            else
                                                                            {
                                                                                <text>Landline</text>
                                                                            }
                                                                        }
                                                                    </td>
                                                                    <td class='text-left'>@item.add_mobile_country_code</td>
                                                                    <td class='text-left'>@item.add_phone_isd_code</td>
                                                                    <td class='text-left'>@item.add_phone_mobile_no</td>
                                                                    <td class='text-left'>@item.add_ext</td>
                                                                    <td class='text-center'><a href='javascript:void(0)' class='btn-link las la-trash' style='font-size: 16px;cursor: pointer;color: #fd397a!important;'><span style='display: none;'>Delete</span></a></td>
                                                                </tr>
                                                                sno++;
                                                            }
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row" style="margin-left:0px;">
                                    <div class="form-desig full-width">
                                        <table>
                                            <tbody>
                                                <tr class="row">
                                                    <td class="col">
                                                        <div class="fgroup dropdown-box">
                                                            @Html.Label("Phone Type*", new { @style = "" })
                                                            @Html.DropDownList("label", new List<SelectListItem>{
                                                              new SelectListItem { Text="OFFICIAL", Value= "OFFICIAL" },
                                                              new SelectListItem { Text="PERSONAL", Value= "PERSONAL" },
                                                              new SelectListItem { Text="PRIMARY", Value= "PRIMARY" },
                                                              new SelectListItem { Text="SECONDARY", Value= "SECONDARY" }
                                                          }, "", new { @style = "" })
                                                            <i class="las la-angle-down dropdown-ico" style="margin-right: 10px;"></i>
                                                        </div>
                                                    </td>
                                                    <td class="col ">
                                                        <div class="fgroup dropdown-box">
                                                            @Html.Label("Type*")
                                                            @Html.DropDownList("type", new List<SelectListItem>{
                                                               new SelectListItem { Text="LANDLINE", Value= "Landline" },
                                                               new SelectListItem { Text="MOBILE", Value= "Mobile" },
                                                           }, "", new { @style = "" })
                                                            <i class="las la-angle-down dropdown-ico" style="margin-right: 10px;"></i>
                                                        </div>
                                                    </td>
                                                    <td class="col ">
                                                        <div class="fgroup ">
                                                            @Html.Label("Country Code*")
                                                            @Html.TextBox("country_code", null, new { style = "" })
                                                        </div>
                                                    </td>
                                                    <td class="col ">
                                                        <div class="fgroup ">
                                                            @Html.Label("City Code", new { @style = "" })
                                                            @Html.TextBox("area_code", null, new { style = "" })
                                                        </div>
                                                    </td>
                                                    <td class="col ">
                                                        <div class="fgroup">
                                                            @Html.Label("Phone No*")
                                                            @Html.TextBox("phone_no", null, new { style = "", maxlength = 10 })
                                                        </div>
                                                    </td>
                                                    <td class="col ">
                                                        <div class="fgroup">
                                                            @Html.Label("Ext")
                                                            @Html.TextBox("EXT", null, new { style = "" })
                                                        </div>
                                                    </td>
                                                    <td class="col " style="width:50px;">
                                                        <div class="fgroup">
                                                            <div class="row fr btn-head-group">
                                                                <button type="button" class="btn btn add_phone green" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#add_local_charges_popup" style="margin-top: 4px !important;"><i class="las la-plus"></i><span>ADD</span></button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="viewprofile">
                            <h4 class="marT20" style="margin-bottom:40px">View Profile</h4>
                            <div class="row First_Namerow " style="margin-bottom: 8px;">
                                <div style=" margin-top: -4px;width:10%">
                                    <p>Name</p>
                                </div>
                                <div style="width:80%">
                                    <p><span style="font-weight:bold;">:&nbsp;&nbsp;</span>@Model.add_contact_prefix &nbsp;&nbsp; @Model.add_contact_fname &nbsp;&nbsp; @Model.add_contact_mname  &nbsp;&nbsp;@Model.add_contact_lname</p>
                                </div>
                               
                            </div>
                            <div class="row First_Namerow ">
                                <div style="width: 10%;margin-top: 7px;">
                                    <p>Gender</p>
                                </div>
                                <div style="width:80%">
                                    @{
                                        var gender = @Model.add_contact_gender;
                                        <p style="margin-top:8px;"><span style="font-weight:bold;">:&nbsp;&nbsp;</span>
                                            @if (gender == true)
                                            {
                                                <text>Male</text>
                                            }
                                            else if (gender == false)
                                            {
                                                <text>Female</text>
                                            }
                                            else
                                            {
                                                <text>NA</text>
                                            }
                                        </p>
                                    }
                                </div>                                
                            </div>

                            <div class="row First_Namerow ">
                                <div style="width: 10%;">
                                    <p>DOB</p>
                                </div>
                                <div style="width:80%">
                                    <p><span style="font-weight:bold;">:&nbsp;&nbsp;</span> @string.Format("{0:dd/MM/yyyy}", Model.add_contact_dob)</p>
                                </div>
                            </div>
                            <div class="row First_Namerow ">
                                <div style="width: 10%">
                                    <p>Email / TYPE</p>
                                </div>
                                <div style="width:80%">
                                    <p><span style="font-weight:bold;">:&nbsp;&nbsp;</span>
                                        @Model.add_contact_Email  <span>/</span>&nbsp;@Model.add_contact_EmailType
                                    </p>
                                </div>
                            </div>
                            <div class="form-design">
                                <div class="row">
                                    <div class="form-design full-width">
                                        <table id="main_add_phone_table" class="table table-bordered table-hover phone-no-table">
                                            <thead>
                                                <tr>
                                                    <th>SR</th>
                                                    <th>Label</th>
                                                    <th>Type</th>
                                                    <th>Country code</th>
                                                    <th>Area Code</th>
                                                    <th>Number</th>
                                                    <th>Ext</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    sno = 1;
                                                }
                                                @{
                                                    foreach (var item in Model.tbl_add_phone)
                                                    {
                                                        <tr>
                                                            <td class='text-left'>@sno</td>
                                                            <td class='text-left'>@item.add_phone_label</td>
                                                            <td class='text-left'>
                                                                @{
                                                                    if (item.add_phone_type == "1")
                                                                    {
                                                                        <text>Mobile</text>
                                                                    }
                                                                    else
                                                                    {
                                                                        <text>Landline</text>
                                                                    }
                                                                }
                                                            </td>
                                                            <td class='text-left'>@item.add_mobile_country_code</td>
                                                            <td class='text-left'>@item.add_phone_isd_code</td>
                                                            <td class='text-left'>@item.add_phone_mobile_no</td>
                                                            <td class='text-left'>@item.add_ext</td>
                                                        </tr>
                                                        sno++;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div style="display:none;">
        <input type="text" id="currentElementIndex" value="" />
    </div>
    <div style="display:none">
        <input type="text" id="phone_label" name="phone_label" />
        <input type="text" id="phone_type" name="phone_type" />
        <input type="text" id="country_code" name="country_code" />
        <input type="text" id="area_code" name="area_code" />
        <input type="text" id="mobile_no" name="mobile_no" />
        <input type="text" id="extension" name="extension" />
    </div>
}
<div class="modal-backdrop fade in" style="display:none;"></div>
<div id="view-change-password" class="modal fade in" role="dialog" style="margin-top: 197.25px; display: none;" aria-hidden="false">
    <div class="modal-dialog cascading-modal change-password-dialog">
        <div class="modal-content" style="width: 100%;margin: 0 auto;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="color:#f80606;font-size:20px;">×</button>
                <h4 class="modal-title" style="text-align: center;text-transform: uppercase; background: #2a2d94;color:#fff; padding: 5px;" id="milestone_job">Change Password</h4>
            </div>
            <div class="" style="padding: 0px 10px;">
                <div class="panel-header big-header">
                    <input id="addbookno" name="addbookno" type="hidden" value="@Model.add_contact_no">
                    <div class="change-password-sec">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="fgroup reset-password-input">
                                    <label for="Email">Old Password</label>
                                    <input class="pass" id="oldpassword" name="oldpassword" type="password">
                                    <span class="view-password"><i class="fas fa-eye"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="fgroup reset-password-input">
                                    <label for="Email">New Password</label>
                                    <input class="pass" id="newpassword" name="newpassword" type="password">
                                    <span class="view-password"><i class="fas fa-eye"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="fgroup reset-password-input">
                                    <label for="Email">Confirm Password</label>
                                    <input class="pass" id="cnfpassword" name="cnfpassword" type="password">
                                    <span class="view-password"><i class="fas fa-eye"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="display:flex;justify-content: center;">
                                <div class="row fr btn-head-group">
                                    <button type="button" id="BtnResetPassword" class="green"><i class="las la-save"></i><span>Save</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="preloader" style="">
    <div class="preloader loading spinner">
        <span class="slice"></span>
        <span class="slice"></span>
        <span class="slice"></span>
        <span class="slice"></span>
        <span class="slice"></span>
        <span class="slice"></span>
    </div>
</div>

<script>
    $(function () {
        var contactcount = document.getElementById("main_add_phone_table").rows.length;
        if (contactcount > 1) {
            $("#main_add_phone_table").fadeIn("slow");
        }
        else {
            $("#main_add_phone_table").fadeOut("slow");
        }

    })
    $('#add_contact_dob').datetimepicker(
        {
            format: 'DD/MM/YYYY',
            //maxDate: new Date(),
        });
    $("#add_contact_dob").click(function () {
        $(this).parent().find(".bootstrap-datetimepicker-widget").css('bottom', 'auto');
    });
    $("#EXT").change(function () {
        if (Number($("#EXT").val()) > 0) {

        } else {
            $("#EXT").val("");
        }
    });

    $(".add_phone").click(function () {
        if ($("#country_code").val() != "" && $("#phone_no").val() != "" && $("#type :selected").text() != '--Select--') {
            var rowCount = $('#main_add_phone_table tr').length;
            var Label = $("#label").val();
            var phonetype = $("#type :selected").text();
            var countrycode = $("#country_code").val();
            var areacode = $("#area_code").val();
            var phoneno = $("#phone_no").val();
            var extension = $("#EXT").val();
            //var srno = 0;

            var main_add_cargo_table = $("#main_add_phone_table");
            var tr = $("<tr><td class='text-left'>" + rowCount + "</td><td class='text-left'>" + Label + "</td><td class='text-left'>" + phonetype + "</td><td class='text-left'>" + countrycode + "</td><td class='text-left'>" + areacode + "</td><td class='text-left'>" + phoneno + "</td><td class='text-left'>" + extension + "</td><td class='text-center'><a href='javascript:void(0)' class='btn-link las la-trash' style='font-size: 16px;cursor: pointer;color: #fd397a!important;'><span style='display: none;'>Delete</span></a></td></tr>");
            /*Add Edit Code*/
            var currentElementIndex = $("#currentElementIndex").val();
            if (Label != "") {
                if (currentElementIndex == "") {
                    main_add_cargo_table.append(tr);
                    $("#main_add_phone_table").fadeIn('slow');
                } else {
                    $("#main_add_phone_table tr:eq(" + Number(currentElementIndex) + ")").empty();
                    $("#main_add_phone_table tr:eq(" + Number(currentElementIndex) + ")").append("<td class='text-left'>" + rowCount + "</td><td class='text-left'>" + Label + "</td><td class='text-left'>" + phonetype +
                        "</td><td class='text-left'>" + countrycode + "</td><td class='text-left'>" + areacode + "</td><td class='text-left'>" + phoneno + "</td><td class='text-left'>" + extension + "</td><td class='text-center'><a href='javascript:void(0)' class='btn-link las la-trash' style='font-size: 16px;cursor: pointer;color: #fd397a!important;'><span style='display: none;'>Delete</span></a></td>");
                }
                //clear function
                $("#label").val("");
                $("#type").val("");
                $("#country_code").val("");
                $("#area_code").val("");
                $("#phone_no").val("");
                $("#EXT").val("");
            }
            else {
                alert('please fill in all the required fields');
            }
        }
        else {
            alert('please fill in all the required fields');
        }
    });

    $(document).on('click', '#main_add_phone_table tr td a', function () {
        var currentElement = $(this).closest('tr');
        if ($(this).text() == 'Delete') {
            if (confirm("Are you sure you want to delete this record?")) {
                currentElement.remove();
            }
        }
        contactcount = document.getElementById("main_add_phone_table").rows.length;
        if (contactcount > 1) {
            $("#main_add_phone_table").fadeIn("slow");
        }
        else {
            $("#main_add_phone_table").fadeOut("slow");
        }

    });

    $("#BtnSave").click(function () {
        var phonelabel = [];
        var phonetype = [];
        var countrycode = [];
        var areacode = [];
        var mobileno = [];
        var extension = [];
        $("#main_add_phone_table tr:gt(0)").each(function (index, value) {
            phonelabel.push($(this).find('td:eq(1)').text());
            phonetype.push($(this).find('td:eq(2)').text());
            countrycode.push($(this).find('td:eq(3)').text());
            areacode.push($(this).find('td:eq(4)').text());
            mobileno.push($(this).find('td:eq(5)').text());
            extension.push($(this).find('td:eq(6)').text());
        });
        $("#phone_label").val(phonelabel);
        $("#phone_type").val(phonetype);
        $("#country_code").val(countrycode);
        $("#area_code").val(areacode);
        $("#mobile_no").val(mobileno);
        $("#extension").val(extension);
    });

    $("#change-password").click(function () {
        $("#view-change-password").show();

        $(".modal-backdrop").show();
    });
    $(document).on('click', '.close', function () {
        $("#view-change-password").hide();
        $(".modal-backdrop").hide();
    });
    $(document).on('change', '#newpassword,#cnfpassword', function () {
        var password_valid = new RegExp("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{8,})");
        var password = $(this).val();
        if (!password_valid.test(password)) {
            alert('Password Must Be Contain At Least 8 Characters, Least 1 Number And Both Lower And Uppercase Letters And Special Characters');
            $(this).val("");
        }
    });
    $(document).on('click', '#BtnResetPassword', function () {
        if ($("#oldpassword").val() == "") {
            alert("Please Enter Old Password");
            event.preventDefault();
        }
        else if ($("#newpassword").val() == "") {
            alert("Please Enter New Password");
            event.preventDefault();
        }
        else if ($("#cnfpassword").val() != $("#newpassword").val()) {
            alert("New and Confirm password not match")
            event.preventDefault();
        }
        else {
            var _url = window.location.origin + "/CustomerDetails/ResetPassword/";
            $.ajax({
                url: _url,
                method: "post",
                contentType: 'application/json;charset=utf-8',
                dataType: "json",
                data: JSON.stringify({ newpassword: $("#newpassword").val(), oldpassword: $("#oldpassword").val(), addbookno: $("#addbookno").val() }),
                success: function (data) {
                    alert(data);
                    if (data == "Password Reset Successful") {
                        window.location = window.location.origin + "/CustomerPortal/LogOut/";
                    }
                },
                error: function (data) {
                    //alert(data);
                }
            })
        }
    });

    $(document).on('keydown', '#cnfpassword', function () {
        if ($("#newpassword").val() == "") {
            alert("Please Enter New Password");
            $("#newpassword").focus();
            return false;
        }
    });

    $(document).on('keydown', '#newpassword', function () {
        if ($("#oldpassword").val() == "") {
            alert("Please Enter Old Password");
            $("#oldpassword").focus();
            return false;
        }
    });

    $('.edit-profile-pic').click(function () {
        $("input[type='file']").trigger('click');
    })

    $("input[type='file']").change(function () {
        var doc_file = this.files[0];
        var formData = new FormData();
        formData.append("attach_softcopy", doc_file);
        formData.append("already_attach_ref", "@Model.add_refrence_id");
        var _url = window.location.origin + "/CustomerDetails/ProfilePhoto/";
        $.ajax({
            url: _url,
            data: formData,
            cache: false,
            type: "POST",
            contentType: false,
            processData: false,
            success: function (data) {
                alert(data.split('^')[0]);
                if (data.split('^')[0] = "Profile Photo Updated") {
                    var src = "https://s3.ap-south-1.amazonaws.com/ryalfiles/User/" + data.split('^')[1];
                    $("#profilephoto").attr("src", src);
                    $(".profile-img").load(".profile-img"); location.reload();
                }
                //location.reload();
            },
            error: function (data) {
                //alert(data);
            }
        })
    })

    $('.view-password').on('click', function () {
        let input = $(this).parent().find(".pass");
        input.attr('type', input.attr('type') === 'password' ? 'text' : 'password');
    });

    //$("#BtnEdit").click(function () {
    //    $("#BtnEdit").fadeOut();
    //    $("#BtnSave").fadeIn('slow');
    //    setInterval(function () {
    //        $("#preloader").css("display", "block");
    //    }, 200)
    //    $("#viewprofile").fadeOut();
    //    $("#editprofile").fadeIn('slow');
    //    $(".edit-profile-pic-btn").css("display", "block")
    //})

    $("#BtnEdit").click(function () {
        $("#BtnEdit").hide();
        $("#BtnSave").show();
        debugger;
        $("#preloader").css("display", "block");

        setInterval(function () {
            $("#preloader").css("display", "none");
        }, 1000)
        $("#viewprofile").hide();
        $("#editprofile").show();
        $(".edit-profile-pic-btn").css("display", "block")
    })
    $("#backid").click(function (){
        $("#preloader").css("display", "block");

        setInterval(function () {
            $("#preloader").css("display", "none");
        }, 2000)

    });
   
</script>

<style>
    input[type='file'] {
        opacity: 0
    }
</style>
