﻿@using Ryal_CRM.Models;
@using AESEncryptDecrypt

<!DOCTYPE html>
<html>
<head>
    @{
        AESEncrypt_Decrypt encryptDecrypt = new AESEncrypt_Decrypt();
        var userid = "";
        if (Session["crm_user_no"] != null)
        {
            userid = encryptDecrypt.EncryptString(Session["add_contact_no"].ToString());
        }
    }

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/Content/images/rayal-logo.png">
    <title>CUSTOMER </title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/styles/style.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @*<script src="~/Content/scripts/common.js"></script>*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <SCRIPT type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }

    </SCRIPT>
    <link rel="stylesheet" type="text/css" href="~/Content/styles/style.css">

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.0/css/pro.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        body {
            text-transform: uppercase !important;
        }

        .container-fluid.pm-0.pm-d {
            padding-left: 1px;
        }

        .navbar.navbar-inverse.navbar-fixed-top {
            border-bottom: none;
        }

        #btnfin {
            margin: 0px !important;
        }

        .date_time {
            margin: 0px 10px;
        }

        .btn-save {
            background: #0abb87 !important;
            color: #fff !important;
            border-color: transparent;
            line-height: 22px;
            border: 1px solid #ccc;
            text-decoration: none;
            padding: 5px 7px;
            border-radius: 4px;
            display: inline-block;
            background-color: #f4f5f9;
            font-weight: 400;
            height: 32px;
            margin: 0 !important;
            cursor: pointer !important;
            font-size: 20px;
            vertical-align: middle;
        }

        .head-right-btn {
            width: auto;
            border-radius: 5px;
            position: relative;
            cursor: pointer;
            display: inline-block;
            float: right;
            margin: 0px 0px;
        }

        img#profilephoto1 {
            border: 1px solid;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            position: relative;
            top: -2px;
            object-fit: cover;
        }

        .profilephoto1::before {
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            background-color: red;
        }
    </style>
</head>

@{
    List<SelectListItem> financiallist = new List<SelectListItem>();
}

@Scripts.Render("~/bundles/jquery")

<body>
    @if (Session["user_login_id"] != null)
    {
        var Department = ((List<Ryal_CRM.Models.tbl_crm_user_master>)Session["user_table"]).FirstOrDefault();

        var unit_name = Session["unit_name"];
        List<SelectListItem> business_name = new List<SelectListItem>();
        business_name.Add(new SelectListItem
        {
            Text = "ALL",
            Value = "0"
        });
        foreach (var item in ((System.Web.Mvc.MultiSelectList)unit_name).Items)
        {
            business_name.Add(new SelectListItem
            {
                Text = ((System.Web.Mvc.SelectListItem)item).Text.ToUpper(),
                Value = ((System.Web.Mvc.SelectListItem)item).Value.ToUpper()
            });
        }
        <header>
            <div class="container">
                <div class="lft-heading">
                    <div class="navigation">
                        <div class="login-mblmenu">
                            <div class="mobile-nav-icon">
                                <button class="menu-icon mobil-icon-toggle"> <span>toggle menu</span> </button>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="nav-menu">
                            <div class="logocntr"><a href="/CustomerPortal/Crm_Dashboard"><img src="/Content/images/rayal-logo.png"></a></div>
                            <ul class="my-menu" style="margin-left: 10px;margin-top: 5px;font-weight: 500;">
                                @Session["cust_company"].ToString()
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div id="right_nav" class="fr">
                    <ul style="display: flex;">
                        <li class="login-user">
                            <div style="line-height: 20px;text-align: right;width: 130px;">
                                @{
                                    var Customer_User_Name = Session["Customer_User"];
                                }
                                <span class="user-icon-bg">
                                    <a class="logout-icon pink" href="@Url.Action("Cust_Profile", "CustomerDetails", new { mid = userid })">
                                        @{
                                            var img = Session["src"];
                                            if (img == null)
                                            {
                                                var add_refrence_id = Session["Img"];
                                                if (add_refrence_id != null)
                                                {
                                                    var src = "https://s3.ap-south-1.amazonaws.com/ryalfiles/User/" + add_refrence_id;
                                                    <img id="profilephoto1" src="@src" />
                                                }
                                                else
                                                {
                                                    <i class="fas fa-user"></i>
                                                }
                                            }
                                            else
                                            {
                                                if (img.ToString() == "")
                                                {
                                                    <i class="fas fa-user"></i>
                                                }
                                                else
                                                { <img id="profilephoto1" src="@img" />

                                                }
                                            }
                                        }
                                    </a>
                                </span>
                                <span class="first-letter"><a class="inline fal fa-power-off logout-icon" href="/CustomerPortal/LogOut" onclick="javascript:return LogOutMessage();"> </a></span>Hi, <person>@Customer_User_Name</person>
                                <br>
                                @{
                                    var financial = Session["financial_year"];
                                    if (financial != null)
                                    {
                                        var showfinanceyear = Session["fullfinancial"];
                                        var chkyear = financial.ToString().Replace("-", "");
                                        var curyear1 = DateTime.Today.Year;
                                        var curyear = Convert.ToInt32(curyear1.ToString().Substring(2, 2));
                                        var privious = Convert.ToBoolean(Session["privious"]);
                                        var toyear = 0;
                                        if (DateTime.Today.Month > 3)
                                        {
                                            toyear = curyear;
                                        }
                                        else
                                        {
                                            toyear = curyear - 1;
                                        }
                                        var fromyear = 20;
                                        var finyear = "";


                                        for (int i = fromyear; fromyear <= toyear; fromyear++)
                                        {
                                            finyear = fromyear + "" + (fromyear + 1);
                                            var finyear1 = "20" + fromyear + "-20" + (fromyear + 1);
                                            financiallist.Add(new SelectListItem { Text = finyear1, Value = finyear });
                                        }
                                        if (privious == false)
                                        {
                                            <a href="javascript:void(0)" onclick="setfinance()" id="btnfin" class="inline inline-btn">@showfinanceyear</a>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)" onclick="setfinance()" id="btnfin" class="inline inline-btn">@showfinanceyear</a>
                                        }
                                    }
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="fr btn-head-group" style="display:none;">
            <div class="col-md-12 sub-btn fr">
                <div class="row">
                    <ul class="legendclktext hideClass">
                        <li><p class="legend CompletedLegend"><i class="fas fa-list" style="font-size: 16px !important;margin: 3px;"></i>LEGENDS</p></li>
                    </ul>
                    <ul class="legendcntr showClass" style="display:none !important">
                        <li><p class="legend NotAvailableLegend"><i class="fas fa-ban" style="font-size: 16px !important;"></i> N/A</p></li>
                        <li><p class="legend HazardousLegend"><i class="las la-skull-crossbones" style="font-size: 19px;position: relative;top: 2px;"></i> Hazardous </p></li>
                        <li><p class="legend NonHazardousLegend"><i class="las la-skull-crossbones" style="font-size: 19px;position: relative;top: 2px;"></i> Non Hazardous </p></li>
                        <li class="legendhide"><i class="fas fa-times"></i></li>
                    </ul>
                </div>
                <section class="" style="display:flex">
                    <div class="profile-mailid">
                        <div class="reset-pass text-center" style="display:flex;">
                            <a href="/CustomerPortal/CustomerPdf" target="_blank" class="profile-back" style="border:none;margin-left: 0px;width:70px;"><i class="fas fa-file-pdf" style="font-size:20px;"></i></a><br>
                            <a href="/CustomerPortal/Dashboard_Excel" class="profile-back" style="border:none;margin-left: -20px;width:25px;"><i class="fas fa-file-excel" style="font-size:20px;"></i></a><br>
                        </div>
                    </div>
                    <button type="button" class="searchbtn cyan"><i class="las la-search"></i><span>Search</span></button>
                </section>
            </div>
        </div>
        <div class="col div-center" style="display:none;">
            <ul class="tabs">
                @if (Department.crm_user_AE == true)
                {
                    <li class="tab-button">
                        <a href="/CustomerPortal/AE_DB" class="tab-link active purple" data-tab="AE" style="width: 150px;">
                            <div class="col div-center ">
                                <div class="panel-box panel-box-img1" id="r1">
                                    <h4 class="text-center">Air Export</h4>
                                </div>
                            </div>
                        </a>
                    </li>
                }
                @if (Department.crm_user_SE == true)
                {
                    <li class="tab-button">
                        <a href="/CustomerPortal/SE_DB" class="tab-link purple" data-tab="SE" style="width:150px;">
                            <div class="col div-center ">
                                <div class="panel-box panel-box-img3" id="r3">
                                    <h4 class="text-center">sea Export</h4>
                                </div>
                            </div>
                        </a>
                    </li>
                }

                @if (Department.crm_user_AI == true)
                {
                    <li class="tab-button">
                        <a href="/CustomerPortal/AI_DB" class="tab-link purple" data-tab="AI" style="width:150px;">
                            <div class="col div-center ">
                                <div class="panel-box panel-box-img2" id="r2">
                                    <h4 class="text-center">Air Import</h4>
                                </div>
                            </div>
                        </a>
                    </li>
                }

                @if (Department.crm_user_SI == true)
                {
                    <li class="tab-button">
                        <a href="/CustomerPortal/SI_DB" class="tab-link purple" data-tab="SI" style="width:150px;">
                            <div class="col div-center">
                                <div class="panel-box panel-box-img5" id="r4">
                                    <h4 class="text-center">sea Import</h4>
                                </div>
                            </div>
                        </a>
                    </li>
                }
                <li>
                    @{
                        <div class="col" style="position: relative; top: 15px;width: 250px;">
                            <div class="fgroup in">
                                <label class="in"> Company</label>
                                @Html.DropDownList("dept_Company", business_name, new { })
                                <i class="las la-angle-down dropdown-ico"></i>
                            </div>
                        </div>
                    }
                </li>
            </ul>
        </div>
    }
    <div id="modalfinance" class="modal fade in" role="dialog" style="margin-top: 156.25px;" aria-hidden="false">
        <div class="modal-dialog cascading-modal">
            <div class="modal-content" style="width: 30%;margin: 0 auto;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style="color:#f80606;font-size:20px;">&times;</button>
                    <h4 class="modal-title" style="text-align: center;text-transform: uppercase; background: #2a2d94;color:#fff; padding: 5px;">Financial Year</h4>
                </div>
                <div class="modal-body" style="padding: 10px;min-height: 50px;">
                    <div class="panel-header big-header marT10">
                        <div class="form-design">
                            <div class="row">
                                <div class="col co-50" style="width:75%;">

                                    <div class="fgroup">
                                        <label style="padding-bottom: 0px;">Select Finacial Year</label>
                                        @Html.DropDownList("ddlfinance", financiallist, "--select--", null)
                                    </div>

                                </div>
                                <div class="row page-header-text">

                                </div>
                                <div class="co-50" style="width:25%;">
                                    <div class="head-right-btn">
                                        <button type="button" class="searchbtn cyan setfin btn-save"><i class="las la-save"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    @*//}*@
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function LogOutMessage() {
            sessionStorage.removeItem("lastTab");
            sessionStorage.removeItem("CompanyName");
        }

        function setfinance() {
            var setfin = $("#btnfin").text();
            $("#modalfinance").show();
            $(".modal-backdrop").show();
            $("#preloader").css("display", "none");
            $("#ddlfinance").val(setfin.split("-")[0].substring(2, 4) + setfin.split("-")[1].substring(2, 4));
        }
        $(document).on('click', '.setfin', function () {
            $("#btnfin").text($("#ddlfinance option:selected").text());
            $(".modal-backdrop").hide();
            SetSessionfinance();
        })
        function SetSessionfinance() {
            var url = "/CustomerPortal/changedfinance/";
            $.ajax({
                url: url,
                data: { finance: $("#ddlfinance").val() },
                cache: false,
                type: "POST",
                success: function (data) {
                    location.reload();
                },
                error: function (reponse) {
                }
            });

        }
        $(document).on('click', '.close', function () {
            $("#modalfinance").hide();
            $(".modal-backdrop").hide();
        });

        $('select.Company').prop('selectedIndex', 2);
        $(document).ready(function () {
            $(".sortable").click(function () {
                var o = $(this).hasClass('fal fa-sort-amount-up') ? 'fal fa-sort-amount-down-alt td-bg' : 'fal fa-sort-amount-up td-bg';
                $('.sortable').removeClass('fal fa-sort-amount-up td-bg').removeClass('fal fa-sort-amount-down-alt td-bg');
                $(this).addClass(o);
                var colIndex = $(this).prevAll().length;
                var tbod = $(this).closest("table").find("tbody");
                var rows = tbod.find("tr");
                rows.sort(function (a, b) {
                    var A = $(a).find("td").eq(colIndex).text();
                    var B = $(b).find("td").eq(colIndex).text();
                    if (!isNaN(A)) A = Number(A);
                    if (!isNaN(B)) B = Number(B);
                    return o == 'fal fa-sort-amount-up' ? A > B : B > A;
                });

                $.each(rows, function (index, ele) {
                    tbod.append(ele);
                });
            });
            $('.sortable').on('click', function () {
                var $currentTable = $(this).closest('table');
                var index = $(this).index();
                $currentTable.find('td').removeClass('selected');
                $currentTable.find('tr').each(function () {
                    $(this).find('td').eq(index).addClass('selected');
                });
            });
            $('.legendclktext').click(function () {
                $('.legendclktext').removeClass('showClass');
                $('.legendcntr').removeClass('hideClass');
                $('.legendclktext').hide();
                $('.legendcntr').show();
                $('.legendclktext').addClass('hideClass');
                $('.legendcntr').addClass('showClass');
            })
            $('.legendhide').click(function () {
                $('.legendclktext').removeClass('hideClass');
                $('.legendcntr').removeClass('showClass');
                $('.legendclktext').show();
                $('.legendcntr').hide();
                $('.legendclktext').addClass('showClass');
                $('.legendcntr').addClass('hideClass');
            })
            $('.btn-head-group button.searchbtn').on('click', function () {
                $('html, body').animate({ scrollTop: 0 }, '300');
            });

            $('.fgroup input, .fgroup select, .fgroup textarea').on('focus', function () {
                $(this).closest('.fgroup').addClass('in');
                $(this).hasClass('datepicker')
            }).on('blur', function () {
                if ($(this).val() == '') {
                    $(this).closest('.fgroup').removeClass('in');
                }
            });
            $('td input, td select, td textarea').on('focus', function () {
                $(this).prev('label').addClass('in');
            }).on('blur', function () {
                if ($(this).val() == '') {
                    $(this).prev('label').removeClass('in');
                }
            });
            $('.modal-body .row.btn-head-group .col button').click(function () {
                $('.fgroup').removeClass('in');
                $('label').removeClass('in');
            })

            setInterval(function () {
                $('.fgroup input, .fgroup select, .fgroup textarea').on('focus', function () {
                    $(this).closest('.fgroup').addClass('in');
                    $(this).hasClass('datepicker')
                }).on('blur', function () {
                    if ($(this).val() == '') {
                        $(this).closest('.fgroup').removeClass('in');
                    }
                });

                $('input, select, textarea').each(function () {
                    if (this.value.length > 0) {
                        $(this).prev('label').addClass('in');
                        $(this).parent(".fgroup").addClass('in');
                    }
                });
            }, 400);

            var searchcount = 0;
            $('.search-header input, .search-header select').each(function () {
                if (this.value.length > 0) {
                    searchcount++;
                }
            });
            if (searchcount > 1) {
                $(".search-header").css("display", "block");
            }
            else {
                $(".search-header").css("display", "none");
            }
            $("#right_nav ul li#notification-bar-wrap").mouseover(function () {
                $(".btn-head-group .sub-btn").css("z-index", "0");
            });
            $("#right_nav ul li#notification-bar-wrap").mouseout(function () {
                $(".btn-head-group .sub-btn").css("z-index", "99999");
            });
            $('.tab-nav li').click(function () {
                var tabIndex = $(this).index();
                $('.tab-nav li').removeClass('active');
                $('.tab-content').removeClass('show');
                $(this).addClass('active');
                $('.hideshowtabs').find('.tab-content-wrap').children('.tab-content').eq(tabIndex).addClass('show');
            })

            var tabcout = 0;
            $('.pagination a.next').click(function () {
                if (tabcout < 4) { tabcout++ }
                var tabIndex = $(".tab-nav li").index();
                $('.tab-nav li').removeClass('active');
                $('.tab-content').removeClass('show');
                $(".tab-nav li").eq(tabcout).addClass('active');
                $('.hideshowtabs').find('.tab-content-wrap').children('.tab-content').eq(tabcout).addClass('show');
            })
            $('.pagination a.prev').click(function () {
                if (tabcout >= 1) { tabcout-- }
                var tabIndex = $(".tab-nav li").index();
                $('.tab-nav li').removeClass('active');
                $('.tab-content').removeClass('show');
                $(".tab-nav li").eq(tabcout).addClass('active');
                $('.hideshowtabs').find('.tab-content-wrap').children('.tab-content').eq(tabcout).addClass('show');
            })
        })

        $(function () {
            if ($(".search-header").css("display") == "block") {
                $(".address-book-tabel").addClass("isactive");
            }
            $('.searchbtn').click(function () {
                $(".search-header").toggle();
                $(".address-book-tabel").toggleClass("isactive");
            })

            $(document).keyup(function (e) {
                if (e.which == 27) {
                    // Close my modal window
                   var returnval= $("[role=\"dialog\"]").filter(function () {
                        return $(this).css("display") === "block";
                    })
                    $(returnval).find(".close").trigger("click");
                }
            });
        })
        $("#profilephoto1").click(function () {
            $("#preloader").css("display", "block");

            setInterval(function () {
                $("#preloader").css("display", "none");
            }, 1000)
        });
    </script>
</body>

</html>
