﻿@using Ryal_CRM.Models;
@using AESEncryptDecrypt
<style>
    img#profilephoto1 {
        border: 1px solid;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        position: relative;
        top: -2px;
        object-fit: cover;
    }
</style>

<!DOCTYPE html>
<html>
<head>
    @{
        AESEncrypt_Decrypt encryptDecrypt = new AESEncrypt_Decrypt();
        var userid = "";
        if (Session["crm_user_no"] != null)
        {
            userid = encryptDecrypt.EncryptString(Session["add_contact_no"].ToString());
        }
    }

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Content/images/rayal-logo.png">
    <title>CUSTOMER </title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/styles/style.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <SCRIPT type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }

    </SCRIPT>
    <link rel="stylesheet" type="text/css" href="~/Content/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.0/css/pro.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
</head>
@{
    List<SelectListItem> financiallist = new List<SelectListItem>();
}
@Scripts.Render("~/bundles/jquery")
<body>
    @if (Session["user_login_id"] != null)
    {
        var Department = ((List<Ryal_CRM.Models.tbl_crm_user_master>)Session["user_table"]).FirstOrDefault();

        var unit_name = Session["unit_name"];
        List<SelectListItem> business_name = new List<SelectListItem>();
        business_name.Add(new SelectListItem
        {
            Text = "ALL",
            Value = "0"
        });
        foreach (var item in ((System.Web.Mvc.MultiSelectList)unit_name).Items)
        {
            business_name.Add(new SelectListItem
            {
                Text = ((System.Web.Mvc.SelectListItem)item).Text.ToUpper(),
                Value = ((System.Web.Mvc.SelectListItem)item).Value.ToUpper()
            });
        }
        <header>
            <div class="container">
                <div class="lft-heading" style="width:80%;">
                    <div class="navigation">
                        <div class="login-mblmenu">
                            <div class="mobile-nav-icon">
                                <button class="menu-icon mobil-icon-toggle"> <span>toggle menu</span> </button>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="nav-menu" style="width:100%;">
                            <div class="logocntr"><a href="/Home/Index"><img src="/Content/images/rayal-logo.png"></a></div>
                            <ul class="my-menu" style="margin-left: 10px;margin-top: 5px;font-weight: 500;min-width:60%;">
                                @Session["cust_company"].ToString()
                            </ul>
                            <ul style="margin-top: 6px;">
                                <li>
                                    <form action="/CustomerPortal/TrackJob" method="get" id="trackform">
                                        <div style="display:flex;">
                                            <div class="fgroup in col col-25" style="display: flex; margin: 4px 10px 0 0;">
                                                <input type="text" id="txttrackjob" name="txttrackjob" required placeholder="JOB NO" />
                                                <button type="submit" id="btnawbtrack" name="btnawbtrack" style="border: none;background: green;width: 30px;text-align: center;height: 34px;border-radius: 5px;color: white;margin-left: 4px;" title="TRACK"><i class="fas fa-solid fa-bullseye" style="font-size: 18px;"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                           
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div id="right_nav" class="fr">
                    <ul style="display: flex;">
                        <li class="login-user">
                            <div style="line-height: 20px;text-align: right;width: 130px;">                              
                                @{
                                    var Customer_User_Name = Session["Customer_User"];
                                }
                                <span class="user-icon-bg">
                                    <a class="logout-icon pink" href="@Url.Action("Cust_Profile", "CustomerDetails", new { mid = userid })">
                                        @{
                                            var img = Session["src"];
                                            if (img == null)
                                            {
                                                var add_refrence_id = Session["Img"];
                                                if (add_refrence_id != null)
                                                {
                                                    var src = "https://s3.ap-south-1.amazonaws.com/ryalfiles/User/" + add_refrence_id;
                                                    <img id="profilephoto1" src="@src" />
                                                }
                                                else
                                                {
                                                    <i class="fas fa-user"></i>
                                                }
                                            }
                                            else
                                            {
                                                if (img.ToString() == "")
                                                {
                                                    <i class="fas fa-user"></i>
                                                }
                                                else
                                                { <img id="profilephoto1" src="@img" />

                                                }
                                            }
                                        }
                                    </a>
                                </span>
                                <span class="first-letter"><a class="inline fal fa-power-off logout-icon" href="/CustomerPortal/LogOut" onclick="javascript:return LogOutMessage();"> </a></span>Hi, <person>@Customer_User_Name</person>
                                <br>
                                @{
                                    var financial = Session["financial_year"];
                                    if (financial != null)
                                    {
                                        var showfinanceyear = Session["fullfinancial"];
                                        var chkyear = financial.ToString().Replace("-", "");
                                        var curyear1 = DateTime.Today.Year;
                                        var curyear = Convert.ToInt32(curyear1.ToString().Substring(2, 2));
                                        var privious = Convert.ToBoolean(Session["privious"]);
                                        var toyear = 0;
                                        if (DateTime.Today.Month > 3)
                                        {
                                            toyear = curyear;
                                        }
                                        else
                                        {
                                            toyear = curyear - 1;
                                        }
                                        var fromyear = 20;
                                        var finyear = "";


                                        for (int i = fromyear; fromyear <= toyear; fromyear++)
                                        {
                                            finyear = fromyear + "" + (fromyear + 1);
                                            var finyear1 = "20" + fromyear + "-20" + (fromyear + 1);
                                            financiallist.Add(new SelectListItem { Text = finyear1, Value = finyear });
                                        }
                                        if (privious == false)
                                        {
                                            <a href="javascript:void(0)" onclick="setfinance()" id="btnfin" class="inline inline-btn" style="margin-right: -4px !important;">@showfinanceyear</a>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)" onclick="setfinance()" id="btnfin" class="inline inline-btn" style="margin-right: -4px !important;">@showfinanceyear</a>
                                        }
                                    }
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
    }
    <div id="modalfinance" class="modal fade in" role="dialog" style="margin-top: 156.25px;" aria-hidden="false">
        <div class="modal-dialog cascading-modal">
            <div class="modal-content" style="width: 30%;margin: 0 auto;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style="color:#f80606;font-size:20px;">&times;</button>
                    <h4 class="modal-title" style="text-align: center;text-transform: uppercase; background: #2a2d94;color:#fff; padding: 5px;">Financial Year</h4>
                </div>
                <div class="modal-body" style="padding: 10px;min-height: 50px;">
                    <div class="panel-header big-header marT10">
                        <div class="form-design">
                            <div class="row">
                                <div class="col co-50" style="width:75%;">

                                    <div class="fgroup">
                                        <label style="padding-bottom: 0px;">Select Finacial Year</label>
                                        @Html.DropDownList("ddlfinance", financiallist, "--select--", null)
                                    </div>

                                </div>
                                <div class="row page-header-text">

                                </div>
                                <div class="co-50" style="width: 25%;padding: 5px 21px;">
                                    <div class="head-right-btn">
                                        <button type="button" class="searchbtn cyan setfin btn-save"><i class="las la-save"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function LogOutMessage() {
            sessionStorage.removeItem("lastTab");
            sessionStorage.removeItem("CompanyName");
        }

        function setfinance() {
            var setfin = $("#btnfin").text();
            $("#modalfinance").show();
            $(".modal-backdrop").show();
            $("#preloader").css("display", "none");
            $("#ddlfinance").val(setfin.split("-")[0].substring(2, 4) + setfin.split("-")[1].substring(2, 4));
        }
        $(document).on('click', '.setfin', function () {
            $("#btnfin").text($("#ddlfinance option:selected").text());
            $(".modal-backdrop").hide();
            SetSessionfinance();
        })
        function SetSessionfinance() {
            var url = "/CustomerPortal/changedfinance/";
            $.ajax({
                url: url,
                data: { finance: $("#ddlfinance").val() },
                cache: false,
                type: "POST",
                success: function (data) {
                    location.reload();
                },
                error: function (reponse) {
                }
            });

        }
        $(document).on('click', '.close', function () {
            $("#modalfinance").hide();
            $(".modal-backdrop").hide();
        });

        $('select.Company').prop('selectedIndex', 2);
        $(document).ready(function () {
            $(".sortable").click(function () {
                var o = $(this).hasClass('fal fa-sort-amount-up') ? 'fal fa-sort-amount-down-alt td-bg' : 'fal fa-sort-amount-up td-bg';
                $('.sortable').removeClass('fal fa-sort-amount-up td-bg').removeClass('fal fa-sort-amount-down-alt td-bg');
                $(this).addClass(o);
                var colIndex = $(this).prevAll().length;
                var tbod = $(this).closest("table").find("tbody");
                var rows = tbod.find("tr");
                rows.sort(function (a, b) {
                    var A = $(a).find("td").eq(colIndex).text();
                    var B = $(b).find("td").eq(colIndex).text();
                    if (!isNaN(A)) A = Number(A);
                    if (!isNaN(B)) B = Number(B);
                    return o == 'fal fa-sort-amount-up' ? A > B : B > A;
                });

                $.each(rows, function (index, ele) {
                    tbod.append(ele);
                });
            });
            $('.sortable').on('click', function () {
                var $currentTable = $(this).closest('table');
                var index = $(this).index();
                $currentTable.find('td').removeClass('selected');
                $currentTable.find('tr').each(function () {
                    $(this).find('td').eq(index).addClass('selected');
                });
            });
            $('.legendclktext').click(function () {
                $('.legendclktext').removeClass('showClass');
                $('.legendcntr').removeClass('hideClass');
                $('.legendclktext').hide();
                $('.legendcntr').show();
                $('.legendclktext').addClass('hideClass');
                $('.legendcntr').addClass('showClass');
            })
            $('.legendhide').click(function () {
                $('.legendclktext').removeClass('hideClass');
                $('.legendcntr').removeClass('showClass');
                $('.legendclktext').show();
                $('.legendcntr').hide();
                $('.legendclktext').addClass('showClass');
                $('.legendcntr').addClass('hideClass');
            })
            $('.btn-head-group button.searchbtn').on('click', function () {
                $('html, body').animate({ scrollTop: 0 }, '300');
            });

            $('.fgroup input, .fgroup select, .fgroup textarea').on('focus', function () {
                $(this).closest('.fgroup').addClass('in');
                $(this).hasClass('datepicker')
            }).on('blur', function () {
                if ($(this).val() == '') {
                    $(this).closest('.fgroup').removeClass('in');
                }
            });
            $('td input, td select, td textarea').on('focus', function () {
                $(this).prev('label').addClass('in');
            }).on('blur', function () {
                if ($(this).val() == '') {
                    $(this).prev('label').removeClass('in');
                }
            });
            $('.modal-body .row.btn-head-group .col button').click(function () {
                $('.fgroup').removeClass('in');
                $('label').removeClass('in');
            })

            setInterval(function () {
                $('.fgroup input, .fgroup select, .fgroup textarea').on('focus', function () {
                    $(this).closest('.fgroup').addClass('in');
                    $(this).hasClass('datepicker')
                }).on('blur', function () {
                    if ($(this).val() == '') {
                        $(this).closest('.fgroup').removeClass('in');
                    }
                });

                $('input, select, textarea').each(function () {
                    if (this.value.length > 0) {
                        $(this).prev('label').addClass('in');
                        $(this).parent(".fgroup").addClass('in');
                    }
                });
            }, 400);

            var searchcount = 0;
            $('.search-header input, .search-header select').each(function () {
                if (this.value.length > 0) {
                    searchcount++;
                }
            });
            if (searchcount > 1) {
                $(".search-header").css("display", "block");
            }
            else {
                $(".search-header").css("display", "none");
            }
            $("#right_nav ul li#notification-bar-wrap").mouseover(function () {
                $(".btn-head-group .sub-btn").css("z-index", "0");
            });
            $("#right_nav ul li#notification-bar-wrap").mouseout(function () {
                $(".btn-head-group .sub-btn").css("z-index", "99999");
            });
            $('.tab-nav li').click(function () {
                var tabIndex = $(this).index();
                $('.tab-nav li').removeClass('active');
                $('.tab-content').removeClass('show');
                $(this).addClass('active');
                $('.hideshowtabs').find('.tab-content-wrap').children('.tab-content').eq(tabIndex).addClass('show');
            })

            var tabcout = 0;
            $('.pagination a.next').click(function () {
                if (tabcout < 4) { tabcout++ }
                var tabIndex = $(".tab-nav li").index();
                $('.tab-nav li').removeClass('active');
                $('.tab-content').removeClass('show');
                $(".tab-nav li").eq(tabcout).addClass('active');
                $('.hideshowtabs').find('.tab-content-wrap').children('.tab-content').eq(tabcout).addClass('show');
            })
            $('.pagination a.prev').click(function () {
                if (tabcout >= 1) { tabcout-- }
                var tabIndex = $(".tab-nav li").index();
                $('.tab-nav li').removeClass('active');
                $('.tab-content').removeClass('show');
                $(".tab-nav li").eq(tabcout).addClass('active');
                $('.hideshowtabs').find('.tab-content-wrap').children('.tab-content').eq(tabcout).addClass('show');
            })
        })

        $(function () {
            if ($(".search-header").css("display") == "block") {
                $(".address-book-tabel").addClass("isactive");
            }
            $('.searchbtn').click(function () {
                $(".search-header").toggle();
                $(".address-book-tabel").toggleClass("isactive");
            })

            $(document).keyup(function (e) {
                if (e.which == 27) {
                    // Close my modal window
                    var returnval = $("[role=\"dialog\"]").filter(function () {
                        return $(this).css("display") === "block";
                    })
                    $(returnval).find(".close").trigger("click");
                }
            });
        })
        $("#profilephoto1").click(function () {
            $("#preloader").css("display", "block");

            setInterval(function () {
                $("#preloader").css("display", "none");
            }, 1000)
        });
    </script>
</body>

</html>
