﻿@using Newtonsoft.Json.Linq;
@{
    ViewBag.Title = "AIF USER DB";
    JObject response = JObject.Parse(ViewBag.alljobs);

    string totalenq = response["totalenq"].ToString();
    string confirmenq = response["confirmenq"].ToString();
    string onaccountbal =string.Format("{0:0.00}", response["onaccountbal"].ToString());
    string outstandingpayment = response["outstandingpayment"].ToString();
    string totaljob = response["totaljob"].ToString();
    string aefjob = response["aefjob"].ToString();
    string sefjob = response["sefjob"].ToString();
    string aifjob = response["aifjob"].ToString();
    string sifjob = response["sifjob"].ToString();
    var joblistjson = response["MonthlyJob"].ToArray();
    var mnthlist = new List<SelectListItem>();
    for (int i = 0; i < joblistjson.Count(); i++)
    {
        mnthlist.Add(new SelectListItem { Text = joblistjson[i]["Month_Name"].ToString(), Value = joblistjson[i]["Month_Val"].ToString() });
    }

    List<SelectListItem> Mnth_name = new List<SelectListItem>();
    Mnth_name.Add(new SelectListItem { Text = "Apr", Value = "0" });
    Mnth_name.Add(new SelectListItem { Text = "May", Value = "0" });
    Mnth_name.Add(new SelectListItem { Text = "Jun", Value = "0" });
    Mnth_name.Add(new SelectListItem { Text = "Jul", Value = "0" });
    Mnth_name.Add(new SelectListItem { Text = "Aug", Value = "0" });
    Mnth_name.Add(new SelectListItem { Text = "Sep", Value = "0" });
    Mnth_name.Add(new SelectListItem { Text = "Oct", Value = "0" });
    Mnth_name.Add(new SelectListItem { Text = "Nov", Value = "0" });
    Mnth_name.Add(new SelectListItem { Text = "Dec", Value = "0" });
    Mnth_name.Add(new SelectListItem { Text = "Jan", Value = "0" });
    Mnth_name.Add(new SelectListItem { Text = "Feb", Value = "0" });
    Mnth_name.Add(new SelectListItem { Text = "Mar", Value = "0" });
    for (int i = 0; i < Mnth_name.Count(); i++)
    {
        var text = Mnth_name[i].Text;
        Mnth_name[i].Value = mnthlist.Where(x => x.Text == text).Count().ToString();
    }
}
<style>
    .chart-content {
        margin: 0 auto;
        width: 46%;
    }

    .chart-legend {
        font-size: 0.8em;
    }

        .chart-legend ul {
            text-align: center;
        }

        .chart-legend li {
            list-style: none;
            display: inline-block;
            margin-right: 5px;
            font-size: 10px;
        }

            .chart-legend li span {
                display: inline-block;
                width: 10px;
                height: 10px;
                margin-right: 5px;
            }

    .container-fluid {
        margin-top: -43px;
    }

    .panel-box a {
    padding-top: 4px;
    }
</style>
<!--Here are the key parameter staistics -->
<div class="panel-area" style="height: 130px;">
    <div class="row">
        <div class="col-lg-3 col-sm-3">
            <div class="panel-box panel-box-img1">
                <h4>TOTAL JOB</h4>
                <h1>@totaljob</h1>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3">
            <div class="panel-box panel-box-img2">
                <h4>AIR EXPORT</h4>
                <h1>@aefjob</h1>
                <a href="/CustomerPortal/AE_DB"><span></span></a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3">
            <div class="panel-box panel-box-img3">
                <h4>SEA EXPORT</h4>
                <h1>@sefjob</h1>
                <a href="/CustomerPortal/SE_DB"><span></span></a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3">
            <div class="panel-box panel-box-img4">
                <h4>AIR IMPORT</h4>
                <h1>@aifjob</h1>
                <a href="/CustomerPortal/AI_DB"><span></span></a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3">
            <div class="panel-box panel-box-img5">
                <h4>SEA IMPORT</h4>
                <h1>@sifjob</h1>
                <a href="/CustomerPortal/SI_DB"><span></span></a>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:15px;">
        <div class="col-lg-3 col-sm-3">
            <div class="panel-box panel-box-img6">
                <h4>Total Enquiry</h4>
                <h1>@totalenq</h1>
                <a href="/Enquiry/Index"><span></span></a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3">
            <div class="panel-box panel-box-img4">
                <h4>Confirmed</h4>
                <h1>@confirmenq</h1>
                <a href="/Enquiry/Index?Enquiry_Status=CONFIRMED"><span></span></a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3">
            <div class="panel-box panel-box-img1">
                <h4>outstanding payment</h4>
                @*<h1 style="font-size: 30px;">@outstandingpayment</h1>*@
                <h1 style="">@outstandingpayment</h1>
                @*<a href="/CustomerPortal/SI_DB"><span></span></a>*@
            </div>
        </div>
        <div class="col-lg-3 col-sm-3">
            <div class="panel-box panel-box-img2">
                <h4>Advance payment</h4>
                @*<h1 style="font-size: 30px;">@onaccountbal</h1>*@
                <h1 style="">@onaccountbal</h1>
                @*<a href="/CustomerPortal/SI_DB"><span></span></a>*@
            </div>
        </div>
        <div class="col-lg-3 col-sm-3">
        </div>
        <div class="col-lg-3 col-sm-3">
        </div>
    </div>
</div>
<div class="panel-area">
    <div class="row flex-root">
        <div class="col-lg-4 col-md-12">
            <div class="chart-box">
                <h4>JOBS</h4>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<!-- Chart5 -->
<script type="text/javascript">
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart3 = new Chart(ctx, {
        type: 'line',
        data: {
            labels: @Html.Raw(Json.Encode(Mnth_name.Select(x=>x.Text).ToArray())),
            datasets: [{
                label: '@Session["financialyear"].ToString()',
                borderColor: "#f74a75",
                pointBorderColor: "#f74a75",
                pointBackgroundColor: "#f74a75",
                pointHoverBackgroundColor: "#f74a75",
                pointHoverBorderColor: "#f74a75",
                pointBorderWidth: 10,
                pointHoverRadius: 10,
                pointHoverBorderWidth: 1,
                pointRadius: 3,
                fill: false,
                borderWidth: 4,
                data: @Html.Raw(Json.Encode(Mnth_name.Select(x => x.Value).ToArray())),
                backgroundColor: "#f74a75"
            }]
        },
        options: {
            legend: {
                position: "bottom"
            },
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

</script>
<!-- Chart5 -->
<script>
    $(function () {
        var panelcolor = Array("panel-info", "panel-primary", "panel-success", "panel-warning", "panel-danger");
        var curcolindex = 0;

        $(".panel").each(function () {
            if (curcolindex >= panelcolor.length) {
                curcolindex = 0;
            }

            $(this).addClass(panelcolor[curcolindex++])
        })

    })
</script>


