﻿@model Ryal_CRM.Models.CustomerModal
@using Ryal_CRM.Controllers;
@{

    List<Customer> customer = Session["Cost_details"] as List<Customer>;

    decimal total = 0;
    var finyear = Session["financialyear"].ToString();
    int counter = 1;

}
<body>

    <div id="allval"  style="display:none">
        <style>
            body {
                font-family: 'Arial';
            }

            html {
                font-size: 12px;
                padding: 0px;
                margin: 0px;
                box-sizing: border-box;
            }

            .bg-img {
                position: absolute;
                top: 40%;
                left: 0;
                bottom: 0;
                z-index: -1;
                opacity: 0.5;
                width: 40%;
                right: 0;
                margin: auto;
            }

            p {
                margin: 0 0 4px;
            }

            table {
                font-family: bold,Helvetica;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #292626;
                text-align: left;
                padding: 1px 2px;
                font-weight: 100;
                width: 20px;
                font-size: 9px !important;
            }

            td {
                border: 1px solid;
            }

            .bg-img {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                z-index: -1;
                opacity: 0.3;
                width: 60%;
                right: 0;
                margin: auto;
            }

            .pad-tb {
                padding: 13px;
            }
            .bot {
                border-bottom: solid 1px  !important;
                border-bottom-color:red;
            }
        </style>
        <div style="height:178mm; width:197.5mm;margin:0px 9px;" id="allval">

            <div style=" margin:10px 10px 10px 1px">
                <div>
             
                    <table style="width:287mm; height:10px !important; margin-top:30px;" id="tabled">
                       
                        <thead style="display: table-header-group;">
                            <tr>
                                <td style="font-size:9px;width:1% !important;background-color:dimgray;color:white;border-color:black">SR</td>
                                <td style="font-size:9px;width:7%;background-color:dimgray;color:white;border-color:black">Inv No</td>
                                @if (Session["dept"].ToString() == "AE" || Session["dept"].ToString() == "SE")
                                {


                                    <td style="font-size:9px;width:12%;background-color:dimgray;color:white;border-color:black">CONS</td>
                                }
                                else
                                {
                                    <td style="font-size:9px;width:12%;background-color:dimgray;color:white;border-color:black">SHIP</td>

                                }
                                <td style="font-size:9px;width:7%;background-color:dimgray;color:white;border-color:black">Jb NO/Date</td>

                                <td style="font-size:9px;width:2%;background-color:dimgray;color:white;border-color:black">MODE</td>

                                @if (Session["dept"].ToString() == "AE")
                                {



                                    <td style="font-size:9px;width:9% !important;background-color:dimgray;color:white;border-color:black">MAWB</td>
                                    <td style="font-size:9px;width:4%;background-color:dimgray;color:white;border-color:black">HAWB</td>
                                }
                                else if (Session["dept"].ToString() == "SE")
                                {
                                    <td style="font-size:9px;width:8% !important;background-color:dimgray;color:white;border-color:black">BL</td>


                                }
                                else if (Session["dept"].ToString() == "AI")
                                {
                                    <td style="font-size:9px;width:9% !important;background-color:dimgray;color:white;border-color:black">MAWB</td>
                                    <td style="font-size:9px;width:4%;background-color:dimgray;color:white;border-color:black">HAWB</td>
                                }
                                else
                                {


                                    <td style="font-size:9px;width:9% !important;background-color:dimgray;color:white;border-color:black">MBL</td>
                                    <td style="font-size:9px;width:4% !important;background-color:dimgray;color:white;border-color:black">HBL</td>
                                }
                                @if (Session["dept"].ToString() == "AE" || Session["dept"].ToString() == "SE")
                                {
                                    <td style="font-size:9px;width:5%;background-color:dimgray;color:white;border-color:black">SB NO</td>

                                }
                                else
                                {
                                    <td style="font-size:9px;width:5%;background-color:dimgray;color:white;border-color:black">BOE NO</td>
                                }
                                <td style="font-size:9px;width:2%;background-color:dimgray;color:white;border-color:black">TYPE</td>
                                <td style="font-size:9px;width:5%;background-color:dimgray;color:white;border-color:black">PKG <span style="margin:2px;">/</span>WT</td>
                                @if (Session["dept"].ToString() == "SE" || Session["dept"].ToString() == "SI")
                                {
                                    <td style="font-size:9px;width:5%;background-color:dimgray;color:white;border-color:black">VOL</td>
                                    <td style="font-size:9px;width:5%;background-color:dimgray;color:white;border-color:black">cont</td>
                                }
                                <td style="font-size:9px;width:10%;background-color:dimgray;color:white;border-color:black">POL	</td>

                                <td style="font-size:9px;width:10%;background-color:dimgray;color:white;border-color:black">POD	</td>

                                <td style="font-size:9px;width:6%;background-color:dimgray;color:white;border-color:black">ETD	</td>
                                <td style="font-size:9px;width:6%;background-color:dimgray;color:white;border-color:black">ETA	</td>
                                @if (Session["dept"].ToString() == "AE")
                                {

                                    <td style="font-size:9px;width:10%;background-color:dimgray;color:white;border-color:black">FLIGHT	</td>
                                }
                                else if (Session["dept"].ToString() == "SE")
                                {
                                    <td style="font-size:9px;width:10%;background-color:dimgray;color:white;border-color:black">VESSEL	</td>
                                }
                                else if (Session["dept"].ToString() == "AI" || Session["dept"].ToString() == "SI")
                                {
                                    <td style="font-size:9px;width:10%;background-color:dimgray;color:white;border-color:black">VESSEL	</td>
                                }
                            </tr>
                        </thead>

                        <tbody>


                            @{
                                if (customer.Count > 0)
                                {



                                    //htmlString += "

                                }
                                foreach (var item in customer)
                                {

                                 

                                    List<Clr_Det> Clr_det = new List<Clr_Det>();
                                    Clr_det = item.Clr_det;
                                    if (Clr_det == null)
                                    {
                                        Clr_det = new List<Clr_Det>();
                                    }
                                    var Sub_job_id = @item.Sub_job_id;
                                    var lstSubJobNos1 = item;
                                    var HAWB = @item.HAWB;


                                    <tr id="trBankD" style=" border-bottom-color:red;">
                                        <td>@Convert.ToInt32(counter++)</td>
                                        <td>
                                            @{
                                                if (Clr_det.Count > 0)
                                                {
                                                    foreach (var clrjob in Clr_det)
                                                    {
                                                        if (clrjob.Party_InvocieNo != null && clrjob.Party_InvocieNo != "")
                                                        {
                                                            <ap>@clrjob.Party_InvocieNo</ap>
                                                        }

                                                    }
                                                }
                                                else
                                                {
                                                    if (item.Party_InvocieNo != null && item.Party_InvocieNo != "")
                                                    {
                                                        <p>@item.Depatemnet</p>
                                                    }

                                                }
                                            }
                                        </td>

                                        <td>
                                            @if (!string.IsNullOrEmpty(item.Shppr_Cnee))
                                            {
                                                if (item.Shppr_Cnee.Length > 15)
                                                {
                                                    <p title="@item.Shppr_Cnee.ToUpper()">@item.Shppr_Cnee.Substring(0, 15)</p>
                                                }
                                                else
                                                {
                                                    <p title="@item.Shppr_Cnee.ToUpper()">@item.Shppr_Cnee</p>
                                                }
                                            }


                                        </td>
                                        <td>
                                            <span>
                                                @{
                                                    if (!string.IsNullOrEmpty(item.Sub_job_no))
                                                    {
                                                        var clrjobno = "";
                                                        if (Clr_det.Count > 0)
                                                        {
                                                            foreach (var clrjob in Clr_det)
                                                            {
                                                                clrjobno += clrjob.Clr_job_no.Replace("/" + finyear, "") + ",";
                                                            }
                                                            clrjobno = clrjobno.TrimEnd(',');
                                                            clrjobno = clrjobno.Replace(",", "\n");
                                                        }
                                                        if (clrjobno != "")
                                                        {
                                                            <p>@item.Sub_job_no.Replace("/" + finyear, "")</p>
                                                        }
                                                        else
                                                        {
                                                            @item.Sub_job_no.Replace("/" + finyear, "")
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @item.Sub_job_no.Replace("/" + finyear, "")
                                                    }
                                                }
                                            </span><span>/@string.Format("{0:dd-MM-yyyy}", item.Sub_job_date)</span>
                                        </td>

                                        <td>

                                            @if (item.Mode != null && item.Mode != "")
                                            {
                                                @item.Mode
                                            }

                                        </td>

                                        @{
                                            if (Session["dept"].ToString() == "AE")
                                            {
                                                if (item.MAWB != "" && item.MAWB != null)
                                                {
                                                    if (string.IsNullOrEmpty(item.HAWB))
                                                    {

                                                        <td class="text-left">
                                                            <p>@item.MAWB</p>
                                                            @*@item.MAWB*@
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="text-left">
                                                            @item.MAWB
                                                        </td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td class="text-left">
                                                        <p class="fas fa-ban not-available"></p>
                                                    </td>
                                                }
                                                if (HAWB != null && HAWB != "")
                                                {

                                                    <td class="text-left">
                                                        <p>@item.HAWB</p>
                                                        <p>@*@HAWB*@</p>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="text-left">
                                                        <p class="fas fa-ban not-available"></p>
                                                    </td>
                                                }
                                            }
                                            else if (Session["dept"].ToString() != "SE")
                                            {
                                                if (item.MAWB != "" && item.MAWB != null)
                                                {
                                                    <td class="text-left">
                                                        @item.MAWB
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="text-left">
                                                        <p class="fas fa-ban not-available"></p>
                                                    </td>
                                                }
                                                if (HAWB != null && HAWB != "")
                                                {
                                                    <td class="text-left">
                                                        <p>@HAWB</p>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="text-left">
                                                        <p class="fas fa-ban not-available"></p>
                                                    </td>
                                                }
                                            }
                                            else
                                            {
                                                if (HAWB != null && HAWB != "")
                                                {
                                                    <td class="text-left">
                                                        @if (!string.IsNullOrEmpty(item.Hawb_Hbl_Fileref))
                                                        {

                                                            <p>@HAWB</p><br />
                                                        }
                                                        else
                                                        {
                                                            <p>@HAWB</p>
                                                        }

                                                    </td>
                                                }
                                                else if (item.MAWB != "" && item.MAWB != null)
                                                {
                                                    <td class="text-left">
                                                        @if (!string.IsNullOrEmpty(item.Mawb_Mbl_Fileref))
                                                        {

                                                            <p>@item.MAWB</p><br />
                                                        }
                                                        else
                                                        {
                                                            <p>@item.MAWB</p>
                                                        }

                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="text-left">
                                                        <p class="fas fa-ban not-available"></p>
                                                    </td>
                                                }
                                            }
                                        }
                                        <td>
                                            @{
                                                if (Clr_det.Count > 0)
                                                {
                                                    foreach (var clrjob in Clr_det)
                                                    {
                                                        if (!string.IsNullOrEmpty(clrjob.fileref))
                                                        {

                                                            <p>@clrjob.sb_be_no</p>
                                                        }
                                                        else
                                                        {
                                                            @clrjob.sb_be_no
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    if (!string.IsNullOrEmpty(item.sb_be_no))
                                                    {
                                                        if (!string.IsNullOrEmpty(item.fileref))
                                                        {

                                                            <span>@item.sb_be_no </span>
                                                        }
                                                        else
                                                        {
                                                            @item.sb_be_no
                                                        }
                                                    }

                                                }
                                            }
                                        </td>
                                        <td>
                                            @{
                                                if (Clr_det.Count > 0)
                                                {
                                                    foreach (var clrjob in Clr_det)
                                                    {
                                                        if (!string.IsNullOrEmpty(clrjob.Doctype))
                                                        {
                                                            @clrjob.Doctype.Substring(0, 4)<br />
                                                        }


                                                    }
                                                }
                                                else
                                                {
                                                    if (!string.IsNullOrEmpty(item.Doctype))
                                                    {
                                                        @item.Doctype.Substring(0, 4)
                                                    }

                                                }
                                            }
                                        </td>
                                     <td class="text-right">
                                                        @{
                                                            if (Clr_det.Count > 0)
                                                            {
                                                                foreach (var clrjob in Clr_det)
                                                                {
                                                                    <p id="PKG">@clrjob.PKG /  @clrjob.GRWT</p>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <p id="PKG">@item.PKG /  @item.GRWT</p>
                                                            }
                                                        }
                                                    </td>
                                        @{
                                            if (Session["dept"].ToString() == "SI" || Session["dept"].ToString() == "SE")
                                            {
                                                <td class="text-right">
                                                    @{
                                                        if (item.HAWB == "only clearance")
                                                        {
                                                            <text>NA</text>
                                                        }
                                                        else
                                                        {
                                                            if (string.IsNullOrEmpty(item.vol))
                                                            {
                                                                <p class="fas fa-ban not-available"></p>
                                                            }
                                                            else
                                                            {
                                                                @item.vol
                                                            }
                                                        }
                                                    }
                                                </td>
                                                <td class="text-right">
                                                    @{
                                                        if (item.HAWB == "only clearance")
                                                        {
                                                            <text>NA</text>
                                                        }
                                                        else
                                                        {
                                                            if (string.IsNullOrEmpty(item.Container_no))
                                                            {
                                                                <p class="fas fa-ban not-available"></p>
                                                            }
                                                            else
                                                            {
                                                                @item.Container_no
                                                            }
                                                        }
                                                    }
                                                </td>
                                            }
                                        }
                                        <td>
                                            @if (Session["dept"].ToString() == "AE" || Session["dept"].ToString() == "SE")
                                            {
                                                if (item.Branch != null)
                                                {
                                                    <P title="@item.Branch">@item.pol_code</P>
                                                }
                                                else
                                                {
                                                    <p class="fas fa-ban not-available"></p>
                                                }
                                            }
                                            else
                                            {
                                                if (item.Destination != null)
                                                {
                                                    @item.Destination
                                                }
                                                else
                                                {
                                                    <p class="fas fa-ban not-available"></p>
                                                }
                                            }

                                        </td>
                                        <td>
                                            @if (Session["dept"].ToString() == "AE" || Session["dept"].ToString() == "SE")
                                            {
                                                if (item.Destination != null)
                                                {
                                                    @item.Destination
                                                }
                                                else
                                                {
                                                    <p class="fas fa-ban not-available"></p>
                                                }
                                            }
                                            else
                                            {
                                                if (item.Branch != null)
                                                {
                                                    @item.Branch
                                                }
                                                else
                                                {
                                                    <p class="fas fa-ban not-available"></p>
                                                }
                                            }
                                        </td>
                                        <td class="text-center">
                                            @{
                                                if (item.HAWB == "only clearance")
                                                {
                                                    <text>NA</text>
                                                }
                                                else
                                                {
                                                    if (item.ETD != null)
                                                    {
                                                        var eta = string.Format("{0:dd/MM/yyyy}", item.ETD);
                                                        @eta
                                                    }
                                                    else
                                                    {
                                                        <p class="fas fa-ban not-available"></p>
                                                    }
                                                }

                                            }
                                        </td>
                                        <td class="text-center">
                                            @{
                                                if (item.HAWB == "only clearance")
                                                {
                                                    <text>NA</text>
                                                }
                                                else
                                                {
                                                    if (item.ETA != null)
                                                    {
                                                        var etd = string.Format("{0:dd/MM/yyyy}", item.ETA);
                                                        @etd
                                                    }
                                                    else
                                                    {
                                                        <p class="fas fa-ban not-available"></p>
                                                    }
                                                }
                                            }
                                        </td>
                                        <td class="text-center">
                                            @{
                                                if (item.HAWB == "only clearance")
                                                {
                                                    <text>NA</text>
                                                }
                                                else
                                                {
                                                    if (item.vessel_voyag != null)
                                                    {
                                                        var vessel = string.Format("{0:dd/MM/yyyy}", item.vessel_voyag);
                                                        @vessel
                                                    }
                                                    else
                                                    {
                                                        <p class="fas fa-ban not-available"></p>
                                                    }
                                                }
                                            }
                                        </td>

                                    </tr>

                                }
                            }
                        </tbody>
                    
                    </table>
                </div>
            </div>
        </div>

    </div>

</body>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<div id="printdiv" style="display:none;">

</div>
<div>
    <h1>Please wait while your pdf is generating....</h1>
</div>


<script>
    debugger;

    $('#allval').hide();
    debugger;
    $(function () {
        url = window.location.origin + "/CustomerPortal/GeneratePdfFile_WithHeader/";
        var _htmlString = $('#allval').html();

        var _formatted_job_no = $('#hidmasterjobno').val();
        _formatted_job_no = "MASTER-JOB-0009";

        $.ajax({
            url: url,
            data: { htmlString: _htmlString, formatted_job_no: _formatted_job_no },
            cache: false,
            type: "POST",
            success: function (data) {
                window.location.href = data;
            },
            error: function (reponse) {
            }
        });
    })




</script>
