﻿@using CaptchaMvc.HtmlHelpers;
@model Ryal_CRM.Models.tbl_crm_user_master

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<style>
    @@import "compass/css3";

    html {
        overflow-y: scroll;
    }

    body {
        font-family: 'Titillium Web', sans-serif;
    }

    a {
        text-decoration: none;
        transition: .5s ease;
    }

    .form {
        padding: 40px;
        max-width: 600px;
        margin: 40px auto;
    }

    .tab-group {
        list-style: none;
        padding: 0;
        margin: 0 0 40px 0;
    }

    li a {
        display: block;
        text-decoration: none;
        padding: 15px;
        font-size: 20px;
        float: left;
        width: 50%;
        text-align: center;
        cursor: pointer;
        transition: .5s ease;
    }

    .tab-content > div:last-child {
        display: block;
    }

    h1 {
        text-align: center;
        margin: 0 0 40px;
    }

    label {
        position: absolute;
        transform: translateY(6px);
        left: 13px;
        transition: all 0.25s ease;
        -webkit-backface-visibility: hidden;
        pointer-events: none;
        font-size: 18px;
    }

        label.active {
            transform: translateY(50px);
            left: 2px;
            font-size: 12px;
        }

    input, textarea {
        font-size: 18px;
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        background: none;
        background-image: none;
        border-radius: 0;
        transition: border-color .25s ease, box-shadow .25s ease;
    }

    textarea {
        resize: vertical;
    }

    .field-wrap {
        position: relative;
        margin-bottom: 40px;
    }

    .button {
        border: 0;
        outline: none;
        border-radius: 0;
        padding: 15px 0;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: .1em;
        transition: all.5s ease;
        -webkit-appearance: none;
    }

    .button-block {
        display: block;
        width: 100%;
    }

    .forgot {
        margin-top: -20px;
        text-align: right;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .login-bg {
        /*background-image: url(https://erp.ryal.in/Content/images/login-bg.jpg);*/
        background-image: url('../../Content/images/ryal-crm.jpg');
        /*background-image: url(/RyalErp2/Content/images/login-bg.jpg);*/
        /*background-image: url(https://erp.ryal.in/Content/images/login-bg.jpg);*/
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        padding-top: 0px;
    }

    .login .last-div {
        width: 400px;
        float: right;
        background-color: transparent;
        margin-right: 0;
        border-radius: 15px;
        overflow: hidden;
        box-sizing: border-box;
        /*box-shadow: 0 0 20px rgb(0 0 0 / 30%);*/
    }

    .login-top-cntr + .animated-form {
        padding: 40px;
        background-color: #fff;
    }

    .animate-label .input-group {
        padding-right: 0;
    }

    .login .grid-12 {
        padding: 0px;
    }

    .login-logo {
        /*background-image: url(https://erp.ryal.in/Content/images/login-bg.png);*/
        /*background-image: url(/RyalErp2/Content/images/login-bg.png);*/
        /*background-image: url(http://ec2-13-126-55-177.ap-south-1.compute.amazonaws.com/RyalErp2/Content/images/login-bg.png);*/
        background: #fff;
        background-size: cover;
        border-bottom: 1px solid #e5e3e5;
        padding: 25px;
    }

        .login-logo img {
            display: block;
            margin: auto;
        }

    body {
        border-top: 0px solid #fff !important;
    }

    .body-content {
        padding: 0 !important;
    }

    html {
        overflow: hidden !important;
    }

    .login .last-div {
        height: auto !important;
    }

    .login .form-field .grid-12 {
        padding: 0 2%;
    }

    .login-btn {
        position: relative;
        width: 100%;
    }

        .login-btn:hover i {
            color: #006cb8;
        }

        .login-btn i:hover {
            color: #006cb8;
        }

            .login-btn i:hover + input {
                color: #006cb8;
                border: 1px solid #006cb8;
                background: #fff;
            }

        .login-btn i {
            position: absolute;
            top: 6px;
            left: 115px;
            font-size: 26px;
            color: #fff;
            cursor: pointer;
        }

        .login-btn input {
            width: 100% !important;
            padding-left: 20px !important;
        }

    .animate-label .input-group.UserLoginForm:before {
        background-image: url('../../Content/img/user_icon.png');
        left: 10px;
        top: 14px;
        width: 26px;
        height: 18px;
    }

    .animate-label .input-group.UserLoginForm:after {
        content: '';
        position: absolute;
        width: 1px;
        left: 50px;
        top: 10px;
        height: 24px;
        background: #9fa4a6;
        border-radius: 50%;
    }

    .animate-label .input-group.UserLoginPassword:before {
        background-image: url('../../Content/img/password-icon.png');
        left: 10px;
        top: 14px;
        width: 26px;
        height: 18px;
    }

    .animate-label .input-group.UserLoginPassword:after {
        content: '';
        position: absolute;
        width: 1px;
        left: 50px;
        top: 10px;
        height: 24px;
        background: #9fa4a6;
        border-radius: 50%;
    }

    .login-btn input[type=submit] {
        color: #fff;
        border: 1px solid #006cb8;
        background-image: linear-gradient(to right, #283997, #0664b3);
        height: 40px;
    }

        .login-btn input[type=submit]:hover {
            color: #006cb8;
            border: 1px solid #006cb8;
            background: #fff;
            position: relative;
        }

    .login-btn input + label {
        position: absolute;
        top: 50px;
        left: 118px;
        color: #fff;
        font-size: 22px;
    }

    .login-btn input:hover + label {
        color: #006cb8;
    }

    .login-btn input:focus + label {
        outline: none;
    }

    .modal .close {
        color: #000;
        opacity: 1;
        font-weight: 100;
        font-size: 18px;
        width: 20px;
        height: 20px;
        text-align: center;
        background: #fff;
        border-radius: 50%;
        margin-top: 6px;
        margin-right: 5px;
        text-shadow: 0 0 0 #fff;
    }

    .reset-pass1 {
        padding: 7px 8px 0px;
        color: #1155a9;
        margin-top: 15px;
        cursor: pointer;
    }

    .change-password-sec .fgroup.reset-password-input label {
        top: 6px;
    }

    .change-password-sec .fgroup.reset-password-input.in label {
        top: -12px;
    }

    .font-family {
        font-family: 'Poppins', sans-serif;
    }
</style>
<style>
    .captcha {
        color: #fff;
        position: relative;
    }

        .captcha a {
            color: transparent;
            background: url(/Content/images/recaptcha-img.png);
            display: inline-block;
            background-size: 100%;
            width: 36px;
            height: 37px;
            background-repeat: no-repeat;
            position: relative;
            top: -42px;
            left: 148px;
            vertical-align: top;
            z-index: 5;
        }

        .captcha #CaptchaInputText {
            width: 80%;
            margin: 0 auto;
            position: absolute;
            bottom: 3px;
            left: 0;
            right: 0;
            padding: 0 10px;
            font-size: 12px !important;
            height: 46px;
            margin-left: 200px;
            z-index: 5;
        }

        .captcha img#CaptchaImage {
            width: 132px;
            display: inline-block;
            margin-bottom: 0;
            margin-left: 0px;
            border: 1px solid #f1f1f2;
        }

        .captcha br {
            display: none;
        }
</style>
<div class="login-bg">
    <section class="login parallax common-top">
        <div class="container">
            <div class="outer-div">
                <div class="middle-div">
                    <div class="last-div">
                        <div class="grid-12">
                            <div class="login-cntr">
                                <div class="login-top-cntr">
                                    <div class="login-logo"><img src="~/Content/images/rayal-logo.png"></div>
                                </div>
                                <div class="animated-form">
                                    <div class="grid-layout">
                                        <!-- <h1 style="color: #127BA3;">User Login</h1> -->
                                        @using (Html.BeginForm("Login", "CustomerPortal", FormMethod.Post, new { }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="form-row animate-label">
                                                <div class="form-field p0">
                                                    <div class="grid-12">
                                                        <div class="input-group UserLoginForm">
                                                            <input type="text" name="user_login_id" id="user_login_id" style="padding-bottom: 15px;" class="inputType user-name inputTypeblack" required placeholder="user name" />
                                                        </div>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>

                                            <div class="form-row animate-label">
                                                <div class="form-field" style="padding-bottom: 20px;">
                                                    <div class="grid-12">
                                                        <div class="input-group UserLoginPassword">
                                                            <input type="password" name="user_login_password" id="user_login_password" class="inputType password inputTypeblack" required placeholder="Password" />
                                                        </div>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-6 col-lg-6">
                                                <div>
                                                    <div class="captcha" style="height: 60px;margin-top: -12px;">
                                                        @Html.Captcha(6)
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="grid-12" style="padding: 0 2%;">
                                                    <div class="submitformbtn text-center spacingtopbot login-btn">
                                                        <input type="submit" class="button button-block" value="Login">
                                                        <label class="las la-sign-in-alt"></label>
                                                    </div>
                                                </div>
                                                <div class="reset-pass1">
                                                    <span id="change-password">Forgot Password ??</span>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </section>

    <div class="modal-backdrop fade in" style="display:none"></div>
    <div id="view-change-password" class="modal fade in" role="dialog" style="margin-top: 197.25px; display: none;" aria-hidden="false">
        <div class="modal-dialog cascading-modal change-password-dialog">
            <div class="modal-content" style="width: 100%;margin: 0 auto;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style="color:#f80606;font-size:20px;">×</button>
                    <h4 class="modal-title" style="text-align: center;text-transform: uppercase; background: #2a2d94;color:#fff; padding: 5px;" id="milestone_job">Forgot Password</h4>
                </div>
                <div class="" style="padding: 0px 10px;">
                    <div class="panel-header big-header">
                        <div class="change-password-sec">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="fgroup reset-password-input">
                                        <label for="Email" class="font-family">Email ID</label>
                                        <input id="emailid" name="emailid" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="fgroup reset-password-input">
                                        <label for="UserID" class="font-family">UserID ID</label>
                                        <input id="userid" name="userid" type="text" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="fgroup reset-password-input">
                                        <label for="New_Password" class="font-family">New Password</label>
                                        <input class="pass" id="newpassword" name="newpassword" type="password" autocomplete="off">
                                        <span class="view-password"><i class="fas fa-eye"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="fgroup reset-password-input">
                                        <label for="Confime_Password" class="font-family">Confirm Password</label>
                                        <input class="pass" id="cnfpassword" name="cnfpassword" type="password">
                                        <span class="view-password1"><i class="fas fa-eye"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="display:flex;justify-content: center;">
                                    <div class="row fr btn-head-group">
                                        <button type="button" id="BtnCreatePassword" class="green"><i class="las la-save"></i><span>Save</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<input type="hidden" id="alertMessage" value="@ViewBag.alertMessage" />

<!--Show Message-->
@{
    if (!string.IsNullOrWhiteSpace(ViewBag.alertMessage))
    {
        <script>
            $(function () {
                alert($('#alertMessage').val())
            })
        </script>
    }
}

<script>
    $(function () {
        $("#CaptchaInputText").attr("placeholder", "Enter text");
        $('.navbar').hide();
    })

    $("#change-password").click(function () {

        $("#view-change-password").show();
        $(".modal-backdrop").show();
    });
    $(document).on('click', '.close', function () {
        $("#view-change-password").hide();
        $(".modal-backdrop").hide();
    });

    $('.view-password').on('click', function () {
        if ($("#newpassword").val().length > 0) {
            $('.view-password i').toggleClass("fa-eye fa-eye-slash");
            let input = $(this).parent().find(".pass");
            input.attr('type', input.attr('type') === 'password' ? 'text' : 'password');
        }
        else {
            alert(" please  Enter  New Password ")
        }
    });

    $('.view-password1').on('click', function () {
        if ($("#cnfpassword").val().length > 0) {
            $('.view-password1 i').toggleClass("fa-eye fa-eye-slash");
            let input = $(this).parent().find(".pass");
            input.attr('type', input.attr('type') === 'password' ? 'text' : 'password');
        }
        else {
            alert(" please  Enter Conform  Password ")
        }
    });

    $(document).on('keydown', '#cnfpassword', function () {
        if ($("#newpassword").val() == "") {
            alert("Please Enter New Password");
            $("#newpassword").focus();
            return false;
        }
    });

    $(document).on('change', '#newpassword,#cnfpassword', function () {
        var password_valid = new RegExp("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{8,})");
        var password = $(this).val();
        if (!password_valid.test(password)) {
            alert('Password Must Be Contain At Least 8 Characters, Least 1 Number And Both Lower And Uppercase Letters And Special Characters');
            $(this).focus();
            $(this).val("");

        }
    });
    $(document).on('change', '#emailid', function () {
        var re = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;;
        var password = $(this).val();
        if (!re.test(password)) {
            alert('Please Enter Valid Email Address');
            $(this).val("");
        }
    });

    $(document).on('click', '#BtnCreatePassword', function () {
        debugger
        if ($("#emailid").val() == "") {
            alert("Please Enter EmailID");
        }
        else if ($("#userid").val() == "") {
            alert("Please Enter UserID");
        }
        else if ($("#newpassword").val() == "") {
            alert("Please Enter New Password");
        }
        else if ($("#cnfpassword").val() != $("#newpassword").val()) {
            alert("New and Confirm password not match")
            event.preventDefault();
        }
        else {
            var _url = window.location.origin + "/CustomerPortal/ForgotPassword/";
            $.ajax({
                url: _url,
                method: "post",
                contentType: 'application/json;charset=utf-8',
                dataType: "json",
                data: JSON.stringify({ password: $("#newpassword").val(), userid: $("#userid").val(), emailid: $("#emailid").val() }),
                success: function (data) {
                    alert(data);
                    if (data == "Password Generated Successfully") {
                        window.location = window.location.origin + "/CustomerPortal/LogOut/";
                    }
                },
                error: function (data) {
                    //alert(data);
                }
            })
        }
    });
</script>