﻿@model Ryal_CRM.Models.CustomerModal
@using Ryal_CRM.Controllers
@using AESEncryptDecrypt
@{
    ViewBag.Title = "SI DB";
    AESEncrypt_Decrypt Encrypt_Decrypt = new AESEncrypt_Decrypt();
    List<Customer> customer = ViewBag.Cost_details as List<Customer>;

    var unit_name = Session["unit_name"];
    var finyear = Session["financialyear"].ToString();
    List<SelectListItem> business_name = new List<SelectListItem>();
    business_name.Add(new SelectListItem
    {
        Text = "ALL",
        Value = "0"
    });
    foreach (var item in ((System.Web.Mvc.MultiSelectList)unit_name).Items)
    {
        business_name.Add(new SelectListItem
        {
            Text = ((System.Web.Mvc.SelectListItem)item).Text.ToUpper(),
            Value = ((System.Web.Mvc.SelectListItem)item).Value.ToUpper()
        });
    }
    var userno = Convert.ToInt32(Session["crm_user_no"].ToString());
    var Department = @Model.tbl_Crm_User_s.Where(x => x.crm_user_no == userno).FirstOrDefault();
}
@{
    var colspan = 20;
    if (Department.crm_user_invoice__status == false)
    {
        colspan--;
    }
    if (Department.crm_user_job_status == false)
    {
        colspan--;
    }
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.2/baguetteBox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
<style>
    body {
        text-transform: uppercase !important;
    }

    .grid-container {
        margin-top: 20px;
    }

    .panel-box {
        float: left;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        min-height: 32px;
        border-radius: 8px;
    }

        .panel-box h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 11px;
            color: #fff;
            font-weight: 700;
            margin: 0;
            padding: 0;
            position: absolute;
            bottom: 5px;
        }

        .panel-box a {
            width: 9px;
            height: 9px;
            border-radius: 50%;
            border: 1px solid #fff;
            position: absolute;
            bottom: 10px;
            right: 10px;
        }

        .panel-box h4 {
            font-family: 'Poppins', sans-serif;
            font-size: 12px;
            color: #fff;
            width: 100%;
            margin: 0;
            float: left;
            padding: 0;
            position: relative;
            top: -7px;
        }

    .btn-head-group a {
        font-size: 20px;
        background: #f4f5f9;
    }

    .btn-head-group a {
        background: #f4f5f9;
        display: contents !important;
        line-height: 20px;
        height: 32px;
    }

    .shipment-gallery a {
        text-decoration: none;
    }

    .tabs {
        display: flex;
        list-style-type: none;
        overflow-x: auto;
        position: absolute;
        top: 55px;
        width: 901px;
        overflow: hidden;
        padding-bottom: 20px;
    }

    .modal .close {
        color: #000;
        opacity: 1;
        font-weight: 100;
        font-size: 18px;
        width: 20px;
        height: 20px;
        text-align: center;
        background: #fff;
        border-radius: 50%;
        margin-top: 6px;
        margin-right: 5px;
        text-shadow: 0 0 0 #fff;
    }

    .tabs a {
        padding: 10px;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
        position: relative;
        margin-bottom: 0;
    }


    .tab-panel {
        display: none;
        background-color: #eee;
        padding: 10px;
        font-size: 14px;
    }

        .tab-panel.active {
            display: block;
        }

    .panel-box-img4 {
        background-image: url('pannel-box-img1.jpg');
        background-size: 100% 100%;
    }

    .panel-box h4 {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        color: #fff;
        width: 100%;
        margin: 0;
        float: left;
        padding: 0;
        position: relative;
        top: 0px;
    }

    .panel-box {
        padding: -9px;
        float: left;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        min-height: 32px;
    }

        .panel-box h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 11px;
            color: #fff;
            font-weight: 700;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 18px;
            bottom: 5px;
        }

    .btn-head-group .sub-btn {
        position: fixed;
        width: auto;
        top: 57px;
        right: 0;
        display: flex;
        margin: 0;
        z-index: 99999;
        padding: 0;
    }

    .tabs a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
        position: relative;
        width: 94px;
        height: 1px;
        margin: 6px 0;
    }

    .tab-button:first-child .panel-box {
        opacity: 1;
    }

    .tab-button .panel-box {
        opacity: 0.5;
    }

    .modal .modal-body {
        overflow-x: hidden;
        overflow-y: auto;
        min-height: 300px;
        max-height: 330px;
    }

    .panel-header {
        padding: 0px !important;
    }

    .dept_Company option:first-child {
        color: crimson;
    }

    .search-box .las {
        position: absolute;
        top: 8px;
        right: 10px;
        left: unset;
        font-size: 15px;
        color: #74788d;
        pointer-events: none;
    }

    .fgroup label {
        position: absolute;
        top: 6px;
        left: 5px;
        z-index: 10;
        background: #fff;
        padding: 0 2px;
        transition: all .1s ease-in-out;
        z-index: 1;
        font-weight: normal;
    }

    .table#add_book_table th:first-child {
        border-radius: 10px 0 0 0;
    }

    .table#add_book_table th:last-child {
        border-radius: 0px 10px 0 0;
    }

    .tooltips-box {
        line-height: 0;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        position: relative;
        background: transparent;
    }

        .tooltips-box i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        .tooltips-box span {
            position: absolute;
            bottom: 0;
            pointer-events: none;
            opacity: 0;
            width: auto;
            font-size: 11px;
            padding: 14px 10px;
            background: #fff;
            text-align: center;
            white-space: nowrap;
            border-radius: 4px;
            right: 0;
            transition: all .1s ease-in;
            z-index: 100;
        }

        .tooltips-box:hover {
            border: 1px solid #ccc;
        }

        .tooltips-box:hover, .tooltips-box:focus, .tooltips-box:active {
            border: 1px solid #ccc;
        }

            .tooltips-box:hover span {
                bottom: -16px;
                opacity: 1;
                pointer-events: all;
                right: 30px;
            }

    textarea {
        height: 150px !important;
        resize: none;
        font-size: 14px;
    }

    .table-bordered {
        border: none !important;
    }

    ul.legendcntr {
        display: table;
        float: left;
        margin-right: 67px;
    }

        ul.legendcntr li p {
            margin: 0 3px;
            line-height: 2.5;
            border: 1px solid;
            padding: 0 5px;
            position: relative;
            top: 8px;
            font-size: 10px;
            height: 27px;
        }

    ul.legendclktext li p {
        line-height: 2.5;
        padding: 0 5px;
        position: relative;
        top: 8px !important;
        font-size: 12px;
        height: 27px;
        color: #1168b0;
        cursor: pointer;
        left: -42px;
    }

    ul.legendclktext.showClass {
        position: relative;
        top: 1px;
        left: -21px;
    }

    ul.legendcntr.showClass {
        display: -webkit-inline-box;
        position: relative;
        top: 7px;
    }

    ul.legendclktext.hideClass {
        margin-right: 14px;
    }
</style>
<style>
    .field-validation-error {
        top: 35px;
        margin: 0;
        right: 0;
    }

    .reset-pass.text-center {
        margin-top: 0 !important;
    }

    .profile-edit i {
        font-size: 20px;
        vertical-align: middle;
        margin-right: 2px;
    }

    .reset-pass button {
        position: relative;
    }

    .profile-back {
        width: 80px;
        text-align: center;
        color: #fd7e14;
        border: 1px solid #fd7e14;
        background: #fff;
        line-height: 22px;
        padding: 3px 0;
        border-radius: 10px;
        display: inline-block;
        text-decoration: none;
    }

    .profile-mailid a {
        margin-left: -178px;
    }

    i.fas.fa-file-pdf {
        color: #fd7e14;
        position: relative;
        font-size: 24px;
        left: -39px;
        top: 11px;
    }

    i.fas.fa-file-excel {
        color: #fd7e14;
        position: relative;
        font-size: 24px;
        left: -21px;
        top: 11px;
    }
</style>

<section class="expense-cntr parallax address-book-master">
    <div class="">
        <div class="expense-info">
            <div class="panel tabel-header">
                <section id="breadcrumb">
                    <div class="container-fluid cl">
                        <ul class="breadcrumblist">
                            <li><a href="javascript:void(0)">DashBoard</a></li>
                            <li><span class="dot"></span></li>
                            <li class="page-name">@ViewBag.Title</li>
                        </ul>
                    </div>
                </section>
                @using (Html.BeginForm("SetValue", "CustomerPortal", FormMethod.Post, null))
                {
                    <div class="panel-header big-header search-header">
                        <div class="row filter-panel mar-tb-5">
                            <div class="col  search-box">
                                <div class="fgroup">
                                    <label>Search By</label>
                                    <select id="Search_By" name="Search_By">
                                        <option value=""></option>
                                        <option value="INVOICE">INVOICE NO</option>
                                        <option value="CONSIGNEE">CONSIGNEE</option>
                                        <option value="SB">BOE NO</option>
                                        <option value="POD">PORT OF LOADING</option>
                                        <option value="JOB">JOB NO</option>
                                        <option value="MAWB">MASTER / HOUSE NO</option>
                                    </select>
                                    <i class="las la-angle-down dropdown-ico"></i>
                                </div>
                            </div>

                            <div class="col search-box">
                                <div class="fgroup">
                                    <label>Value</label>
                                    @Html.TextBox("Search_Parameter", @ViewBag.SearchMiddleName as string, new { placeholder = "" })
                                </div>
                            </div>

                            <div class="col search-box">
                                <div class="fgroup">
                                    <label>Stauts </label>
                                    <select id="Stauts" name="Stauts">
                                        <option value=""></option>
                                        <option value="Completed">COMPLETED</option>
                                        <option value="Pending">PENDING</option>

                                    </select>
                                    <i class="las la-angle-down dropdown-ico"></i>
                                </div>
                            </div>

                            <div class="col search-box" style="width: 10%;">
                                <div class="fgroup wid-120">
                                    <label>from</label>

                                    @Html.TextBox("From_Dt", @ViewBag.FromDt as string, new { @style = "", @class = "aDatePicker", autocomplete = "off", @isdatetimepicker = "yes" })
                                    <i class="las la-calendar"></i>
                                </div>
                            </div>
                            <div class="col search-box" style="width: 10%;">
                                <div class="fgroup wid-120">
                                    <label>To</label>
                                    @Html.TextBox("To_Dt", @ViewBag.ToDt as string, new { @style = "", @class = "aDatePicker", autocomplete = "off" })
                                    <i class="las la-calendar"></i>
                                </div>
                            </div>
                            <div class="col" style="width: 33%;">
                                <input type="submit" class="search gobtn" value="Search" btn_cat="search" />
                                <button type="button" id="btn_reset" btn_cat="search" class="Resetbtn fas fa-redo-alt gobtn" style="margin-top:0px;"></button>
                            </div>

                        </div>
                    </div>
                }
                <div class="clear"></div>
            </div>
            <div class="address-book-tabel commonbt70">
                <div class="expense-tabel">
                    <div class="row">
                        <div class="col-md-12" style="overflow: auto; width:100%;">
                            <table id="add_book_table" class="table table-hover table-bordered ">
                                <thead>
                                    <tr>
                                        <th style="width:50px;text-align:center">SR</th>
                                        <th>invoice</th>
                                        <th>Shipper</th>
                                        <th>JOB NO / Date</th>
                                        <th style="text-align:center;">MODE</th>
                                        <th class="text-center">MBL</th>
                                        <th class="text-center">HBL</th>
                                        <th id="SB_NO" class="text-center"> / BOE NO</th>
                                        <th class="text-center">TYPE</th>
                                        <th class="text-center" style="width: 80px;">PKG / WT</th>
                                        <th class="text-center">VOL</th>
                                        <th class="text-center">container</th>
                                        <th>POL</th>
                                        <th>POD</th>
                                        <th class="text-center">ETD</th>
                                        <th class="text-center">ETA</th>
                                        <th class="text-center">Vessel</th>
                                        <th class="text-center">STAT</th>
                                        @if (Department.crm_user_invoice__status == true)
                                        {
                                            <th class="text-center">INV</th>
                                        }
                                        @if (Department.crm_user_job_status == true)
                                        {
                                            <th class="text-center">TRK</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int counter = 1;

                                        if (customer.Count > 0)
                                        {
                                            foreach (var item in customer)
                                            {
                                                List<Clr_Det> Clr_det = new List<Clr_Det>();
                                                Clr_det = item.Clr_det;
                                                if (Clr_det == null)
                                                {
                                                    Clr_det = new List<Clr_Det>();
                                                }
                                                var Sub_job_id = item.Sub_job_id;
                                                var lstSubJobNos1 = item;
                                                var HAWB = item.HAWB;

                                                <tr>
                                                    <td style="text-align:center">@Convert.ToInt32(counter++)</td>
                                                    <td>
                                                        @{
                                                            if (Clr_det.Count > 0)
                                                            {
                                                                foreach (var clrjob in Clr_det)
                                                                {
                                                                    if (clrjob.Party_InvocieNo != null && clrjob.Party_InvocieNo != "")
                                                                    {
                                                                        <a id="Btndoc" class="Invoice-dbclick btn-link " deptno="@clrjob.department" Sub-jobid=@clrjob.Clr_job_id data-toggle="modal" dopenInvoiceata-backdrop="static" data-keyboard="false" btn_cat="print">@clrjob.Party_InvocieNo</a><br />
                                                                    }
                                                                    else
                                                                    {
                                                                        <p class="fas fa-ban not-available"></p><br />
                                                                    }
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (item.Party_InvocieNo != null && item.Party_InvocieNo != "")
                                                                {
                                                                    <a id="Btndoc" class="Invoice-dbclick btn-link " deptno="@item.Department" Sub-jobid=@Sub_job_id data-toggle="modal" dopenInvoiceata-backdrop="static" data-keyboard="false" btn_cat="print">@item.Party_InvocieNo</a>
                                                                }
                                                                else
                                                                {
                                                                    <p class="fas fa-ban not-available"></p>
                                                                }
                                                            }
                                                        }
                                                    </td>

                                                    <td style="text-align:left">
                                                        @if (!string.IsNullOrEmpty(item.Shppr_Cnee))
                                                        {
                                                            if (item.Shppr_Cnee.Length > 15)
                                                            {
                                                                <p title="@item.Shppr_Cnee.ToUpper()">@item.Shppr_Cnee.Substring(0, 15)</p>
                                                            }
                                                            else
                                                            {
                                                                <p title="@item.Shppr_Cnee.ToUpper()">@item.Shppr_Cnee</p>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <p class="fas fa-ban not-available"></p>
                                                        }

                                                    </td>
                                                    <td>
                                                        @{
                                                            if (!string.IsNullOrEmpty(item.Sub_job_no))
                                                            {
                                                                var clrjobno = "";
                                                                if (Clr_det.Count > 0)
                                                                {
                                                                    foreach (var clrjob in Clr_det)
                                                                    {
                                                                        clrjobno += clrjob.Clr_job_no.Replace("/" + finyear, "") + ",";
                                                                    }
                                                                    clrjobno = clrjobno.TrimEnd(',');
                                                                    clrjobno = clrjobno.Replace(",", "\n");
                                                                }
                                                                if (clrjobno != "")
                                                                {
                                                                    <p title="@clrjobno">@item.Sub_job_no.Replace("/" + finyear, "")<br />@string.Format("{0:dd/MM/yyyy}", item.Sub_job_date)</p>
                                                                }
                                                                else
                                                                {

                                                                    @item.Sub_job_no.Replace("/" + finyear, "")<br /><p>@string.Format("{0:dd/MM/yyyy}", item.Sub_job_date)</p>
                                                                }
                                                            }
                                                            else
                                                            {

                                                                @item.Sub_job_no.Replace("/" + finyear, "")<br /><p>@string.Format("{0:dd/MM/yyyy}", item.Sub_job_date)</p>

                                                            }
                                                        }
                                                    </td>

                                                    <td class="text-center">
                                                        @if (item.Mode != null && item.Mode != "")
                                                        {
                                                            @item.Mode
                                                        }
                                                        else
                                                        {
                                                            <p class="fas fa-ban not-available"></p>
                                                        }
                                                    </td>
                                                    @{
                                                        if (item.MAWB != "" && item.MAWB != null)
                                                        {
                                                            <td class="text-left">
                                                                @item.MAWB
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td class="text-left">
                                                                <p class="fas fa-ban not-available"></p>
                                                            </td>
                                                        }
                                                        if (HAWB != null && HAWB != "")
                                                        {
                                                            <td class="text-left">
                                                                <p>@HAWB</p>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td class="text-left">
                                                                <p class="fas fa-ban not-available"></p>
                                                            </td>
                                                        }
                                                    }
                                                    <td class="text-center">
                                                        @{
                                                            if (Clr_det.Count > 0)
                                                            {
                                                                foreach (var clrjob in Clr_det)
                                                                {
                                                                    if (!string.IsNullOrEmpty(clrjob.fileref))
                                                                    {
                                                                        var url = "https://s3.ap-south-1.amazonaws.com/ryalfiles/locker/" + clrjob.Clr_job_no.Substring(1, 3).ToLower() + "/" + clrjob.fileref;
                                                                        <a href="@url" style="color:blue;" target="_blank">@clrjob.sb_be_no</a><br />
                                                                    }
                                                                    else
                                                                    {
                                                                        @clrjob.sb_be_no<br />
                                                                    }
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (!string.IsNullOrEmpty(item.sb_be_no))
                                                                {
                                                                    if (!string.IsNullOrEmpty(item.fileref))
                                                                    {
                                                                        var url = "https://s3.ap-south-1.amazonaws.com/ryalfiles/locker/" + item.Department.ToLower() + "/" + item.fileref;
                                                                        <a href="@url" target="_blank" style="color:blue;">@item.sb_be_no</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        @item.sb_be_no<br />
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <p class="fas fa-ban not-available"></p><br />
                                                                }
                                                            }
                                                        }
                                                    </td>
                                                    <td class="text-center">
                                                        @{
                                                            if (Clr_det.Count > 0)
                                                            {
                                                                foreach (var clrjob in Clr_det)
                                                                {
                                                                    if (!string.IsNullOrEmpty(clrjob.Doctype))
                                                                    {

                                                                        switch (clrjob.Doctype.Substring(0, 4).ToLower())
                                                                        {
                                                                            case "temp":
                                                                                <p class="legend TemperatureLegend" style="color: blue;"><i class="las la-thermometer-full" style="font-size: 19px;position: relative;top: 2px;"></i></p>
                                                                                break;
                                                                            case "haza":
                                                                                <p class="legend TemperatureLegend" style="color: red;"><i class="las la-skull-crossbones" style="font-size: 19px;position: relative;top: 2px;"></i></p>
                                                                                break;
                                                                            default:
                                                                                <p class="legend TemperatureLegend" style="color: green;"><i class="lab la-gofore" style="font-size: 19px;position: relative;top: 2px;"></i></p>
                                                                                break;
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <p class="fas fa-ban not-available"></p><br />
                                                                    }
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (!string.IsNullOrEmpty(item.Doctype))
                                                                {

                                                                    switch (item.Doctype.Substring(0, 4).ToLower())
                                                                    {
                                                                        case "temp":
                                                                            <p class="legend TemperatureLegend" style="color: blue;"><i class="las la-thermometer-full" style="font-size: 19px;position: relative;top: 2px;"></i></p>
                                                                            break;
                                                                        case "haza":
                                                                            <p class="legend TemperatureLegend" style="color: red;"><i class="las la-skull-crossbones" style="font-size: 19px;position: relative;top: 2px;"></i></p>
                                                                            break;
                                                                        default:
                                                                            <p class="legend TemperatureLegend" style="color: green;"><i class="lab la-gofore" style="font-size: 19px;position: relative;top: 2px;"></i></p>
                                                                            break;
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <p class="fas fa-ban not-available"></p><br />
                                                                }
                                                            }
                                                        }
                                                    </td>
                                                    <td class="text-right">
                                                        @{
                                                            if (Clr_det.Count > 0)
                                                            {
                                                                foreach (var clrjob in Clr_det)
                                                                {
                                                                    <p id="PKG">@clrjob.PKG /  @clrjob.GRWT</p>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <p id="PKG">@item.PKG /  @item.GRWT</p>
                                                            }
                                                        }
                                                    </td>
                                                    <td class="text-right">
                                                        @{
                                                            if (item.HAWB == "only clearance")
                                                            {
                                                                <text>NA</text>
                                                            }
                                                            else
                                                            {
                                                                if (string.IsNullOrEmpty(item.vol))
                                                                {
                                                                    <p class="fas fa-ban not-available"></p>
                                                                }
                                                                else
                                                                {
                                                                    @item.vol
                                                                }
                                                            }
                                                        }
                                                    </td>
                                                    <td class="text-right">
                                                        @{
                                                            if (item.HAWB == "only clearance")
                                                            {
                                                                <text>NA</text>
                                                            }
                                                            else
                                                            {
                                                                if (string.IsNullOrEmpty(item.Container_no))
                                                                {
                                                                    <p class="fas fa-ban not-available"></p>
                                                                }
                                                                else
                                                                {
                                                                    @item.Container_no
                                                                }
                                                            }
                                                        }
                                                    </td>

                                                    <td>
                                                        @if (item.Destination != null)
                                                        {
                                                            @item.Destination
                                                        }
                                                        else
                                                        {
                                                            <p class="fas fa-ban not-available"></p>
                                                        }

                                                    </td>
                                                    <td>
                                                        @if (item.Branch != null)
                                                        {
                                                            @item.Branch
                                                        }
                                                        else
                                                        {
                                                            <p class="fas fa-ban not-available"></p>
                                                        }
                                                    </td>
                                                    <td class="text-center">
                                                        @{
                                                            if (item.HAWB == "only clearance")
                                                            {
                                                                <text>NA</text>
                                                            }
                                                            else
                                                            {
                                                                if (item.ETD != null)
                                                                {
                                                                    var eta = string.Format("{0:dd/MM/yyyy}", item.ETD);
                                                                    @eta
                                                                }
                                                                else
                                                                {
                                                                    <p class="fas fa-ban not-available"></p>
                                                                }
                                                            }

                                                        }
                                                    </td>
                                                    <td class="text-center">
                                                        @{
                                                            if (item.HAWB == "only clearance")
                                                            {
                                                                <text>NA</text>
                                                            }
                                                            else
                                                            {
                                                                if (item.ETA != null)
                                                                {
                                                                    var etd = string.Format("{0:dd/MM/yyyy}", item.ETA);
                                                                    @etd
                                                                }
                                                                else
                                                                {
                                                                    <p class="fas fa-ban not-available"></p>
                                                                }
                                                            }
                                                        }
                                                    </td>
                                                    <td class="text-center">
                                                        @{
                                                            if (item.HAWB == "only clearance")
                                                            {
                                                                <text>NA</text>
                                                            }
                                                            else
                                                            {
                                                                if (item.vessel_voyag != null)
                                                                {
                                                                    var vessel = string.Format("{0:dd/MM/yyyy}", item.vessel_voyag);
                                                                    @vessel
                                                                }
                                                                else
                                                                {
                                                                    <p class="fas fa-ban not-available"></p>
                                                                }
                                                            }
                                                        }
                                                    </td>
                                                    <td class="text-center">
                                                        @{
                                                            if (@item.STATUS == "1")
                                                            {
                                                                <i class="fas fa-check" style="color: green;width: 20px;text-align: center;"></i>
                                                            }

                                                            else if (@item.STATUS == "2")
                                                            {
                                                                <i class="las la-user-clock" style="color:#fd397a;font-size: 20px;"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="las la-user-clock" style="color:#fd397a;font-size: 20px;"></i>
                                                            }
                                                        }
                                                    </td>
                                                    @if (Department.crm_user_invoice__status == true)
                                                    {
                                                        <td class="text-center">
                                                            <button class="openInvoice Invoice-click btn-link tooltips-box " jobtype="con" value="@Sub_job_id" jobno="@item.Sub_job_no" data-toggle="modal" deptno="@item.Department" data-backdrop="static" data-keyboard="false" btn_cat="print"><i class=" fas fa-file-invoice"></i><span>Click To View Bill</span></button>
                                                        </td>
                                                    }
                                                    @if (Department.crm_user_job_status == true)
                                                    {
                                                        <td class="text-center">
                                                            @{
                                                                <button class="openTrack view-track-popup track-click btn-link tooltips-box" jobtype="con" value="@Sub_job_id" data-toggle="modal" data-backdrop="static" jobno="@item.Sub_job_no" deptno="@item.Department" data-keyboard="false" btn_cat="print"><i class="fas fa-solid fa-list"></i><span>Track</span></button>

                                                            }
                                                        </td>
                                                    }
                                                </tr>
                                            }
                                        }

                                        else
                                        {
                                            <tr>
                                                <td colspan="@colspan" class="text-center">
                                                    Record Not Found
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--View Milestone Popup-->
<div id="add_doc" class="modal fade in" role="dialog" style="margin-top: 156.25px;" aria-hidden="false">
    <div class="modal-dialog cascading-modal" style="width: 900px;">
        <div class="modal-content" style="width: 100%;margin: 0 auto;">
            <div class="modal-header">
                <button type="button" class="close  " data-dismiss="modal" style="color:#f80606;font-size:20px;">&times;</button>
                <h4 class="modal-title" style="text-align: center;text-transform: uppercase; background: #2a2d94;color:#fff; padding: 5px;">document locker(for: -<label id="doc_subjobno"></label>)</h4>
                <input type="hidden" id="jobtype" name="jobtype" />
            </div>
            <div class="modal-body" style="padding: 10px;">
                <div class="panel-header big-header">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="main_table_add_doc" class="table table-hover table-bordered col-header">
                                <thead>
                                    <tr>
                                        <th style="display:none;">ID</th>
                                        <th style="display:none;">code</th>
                                        <th>Name</th>
                                        <th>User</th>
                                        <th>Remark</th>
                                        <th class="text-center">View</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="view-track-popup" class="modal fade in" role="dialog" style="margin-top: 197.25px; display: none;" aria-hidden="false">
    <div class="modal-dialog cascading-modal">
        <div class="modal-content" style="width: 100%;margin: 0 auto;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="color:#f80606;font-size:20px;">×</button>
                <h4 class="modal-title" style="text-align: center;text-transform: uppercase; background: #2a2d94;color:#fff; padding: 5px;" id="milestone_job"></h4>
            </div>
            <div class="modal-body" style="padding: 0px 10px;">
                <div class="panel-header big-header ">
                    <div class="form-design">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="main_table_add_track" class="table table-hover table-bordered col-header milestone-table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="view-Invoice-popup" class="modal fade in" role="dialog" style="margin-top: 197.25px; display: none;" aria-hidden="false">
    <div class="modal-dialog cascading-modal">
        <div class="modal-content" style="width: 100%;margin: 0 auto;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="color:#f80606;font-size:20px;">&times;</button>
                <h4 class="modal-title" style="text-align: center;text-transform: uppercase; background: #2a2d94;color:#fff; padding: 5px;">Invoice(for:<label id="Invocie_subjobno"></label>)</h4>
                <input type="hidden" id="jobtype" name="jobtype" />
            </div>
            <div class="modal-body" style="padding: 10px;">
                <div class="panel-header big-header marT10">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="main_table_add_Invocie" class="table table-hover table-bordered col-header">
                                <thead>
                                    <tr>
                                        <th>Sr.no</th>
                                        <th>Invoice No</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in" style="display:none;"></div>
<div id="Invoice-dbclick" class="modal fade in" role="dialog" style="margin-top: 197.25px; display: none;" aria-hidden="false">
    <div class="modal-dialog cascading-modal" style="width:1300px">
        <div class="modal-content" style="width: 100%;margin: 0 auto;">
            <div class="modal-header">
                <button type="button" class="close SHIPMENT" data-dismiss="modal" style="color:#f80606;font-size:20px;">&times;</button>
                <h4 class="modal-title" style="text-align: center;text-transform: uppercase; background: #2a2d94;color:#fff; padding: 5px;">SHIPMENT DETAILS<label id="Invocie_subjobno"></label></h4>
                <input type="hidden" id="jobtype" name="jobtype" />
            </div>
            <div class="modal-body" style="padding: 6px;">
                <div class="panel-header big-header marT10">
                    <div id="print_div">
                        <div class="container-fluid">
                            <div class="panel" style="box-shadow:none !important;">
                                <div class="panel-header panel-primary color1">
                                </div>
                                <div class="panel-body" style="height: 290px;">
                                    <div class="form-design">
                                        <div class="row">
                                            <div class="col">
                                                <div class="fgroup in">
                                                    <label for="Job_Subjob_no" class="in">Job No</label>
                                                    <input id="Job_Subjob_no" maxlength="60" readonly="readonly" type="text">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="fgroup in">
                                                    <label for="Date" class="in">Date</label>
                                                    <input data-val="true" id="Created_on_datetime" maxlength="60" readonly="readonly" type="text">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="fgroup">
                                                    <label for="BE_No">BE No</label>
                                                    <input class="onlynoaccept" id="shipping_bill_no" maxlength="60" readonly="readonly" type="text">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="fgroup">
                                                    <label for="BE_Date">BE Date</label>
                                                    <input data-val="true" readonly="readonly" id="shipping_bill_date" maxlength="60" type="text">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="fgroup">
                                                    <label for="gst_no">gst no</label>
                                                    <input id="gstno" maxlength="60" name="gstno" readonly="readonly" type="text">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="fgroup">
                                                    <label for="ad_code">ad code</label>
                                                    <input id="ad_code" maxlength="60" name="ad_code" readonly="readonly" type="text">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="fgroup">
                                                    <label for="Iec_No">Iec No</label>
                                                    <input id="iec" maxlength="60" name="iec" readonly="readonly" type="text">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="fgroup">
                                                    <label for="SB_Type">BE Type</label>
                                                    <input id="betype" maxlength="60" name="sbtype" readonly="readonly" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="fgroup in">
                                                    <label for="Mbl" class="in">MBL</label>
                                                    <input id="mblno" maxlength="60" name="mawbno" readonly="readonly" type="text">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="fgroup in">
                                                    <label for="Hbl" class="in">HBL</label>
                                                    <input id="hblno" maxlength="60" name="hawbno" readonly="readonly" type="text">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="fgroup">
                                                    <label for="pkgs" class="in">pkgs</label>
                                                    <input data-val="true" data-val-number="" readonly="readonly" id="Total_packages" name="" type="text">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="fgroup">
                                                    <label for="grwt">Gr Wt</label>
                                                    <input id="grwt" maxlength="60" readonly="readonly" type="text">
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="fgroup">
                                                    <label for="D-pol">POL</label>
                                                    <input id="D_pol" maxlength="60" name="pod" readonly="readonly" type="text">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="fgroup">
                                                    <label for="D-coo">COO</label>
                                                    <input id="coo" maxlength="60" name="cod" readonly="readonly" type="text">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="fgroup">
                                                    <label for="F-Port">Co-shpt</label>
                                                    <input id="shpt" maxlength="60" name="fpod" readonly="readonly" type="text">
                                                </div>
                                            </div>
                                            <div class="col">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-50">
                                                <div class="row">
                                                    <div class="col col-50">
                                                        <div class="fgroup in">
                                                            <label for="Consignee_Address" class="in">Consignee Address</label>
                                                            <textarea id="Consignee_Address" readonly="readonly"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col col-50">
                                                        <div class="fgroup in">
                                                            <label for="Shipper_Address" class="in">Shipper Address</label>
                                                            <textarea id="ShipperAddress" readonly="readonly"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col col-50">
                                                <div class="panel panel-border-none" style="margin-top:-6px;">
                                                    <div class="panel-header panel-primary color5 panel-header-text">
                                                        <h3><i class="fal fa-file-invoice"></i>Invoice Details</h3>
                                                    </div>
                                                    <div class="panel-body marT5 panel-body-area">
                                                        <div class="form-design">
                                                            <div class="row">
                                                                <div class="col col-50">
                                                                    <div class="fgroup">
                                                                        <label for="Inv_No">Inv No</label>
                                                                        <input id="SINV_NO" maxlength="60" name="SINV_NO" readonly="readonly" type="text">
                                                                    </div>
                                                                </div>
                                                                <div class="col col-50">
                                                                    <div class="fgroup">
                                                                        <label for="Date">Date</label>
                                                                        <input data-val="true" readonly="readonly" id="SINV_DATE" maxlength="60" name="AEC_SINV_DATE" type="text">
                                                                    </div>
                                                                </div>
                                                                <div class="col col-50">
                                                                    <div class="fgroup">
                                                                        <label for="Inco_term">Inco term</label>
                                                                        <input id="incoterm" maxlength="60" name="incoterm" readonly="readonly" type="text">
                                                                    </div>
                                                                </div>
                                                                <div class="col col-50">
                                                                    <div class="fgroup">
                                                                        <label for="Value_In_FCR">Value In FCR</label>
                                                                        <input id="valueinfcr" maxlength="60" name="valueinfcr" readonly="readonly" type="text">
                                                                    </div>
                                                                </div>
                                                                <div class="col col-50">
                                                                    <div class="fgroup">
                                                                        <label for="Currency">Currency</label>
                                                                        <input id="currency" maxlength="60" name="currency" readonly="readonly" type="text">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col col-50">
                                                                    <div class="fgroup">
                                                                        <label for="Ex_Rate">Ex Rate</label>
                                                                        <input id="exchangerate" maxlength="60" name="exchangerate" readonly="readonly" type="text">
                                                                    </div>
                                                                </div>
                                                                <div class="col col-50">
                                                                    <div class="fgroup in">
                                                                        <div class="fgroup in">
                                                                            <label for="igmno" class="in">IGM No</label>
                                                                            <input id="igmno1" maxlength="60" name="igmno" readonly="readonly" type="text">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col col-50">
                                                                    <div class="fgroup in">
                                                                        <div class="fgroup in">
                                                                            <label for="custduty1" class="in">Cust Duty</label>
                                                                            <input id="custduty1" maxlength="60" name="igmno" readonly="readonly" type="text">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col col-50">
                                                                    <div class="fgroup">
                                                                        <label for="Inv_Value_INR_">A Value(INR)</label>
                                                                        <input data-val="true" id="avalinr" maxlength="60" name="AEC_FOB_Value" readonly="readonly" type="text">
                                                                    </div>
                                                                </div>
                                                                <div class="col col-50">
                                                                    <div class="fgroup in">
                                                                        <label for="cust_doc_type" class="in">Doc Type</label>
                                                                        <input id="cust_doc_type" maxlength="60" name="cust_subdoc_type" readonly="readonly" type="text">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="fgroup in">
                                                                        <label for="Forworder" class="in">Forwarder</label>
                                                                        <input data-val="true" data-val-number="" readonly="readonly" id="Forworder" type="text">
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="fgroup in">
                                                                        <div class="fgroup in">
                                                                            <label for="CFS" class="in">CFS</label>
                                                                            <input id="CFS" maxlength="60" name="CFS" readonly="readonly" type="text">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="fgroup in">
                                                                        <div class="fgroup in">
                                                                            <label for="description" class="in">Description</label>
                                                                            <input id="description" maxlength="60" name="description" readonly="readonly" type="text">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col ">
                                                                    <div class="fgroup in">
                                                                        <label for="cust_subdoc_type" class="in">Doc Sub Type</label>
                                                                        <input id="cust_subdoc_type" maxlength="60" name="cust_subdoc_type" readonly="readonly" type="text">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="preloader" style="">
    <div class="preloader loading spinner">
        <span class="slice"></span>
        <span class="slice"></span>
        <span class="slice"></span>
        <span class="slice"></span>
        <span class="slice"></span>
        <span class="slice"></span>
    </div>
</div>
<script>
        $(document).on("click", ".purple", function () {
        setTimeout(function () { $("#preloader").css("display", "block"); }, 100);
    });
    $(document).ready(function () {
        $("#dept_Company").val("@Session["docno"].ToString()");
          var lastTab = "@Session["dept"].ToString()";
        if (lastTab) {
            $('#' + lastTab).addClass('active');
            Fntabcolor(lastTab);
        }
        $("#view_Customermilestone").css("display", "none !important");
        $("#view_CustomerLocker").css("display", "none !important");


        if ("@Session["Search_By"]" !="" || "@Session["Seach_parameter"]" !="") {
            $(".search-header").css("display", "block");
            $("#Search_By").val("@Session["Search_By"]");
            $("#Search_Parameter").val("@Session["Seach_parameter"]");
        }
        else {
            $(".search-header").css("display", "none");
            $("#Search_By").val("");
            $("#Search_Parameter").val("");
        }
        if ("@Session["Stauts"]" !="" ) {
            $(".search-header").css("display", "block");
            $("#Stauts").val("@Session["Stauts"]");
        }
        else {
            $(".search-header").css("display", "none");
            $("#Stauts").val("");
        }
    })
    $(".opendoc").click(function () {
            $("#preloader").css("display", "block");
            setInterval(function () {
                $("#preloader").css("display", "none");
            }, 1000)
        var sub_id = $(this).val();
        var jobtype = $(this).attr('jobtype');
        $("#jobtype").val(jobtype);
        var job_dept = $(this).attr("deptno");
        var job_no = $(this).attr("Jobno");
        $("#doc_subjobno").text(job_no);

        filllocker1(sub_id, job_dept);
    });
    $(".openInvoice").click(function () {
        var sub_id = $(this).val();
        var jobtype = $(this).attr('jobtype');
        var job_dep = $(this).attr("deptno");
        var deptype1 = job_dep;
        switch (deptype1) {
            case 'SIF':
                deptype1 = "sea import";
                break;
            case 'SIC':
                deptype1 = "sea import clearance";
                break;
        }
        $("#jobtype").val(jobtype);
        filllInvoice(sub_id, deptype1, job_dep);
    });
    $(".openTrack").click(function () {
        $("#preloader").css("display", "block");

        setInterval(function () {
            $("#preloader").css("display", "none");
        }, 1000)
        var sub_id = $(this).val();
        var job_dept = $(this).attr("deptno");
        var jobtype = $(this).attr('jobtype');
        $("#jobtype").val(jobtype);
        fillTrack(sub_id, job_dept);
    });
    function filllocker(data, job_dept) {
        var table = document.getElementById("main_table_add_doc");
        for (var i = table.rows.length - 1; i > 0; i--) {
            table.deleteRow(i);
        }
        var main_table_add_doc = $("#main_table_add_doc");
        for (var i = 0; i < data.length; i++) {
            $("#doc_remark").val("");
            var full_url = "";
            switch (job_dept) {
                case 'SIF':
                    full_url = "https://s3.ap-south-1.amazonaws.com/ryalfiles/locker/sif/" + data[i].lockerfile;
                    if (data[i].docno == "75") {
                        full_url = "https://s3.ap-south-1.amazonaws.com/ryalfiles/" + data[i].lockerfile;
                    }
                    break;
                case 'SIC':
                    full_url = "https://s3.ap-south-1.amazonaws.com/ryalfiles/locker/sic/" + data[i].lockerfile;
                    if (data[i].docno == "74") {
                        full_url = "https://s3.ap-south-1.amazonaws.com/ryalfiles/" + data[i].lockerfile;
                    }
                    break;
            }
            var tr = $("<tr><td style='display:none;'>" + data[i].docno + "</td><td>" + data[i].docname + "</td><td><p title = " + data[i].lockeron + ">" + data[i].lockerby + "</p></td><td>" + data[i].docremark + "</td><td class='text-center'><a href=" + full_url + " class='printbtn' target='_blank'><i class='las la-eye'></i><span style='display: none;'>" + data[i].lockerid + "</span></a></td></tr>");
            main_table_add_doc.append(tr);
        }
    }
    function filllocker1(sub_id, job_dept) {
        if (sub_id != "") {
            var jobtype = $("#jobtype").val();
            var url = "";

            if (jobtype == "dir") {
                url = window.location.origin + "/CustomerPortal/Get_Doclocker_Direct/";
                if (window.location.origin == "http://ec2-13-233-140-191.ap-south-1.compute.amazonaws.com") {
                    url = window.location.origin + "/" + window.location.pathname.split('/')[1] + "/CustomerPortal/Get_Doclocker_Direct/";
                }
            }
            else {
                url = window.location.origin + "/CustomerPortal/Get_Doclocker_Consol/";
                if (window.location.origin == "http://ec2-13-233-140-191.ap-south-1.compute.amazonaws.com") {
                    url = window.location.origin + "/" + window.location.pathname.split('/')[1] + "/CustomerPortal/Get_Doclocker_Consol/";
                }
            }
            $.ajax({
                url: url,
                data: { masterjobid: sub_id, subjobid: sub_id, job_dept: job_dept },
                cache: false,
                method: "POST",
                success: function (data) {
                    if (data != null) {
                        if (data.length > 1 && data[0].type == "new") {
                            $("#doc_name").val("");
                            $("#doc_file").val("");
                            $("#doc_remark").val("");
                            $("#doc_sub_master_jobid").val(sub_id);
                            var table = document.getElementById("main_table_add_doc");
                            for (var i = table.rows.length - 1; i > 0; i--) {
                                table.deleteRow(i);
                            }
                        }
                        else {
                            $("#doc_name").val("");
                            $("#doc_file").val("");
                            $("#doc_sub_master_jobid").val(sub_id);
                            filllocker(data, job_dept);
                        }
                    }
                    $("#add_doc").css("display", "block");
                    $(".modal-backdrop").css("display", "block");


                },
                error: function (response) {
                },
                failure: function (response) {
                }
            });
        }
    }
    function ConvertJsonDateString(jsonDate) {
        var shortDate = null;
        if (jsonDate) {
            var regex = /-?\d+/;
            var matches = regex.exec(jsonDate);
            var dt = new Date(parseInt(matches[0]));
            var month = dt.getMonth() + 1;
            var monthString = month > 9 ? month : '0' + month;
            var day = dt.getDate();
            var dayString = day > 9 ? day : '0' + day;
            var year = dt.getFullYear();
            shortDate = dayString + '-' + monthString + '-' + year;
        }
        return shortDate;
    };
    function GetInvoice(data, job_dep) {
        var table = document.getElementById("main_table_add_Invocie");
        for (var i = table.rows.length - 1; i > 0; i--) {
            table.deleteRow(i);
        }
        var counter = 1;
        var main_table_add_Invocie = $("#main_table_add_Invocie");
        for (var i = 0; i < data.length; i++) {
            $("#Invocie_subjobno").text(data[0].job_no);
            var jsonDate = data[i].AirExportInvoice_date;
            var date = ConvertJsonDateString(jsonDate);
            var url = "https://s3.ap-south-1.amazonaws.com/ryalfiles/" + "INV-NO-" + data[i].AirExportInvoice_No +".pdf";
            var tr = $("<tr><td>" + counter + "</td><td>" + data[i].AirExportInvoice_No + "</td><td>" + date + "</td><td><p>" + data[i].AirExportTotal_Amount + "</p></td><td class='text-left'><a href='" + url +"' class='printbtn' target='_blank'><i class='fas fa-eye'></i><span id='AirExportBilling_id' style='display: none;'>" + data[i].AirExportBilling_id + "</span></a></td></tr>");
            counter++;
            main_table_add_Invocie.append(tr);
        }
    }
    function filllInvoice(sub_id, deptype1, job_dep) {
        if (sub_id != "") {
            if (sub_id != "") {
                url = window.location.origin + "/CustomerPortal/Get_Invoice_Data/";
                if (window.location.origin == "http://ec2-13-233-140-191.ap-south-1.compute.amazonaws.com") {
                    url = window.location.origin + "/" + window.location.pathname.split('/')[1] + "/CustomerPortal/Get_Invoice_Data/";
                }
            }
            $.ajax({
                url: url,
                data: { subjobid: sub_id, subjobid: sub_id, deptype1: deptype1 },
                cache: false,
                method: "POST",
                success: function (data) {
                    if (data != null) {
                        if (data.length > 1) {
                            $("#Invocie_subjobno").text(data[0].job_no);
                            var table = document.getElementById("main_table_add_Invocie");
                            for (var i = table.rows.length - 1; i > 0; i--) {
                                table.deleteRow(i);
                            }
                        }
                        else {
                            GetInvoice(data, job_dep);
                        }
                    }
                    $("#view-Invoice-popup").css("display", "block");
                    GetInvoice(data, job_dep);
                    $(".modal-backdrop").css("display", "block");

                },
                error: function (response) {

                },
                failure: function (response) {
                }
            });
        }
    }
    function fillTrack(sub_id, job_dept) {
        if (sub_id != "") {
            if (sub_id != "") {
                url = window.location.origin + "/CustomerPortal/Get_Track_Date/";
                if (window.location.origin == "http://ec2-13-233-140-191.ap-south-1.compute.amazonaws.com") {
                    url = window.location.origin + "/" + window.location.pathname.split('/')[1] + "/CustomerPortal/Get_Track_Date/";
                }
            }
            $.ajax({
                url: url,
                data: { subjobid: sub_id, subjobid: sub_id,job_dept: job_dept },
                cache: false,
                method: "POST",

                success: function (data) {
                    $("#main_table_add_track  tr td").remove();
                    var tbl_milstone = $("#main_table_add_track");
                    for (var i = 0; i < data.length; i++) {
                        var query_resolve = "";
                        var srno = "background: #5e5757;color: white;";
                        if (data[i].milestone_status == "Query") {
                            query_resolve = "<p>Query : " + data[i].query_data + "</p>";
                            srno = "background: red;color: white;";
                        }
                        else if (data[i].milestone_status == "Resolve") {
                            query_resolve = "<p>Query : " + data[i].query_data + "<br />Resolve : " + data[i].resolve_data + "</p>";
                            srno = "background: blue;color: white;";
                        }
                        else if (data[i].milestone_status == "Completed") {
                            query_resolve = "<p>Completed : " + data[i].resolve_data + "</p>";
                            srno = "background: green;color: white;";
                        }
                        var td = "<td><p style='" + srno + "'>" + (i + 1) + "</p></td><td><p>" + data[i].milestonename + "\n" + query_resolve + "</p></td><td class='text-center'><div class='shipment-gallery'>";
                        if (data[i].images != null) {
                            var milestoneimg = data[i].images;
                            for (var j = 0; j < milestoneimg.length; j++) {
                                td += "<a href='" + milestoneimg[j] + "' class='printbtn' target='_blank' class='removeloader'><i class='las la-eye' style='font-size: 18px;'></i><span style='display: none;'></span></a>";
                            }
                        }
                        td += "</div></td>";
                        var tr = $("<tr>" + td + "</tr>");
                        tbl_milstone.append(tr);
                    }
                    $("#view-track-popup").css("display", "block");

                    loadslider();
                },

                error: function (response) {

                },
                failure: function (response) {
                }
            });
        }
    }
    $(document).on('click', '.close', function () {
        $("#view-Invoice-popup").hide();
        $("#Invoice - popup").hide();

        $("#add_doc").hide();
        $("#view-track-popup").hide();
        $(".modal-backdrop").hide();
    });

    $('#dept_Company').change(function () {
        var CompanyName = $("#dept_Company option:selected").val();
            var url = window.location.origin + "/CustomerPortal/changedcompany/";

            $.ajax({
                url: url,
                data: { compno: CompanyName },
                cache: false,
                type: "POST",
                success: function (data) {
                    location.reload();
                },
                error: function (reponse) {
                }
            });
    });

    $("#btn_reset").on('click', function () {
        $("#Search_By").val("");
        $("#Search_Parameter").val("");
        $("#Stauts").val("");
        $("#From_Dt").val("");
        $("#To_Dt").val("");
        $('input[value="Search"]').trigger("click");
    });

    $(".track-click").click(function () {
        $("#preloader").css("display", "block");
        $(".edit-profile-pic-btn").css("display", "block")
        setInterval(function () {
            $("#preloader").css("display", "none");
        }, 1000)
        $("#view-track-popup").show();
        $(".modal-backdrop").show();
        var job_no = $(this).attr("Jobno");
        $("#milestone_job").text(job_no);
    });

    $(".Invoice-click").click(function () {
        $("#preloader").css("display", "block");
        setInterval(function () {
            $("#preloader").css("display", "none");
        }, 1000)
        $("#view-Invoice-popup").show();
        $(".modal-backdrop").show();
        var job_no = $(this).attr("Jobno");
        $("#Invocie_subjobno").text(job_no);

    });
    $(".openCustomermilestone").click(function () {
        $("#view_Customermilestone").show();
    });
    $("#CustomerLocker").click(function () {
        $("#view_CustomerLocker").show();

    });
    $(document).on('click', '.close', function () {

        $("#view_Customermilestone").hide();
        $("#view_CustomerLocker").hide();
    });

    $(".Invoice-dbclick").click(function () {

        $("#Invoice-dbclick").show();
      $("#preloader").css("display", "block");

        setInterval(function () {
            $("#preloader").css("display", "none");
        }, 1000)

        $(".modal-backdrop.fade.in").css("display", "block")
        $(".edit-profile-pic-btn").css("display", "block")
        var sub_id = $(this).attr("Sub-jobid");
        var deptno = $(this).attr("deptno");
       InvoiceShipment(sub_id, deptno);
  });

    function InvoiceShipment(sub_id, deptno ) {
    if (sub_id != "") {
            if (sub_id != "") {
                url = window.location.origin + "/CustomerPortal/InvoiceShipment/";
                if (window.location.origin == "http://ec2-13-233-140-191.ap-south-1.compute.amazonaws.com") {
                    url = window.location.origin + "/" + window.location.pathname.split('/')[1] + "/CustomerPortal/InvoiceShipment/";
                }
            }
            $.ajax({
                url: url,
                data: { sub_id: sub_id, deptno: deptno },
                cache: false,
                method: "POST",
                success: function (data) {
                    //line 1

                    console.log(data);
                    $("#Job_Subjob_no").val(data.Subjob_no);
                    $("#Created_on_datetime").val(data.Created_on_datetime);
                    $("#Royal_Impex_Jobno").val(data.Royal_Impex_Jobno);
                    $("#shipping_bill_no").val(data.shipping_bill_no);
                    $("#shipping_bill_date").val(data.shipping_bill_date);
                    $("#gstno").val(data.gstin);
                    $("#ad_code").val(data.adcode);
                    $("#iec").val(data.iecno);

                    //Line 2
                    $("#sbtype").val(data.sbtype);
                    $("#betype").val(data.betype);
                    $("#mawbno").val(data.mawb_mbl);
                    $("#hawbno").val(data.hawb_hbl);
                    $("#mblno").val(data.mawb_mbl);
                    $("#hblno").val(data.hawb_hbl);
                    $("#drawback").val(data.dbkval);

                    $("#D_pod").val(data.fpod);
                    $("#D_pol").val(data.pol);
                    $("#coo").val(data.coo);
                    $("#shpt").val(data.coc);
                    $("#cod").val(data.cod);
                    $("#fpod").val(data.fpod);
                    $("#cfd").val(data.cfd);

                    //Line 4
                    $("#ShipperAddress").val(data.compname + ','+ data.SAddr);
                    $("#Consignee_Address").val(data.cname + ','+ data.CAddr);
                    $("#SINV_NO").val(data.invno);
                    $("#SINV_DATE").val(data.invdt);
                    $("#incoterm").val(data.invinco);
                    $("#valueinfcr").val(data.invvalfcr);
                    $("#currency").val(data.invcur);
                    $("#exchangerate").val(data.invexrate);
                    $("#invvalinr").val(data.fobvalue);
                    $("#avalinr").val(data.avalue);
                    $("#description").val(data.descr);

                    //Line 5
                    $("#cust_doc_type").val(data.cust_doc_type);
                    $("#cust_subdoc_type").val(data.cust_subdoc_type);
                    $("#Total_packages").val(data.Total_packages);
                    $("#aetype").val(data.Packaging_type);
                    $("#grwt").val(data.Total_weight);
                    $("#Forworder").val(data.shipping_bill_date);
                    $("#CFS").val(data.shipping_bill_date);
                    $("#cuser").val(data.cuser);

                    $("#custduty1").val(data.CFS_NO);
                    $("#custduty").val(data.cduty);
                    $("#igmno").val(data.igmno);
                    $("#igmdate").val(data.igmno_date);
                    $("#Forworder").val(data.Cargo_Forwording);
                    $("#CFS").val(data.CFS_NO);
                    $("#shpt").val(data.coc)
                    $("#pkgs1").val(data.Total_packages);
                    $("#igmno1").val(data.ImpClearance_igmno);

                },

                error: function (response) {

                },
                failure: function (response) {
                }
            });
        }
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.2/baguetteBox.min.js"></script>
<script>
    function loadslider() {
        baguetteBox.run('.shipment-gallery', {
            captions: true,
            buttons: 'auto',
            fullScreen: false,
            noScrollbars: false,
            titleTag: true,
            async: false,
            preload: 2,
            animation: 'fadeIn',
            onChange: null,
            overlayBackgroundColor: 'rgba(113,117,115,0.8)'
        });
    }
</script>

<script>
    $('#From_Dt').datetimepicker(
        {
            format: 'DD/MM/YYYY',
            maxDate: new Date(),
        });
    $('#To_Dt').datetimepicker(
        {
            format: 'DD/MM/YYYY',
            maxDate: new Date(),
        });


    function Fntabcolor(tabId) {
        $("#SB_NO").text("BOE NO");
        $(".panel-box-img1").css('opacity', ' 0.5');
        $(".panel-box-img2").css('opacity', ' 0.5');
        $(".panel-box-img3").css('opacity', ' 0.5');
        $(".panel-box-img5").css('opacity', ' 1');
    }
    $(".SHIPMENT").click(function () {
        $("#Invoice-dbclick").hide();
    });

    $("#Search_Parameter").change(function () {
        var txtName = $("#Search_Parameter");
        var name = $.trim(txtName.val());
        txtName.val(name);
    });

    document.onkeyup = function (e) {
        if (e.altKey && e.which == 76) {
            var legends_hideshow = $("#legends_hideshow").val();
            if (legends_hideshow == "legends_show") {
                $("#legends_hideshow").val("legends_hide");
                $('.legendclktext').removeClass('showClass');
                $('.legendcntr').removeClass('hideClass');
                $('.legendclktext').hide();
                $('.legendcntr').show();
                $('.legendclktext').addClass('hideClass');
                $('.legendcntr').addClass('showClass');
            }
            else {
                $("#legends_hideshow").val("legends_show");
                $('.legendclktext').removeClass('hideClass');
                $('.legendcntr').removeClass('showClass');
                $('.legendclktext').show();
                $('.legendcntr').hide();
                $('.legendclktext').addClass('showClass');
                $('.legendcntr').addClass('hideClass');
            }
        }
    };

</script>
<script type="text/javascript">
    $(document).ready(function () {

        var searchcount = 0;
        $('.search-header input, .search-header select').each(function () {
            if (this.value.length > 0) {
                searchcount++;
            }
        });
        if (searchcount > 1) {
            $(".search-header").css("display", "block");
        }
        else {
            $(".search-header").css("display", "none");
        }
        $(window, document, undefined).ready(function () {
            $('input, textarea, select').blur(function () {
                var $this = $(this);
                if ($this.val())
                    $this.addClass('used');
                else
                    $this.removeClass('used');
            });
            setInterval(function () {
                $('input, select, textarea').each(function () {
                    if (this.value.length > 0) {
                        $(this).addClass('used');
                    }
                });
            }, 300);
        });
    });
</script>